/* 复制 reg.20130313.css  单独取首页左上角的地区*/

 
.kv-item{padding-left:0px;padding-bottom:0px; width:500px; float:left}
.kv-nick{padding-bottom:5px;}
.kv-label{display:inline;float:left;width:100px;margin-left:-100px;height:28px;line-height:28px;text-align:right;}
.kv-item .i-text,.kv-item .i-shorttext,.kv-item .msg,.kv-item .msg-weak,.kv-item .msg-b-weak{vertical-align:middle;}
.kv-item .msg-box{width:300px;display:inline-block;zoom:1;*display:inline;vertical-align:top;position:relative;}
.kv-item .msg,.kv-item .msg-weak,.kv-item .msg-b-weak{line-height:18px;color:#666;position:absolute;}
.kv-item .msg-inline{width:300px;}
.kv-item .msg a,.kv-item .msg-weak a,.kv-item .msg-b-weak a{margin:0 2px;}

.kv-item select{padding:3px;}
.kv-item .i-chk{vertical-align:middle;}


