body {
	}
.eshop .shop-header .nav li a,.eshop .shop-header .nav li a em {
	background: url(http: //img06.taobaocdn.com/tps/i6/T1qfdpXm0mXXXXXXXX-200-214.png) 0 0 no-repeat;
}
.eshop .shop-header .nav {
	border-bottom: 1px solid #111;
}
.eshop .shop-header .nav li a {
	background-position: 100% -25px;
}
.eshop .shop-header .nav li a em {
	background-position: 0 0;
}
.eshop .shop-header .nav li a: hover,.eshop .shop-header .nav li .hover,.eshop .shop-header .nav li.current a,.eshop .shop-header .nav li.current a: hover {
	background-position: 100% -75px;
}
.eshop .shop-header .nav li a: hover em,.eshop .shop-header .nav li .hover em,.eshop .shop-header .nav li.current a em,.eshop .shop-header .nav li.current a: hover em {
	background-position: 0 -50px;
}
.eshop .shop-header .nav a: link,.eshop .shop-header .nav a: visited {
	color: #111;
}
.eshop .shop-header .nav a: hover,.eshop .shop-header .nav a: active {
	color: #111;
}
.eshop .shop-header .nav .current a: link,.eshop .shop-header .nav .current a: visited {
	color: #111;
}
.eshop .shop-header .nav .current a: hover,.eshop .shop-header .nav .current a: active {
	color: #111;
}
.box .bd {
	background-color: #fff;
}
.col-main .box .hd h3 {
	background-color: #eee;
	color: #111;
}
.col-main .shop-search .bd {
	background-color: #f5f5f5;
	border-color: #eaeaea;
}
.eshop .box .hd {
	border: 1px solid #999;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.eshop .box .hd h3 {
	background-color: #f5f5f5;
	color: #111;
}
.shop-basic .bd,.shop-info .bd,.shop-search .bd {
	background: #f5f5f5;
}
.eshop .col-sub .shop-info .hd h3,.eshop .col-sub .shop-basic .hd h3,.eshop .shop-intro-v2 .name span,.eshop .col-sub .shop-info-extra li,.tshop-pbsm-sic10c .shop-category .cats .cat h4,.tshop-pbsm-sfd10cm .shop-category .cats .cat h4,.tshop-pbsm-sfdd10c .shop-category .cats .cat h4,.eshop .shop-intro .meta,.eshop .shop-intro .other .collection,.eshop .offwhite,.eshop .box .page-skip button {
	background-color: transparent;
	background-image: url(http://www.linjuzaixian.com/Images/taobao_star_sort-200-680.png);
	background-repeat: no-repeat;
}
.page-skip button,.eshop .box .page-skip button {
	background-position: -100px -44px;
}
.eshop .col-sub .shop-info .hd h3,.eshop .col-sub .shop-basic .hd h3 {
	background-position: 8px -237px;
}
.eshop .col-sub .shop-info-extra li {
	background-position: -195px -145px;
}
.tshop-pbsm-sic10c .shop-category .cats h4,.tshop-pbsm-sfd10cm .shop-category .cats h4,.tshop-pbsm-sfdd10c .shop-category .cats h4 {
	background-position: -20px -605px;
}
.tshop-pbsm-sic10c .shop-category .cats .expand .collapse,.tshop-pbsm-sfd10cm .shop-category .cats .expand .collapse,.tshop-pbsm-sfdd10c .shop-category .cats .expand .collapse {
	background-position: -10px -635px;
}
.tshop-pbsm-sic10c .shop-category .cats .expand h4,.tshop-pbsm-sfd10cm .shop-category .cats .expand h4,.tshop-pbsm-sfdd10c .shop-category .cats .expand h4 {
	background-position: 0 -665px;
}
.eshop .shop-intro .meta {
	background-position: 0 -330px;
	background-repeat: repeat-x;
}
.eshop .shop-intro .other .collection,.eshop .offwhite,.shop-bbs .offwhite {
	background-position: -108px -312px;
}
.eshop .cat-hd a: after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.eshop .shop-bbs table tbody .td-2 {
	vertical-align: middle;
}
.eshop p img {
	float: none;
	margin: 0;
	padding: 0;
}
.eshop .shop-header .grid-c {
	background-color: #e8e8e8;
}
.eshop .shop-header .nav {
	height: 25px;
	margin-top: 3px;
	*margin-top: 1px;
	border-bottom: 1px solid #907e55;
}
.eshop .shop-header .flash-banner .nav {
	*margin-top: 3px;
}
.manage .eshop .shop-header .nav {
	margin-top: 0;
}
.eshop .shop-header .nav li {
	margin-right: 2px;
}
.eshop .shop-header .nav li.current {
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	position: relative;
}
.eshop .shop-header .nav li.current a,.eshop .shop-header .nav li.current a em {
	height: 25px;
}
.eshop .col-main .box .hd h3 {
	line-height: 23px;
	*line-height: 25px;
	_line-height: 23px;
}
.eshop .col-main .shop-search .hd {
	display: none;
}
.eshop .col-main .shop-search .bd {
	padding: 6px 0;
	border: 1px solid #e4e4e4;
}
.eshop .cats,.eshop .cats .cat {
	border-width: 0;
}
.eshop .cats .cat h4 {
	padding-left: 13px;
}
.eshop .cats .cat .cat-bd {
	margin: 0 0 0 13px;
	overflow: hidden;
}
.eshop .level a {
	font-weight: 700;
}
.eshop .main-wrap .search-form {
	margin: 0;
}
.eshop .grid .more-items {
	height: 26px;
}
.eshop .grid .more-items a {
	line-height: 26px;
}
.eshop .grid .more-items a: link,.eshop .grid .more-items a: visited {
	color: #FFF;
	text-decoration: none;
}
.eshop .grid .more-items a: hover,.eshop .grid .more-items a: active {
	color: #FF0;
	text-decoration: none;
}
.eshop .grid .item {
	text-align: right;
}
.eshop .grid .price {
	height: 16px;
}
.eshop .grid .price .market {
	display: block;
	float: left;
	padding-left: 5px;
	color: #808080;
	font-size: 11px;
	line-height: 18px;
}
.eshop .box button,.eshop .box a.button,.eshop .box a.button: visited {
	width: 80px;
	height: 26px;
	margin-top: 0;
	line-height: 26px;
	text-align: center;
	border-width: 0;
	color: #fff;
	cursor: pointer;
	background: url(http://www.linjuzaixian.com/Images/button.png) no-repeat;
}
.eshop .pagination .page-skip button {
	width: 31px;
	height: 15px;
	line-height: 1.2;
	text-indent: -999px;
	overflow: hidden;
}
.eshop .col-sub {
	padding-top: 1px;
}
.eshop .col-sub .box {
	margin-top: -1px;
}
.eshop .col-sub .box .hd {
	background-image: none;
	height: 22px;
}
.eshop .col-sub .box .hd h3 {
	line-height: 22px;
	*line-height: 24px;
	_line-height: 22px;
}
.eshop .box .bd {
	border-color: #e4e4e4;
	border-top-color: #fff;
}
.eshop .col-sub .shop-info .hd {
	display: none;
}
.eshop .col-sub .box .shop-basic .hd {
	display: none;
}
.eshop .col-sub .shop-info .hd h3 {
	padding-left: 26px;
}
.eshop .col-sub .shop-info .bd {
	color: #666;
}
.eshop .col-sub .shop-info-detail {
	padding-bottom: 10px;
	border-bottom: 1px dashed #ded4bb;
}
.eshop .col-sub .shop-info-detail li {
	padding: 2px 0 2px 50px;
	line-height: 16px;
}
.eshop .col-sub .shop-info-detail li span {
	margin-left: -50px;
	float: left;
}
.eshop .col-sub .shop-info-extra {
	margin-top: 10px;
}
.eshop .col-sub .shop-info-extra li {
	margin-top: 6px;
	padding-left: 12px;
	line-height: 16px;
}
.eshop .col-sub .shop-category .bd {
	padding-top: 0;
	padding-left: 5px;
}
.eshop .col-sub .shop-custom .bd {
	padding: 0;
}
.eshop .shop-list .price span {
	display: none;
}
.eshop .shop-list .price strong {
	color: #c00;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
}
.eshop .shop-list .sales-amount {
	height: 18px;
	padding-top: 5px;
	color: #666;
}
.eshop .shop-list .sales-amount em {
	padding: 0 .5em;
	color: #ceaa00;
	font-weight: 700;
}
.eshop .shop-list li {
	_padding-bottom: 21px;
}
.eshop .shop-list .rating {
	padding-top: 5px;
	height: 21px;
	_position: absolute;
}
.eshop .row li {
	height: 90px;
	padding: 0 0 10px 100px;
}
.eshop .row .pic {
	width: 90px;
	height: 90px;
	margin: 0 0 0 -100px;
	border: solid 1px #e4e4e4;
}
.eshop .row .pic a {
	width: 90px;
	height: 90px;
	*font-size: 84px;
}
.eshop .row .desc {
	width: 340px;
	padding-top: 5px;
	text-align: left;
	font-size: 14px;
	font-weight: 700;
}
.eshop .row .desc a: link,.eshop .row .desc a: visited {
	color: #36c;
}
.eshop .row .price {
	float: right;
	width: auto;
	text-align: right;
}
.eshop .row .price .now {
	float: right;
}
.eshop .row .price span {
	text-indent: 99px;
}
.eshop .row .price strong {
	clear: right;
}
.eshop .row .price .market {
	display: block;
	clear: right;
	float: right;
	width: auto;
	text-indent: 0;
	color: #999;
}
.eshop .row .price .market span {
	width: auto;
	text-indent: 0;
	background-image: none;
}
.eshop .row .remain-date {
	display: none;
}
.eshop .row .sales-amount,.eshop .row .rating {
	clear: right;
	float: right;
	display: block;
	width: 200px;
	text-align: right;
	position: static;
}
.eshop .row .more-items a {
	float: right;
}
.eshop .col-sub .shop-basic .hd h3 {
	padding-left: 26px;
}
.eshop .col-sub .shop-basic .bd {
	padding: 6px 0 6px 6px;
}
.eshop .shop-basic .basic {
	margin-bottom: 5px;
}
.eshop .shop-basic .basic .grade li {
	white-space: nowrap;
}
.eshop .shop-bbs .shop-discuss-table .th-2 {
	width: auto;
}
.eshop .shop-intro .meta {
	text-align: center;
	margin: -7px 6px 15px 0;
	border-bottom: 1px solid #e7e7e7;
	padding: 6px;
}
.eshop .shop-intro .meta h4 {
	overflow: hidden;
	text-indent: -999em;
	background: transparent url(http: //a.tbcdn.cn/app/shop/images/mall-logo.png) no-repeat 50% 50%;
}
.eshop .shop-intro .meta p {
	color: #666;
	margin-top: 6px;
}
.eshop .shop-intro .dsr {
	padding-bottom: 8px;
	border-bottom: dotted 1px #ded4bb;
}
.eshop .shop-intro .dsr li {
	padding: 2px 0 1px;
}
.eshop .shop-intro .shopkeeper {
	padding-top: 8px;
	border-top: dotted 1px #fff;
}
.eshop .shop-intro .locus {
	padding-bottom: 8px;
	border-bottom: dotted 1px #ded4bb;
}
.eshop .shop-intro .intro {
	padding-top: 8px;
	border-top: dotted 1px #fff;
}
.eshop .shop-intro li {
	padding: 2px 0 3px;
	line-height: 1.2;
}
.eshop .shop-intro .other {
	width: 94px;
	margin: auto;
}
.eshop .shop-intro .other .collection,.eshop .offwhite,.shop-bbs .offwhite {
	display: block;
	width: 92px;
	height: 18px;
	margin: auto;
	text-align: center;
	line-height: 18px;
	text-indent: 0;
	border: solid 1px #d8d8d8;
	border-right-color: #c8c8c8;
	border-bottom-color: #c8c8c8;
}
.eshop .shop-intro .other .collection: hover,.eshop .offwhite: hover,.shop-bbs .offwhite: hover {
	border-color: #d6c9ab;
	border-right-color: #b8a479;
	border-bottom-color: #b8a479;
}
.eshop .shop-intro .other .collection: link,.eshop .shop-intro .other .collection: visited {
	color: #666;
	text-decoration: none;
}
.eshop .shop-intro-v2 .meta {
	text-align: center;
	margin: -9px 6px 15px 0;
	border-bottom: 1px solid #e7e7e7;
	padding: 6px;
	background: #fff url(http: //a.tbcdn.cn/app/shop/images/mall-logo-bg.png) repeat-x;
}
.eshop .shop-intro-v2 .meta h4 {
	overflow: hidden;
	text-indent: -999em;
	background: transparent url(http: //a.tbcdn.cn/app/shop/images/mall-logo.png) no-repeat 50% 50%;
}
.eshop .shop-intro-v2 .meta p {
	color: #666;
	margin-top: 6px;
}
.eshop .shop-intro-v2 .logo {
	width: 190px;
	height: 59px;
	margin: -9px 0 5px -7px;
	background: #fff url(http: //a.tbcdn.cn/app/shop/images/mall_logo_big.png) no-repeat;
	padding: 0;
}
.eshop .shop-basic .shop-intro-v2 .logo {
	margin: -9px 0 5px -4px;
}
.eshop .shop-intro-v2 .logo h4,.eshop .shop-intro-v2 .logo p {
	display: none;
}
.eshop .shop-intro-v2 .name {
	margin-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
	color: #404040;
}
.eshop .shop-intro-v2 .name span {
	padding-left: 32px;
	line-height: 22px;
	*background-position: 0 -240px;
	background-position: 0 -238px;
}
.eshop .shop-intro-v2 .grade {
	padding-top: 0;
	margin-top: 0;
	border: none;
}
.eshop .shop-intro-v2 .grade li {
	padding: 2px 0 1px;
}
.eshop .shop-intro-v2 .grade h4 {
	display: none;
}
.eshop .shop-intro-v2 li {
	padding: 2px 0 3px;
	line-height: 1.2;
}
.eshop .shop-intro-v2 .shopkeeper {
	padding-top: 8px;
}
.eshop .shop-intro-v2 .locus {
	padding-bottom: 8px;
}
.eshop .shop-intro-v2 .intro {
	padding-top: 8px;
	border-top: 1px dashed #CCC;
}
.eshop .shop-intro-v2 .extend li {
	width: 176px;
}
.eshop .shop-intro-v2 .other {
	border: none;
	overflow: hidden;
	zoom: 1;
}
.eshop .shop-intro-v2 .other .access {
	display: none;
	width: 113px;
	height: 35px;
	text-indent: 0;
	background: url(http: //a.tbcdn.cn/app/shop/images/mall_access_shop.png) no-repeat;
	margin: 0 0 10px 31px;
}
.eshop .shop-intro-v2 .other .access span {
	display: none;
}
.eshop .shop-intro-v2 .other .collection {
	_margin-left: 20px;
}
.eshop .shop-intro-v2 .other .collection {
	display: block;
	width: 92px;
	height: 18px;
	margin-left: 40px;
	text-align: center;
	line-height: 18px;
	text-indent: 0;
	border: solid 1px #d8d8d8;
	border-right-color: #c8c8c8;
	border-bottom-color: #c8c8c8;
	background: url(http: //a.tbcdn.cn/app/shop/images/b2c_favourite.png) no-repeat;
}
.eshop .shop-intro-v2 .other .collection: link,.eshop .shop-intro-v2 .other .collection: visited {
	color: #666;
	text-decoration: none;
}
.shop-category i {
	display: none;
}