/*pub-1|2013-05-07 13:56:04*/.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}
/*\*/* html .clearfix{height:1%}
.clearfix{display:block}
.new-service-mr15{margin-right:15px}
.new-service-dis{margin-top:8px}
.new-service-hide{display:none}
.new-service-error{color:#f50}
.new-service-module{width:197px;overflow:hidden}
.new-service-hd{padding:2px 3px 0;overflow:hidden;position:relative}
.new-service-hd hr{position:absolute;width:100%;top:19px;z-index:0;border:1px solid #ccc;left:0;_left:-180px}
/**/.new-service-hd a{float:left;padding:0 4px;height:17px;line-height:17px;line-height:17px\9}
.new-service-hd a,.new-service-hd a:hover,.new-service-hd a:visited{color:#666;text-decoration:none;z-index:5;position:relative}
.new-service-hd .new-service-hd-current{background-color:#ffe0cc}
.new-service-hd-current a,.new-service-hd-current a:hover,.new-service-hd-current a:visited{color:#f50}
.new-service-bd{width:305px;color:#333;overflow:hidden}
.new-service-btn{float:left;padding-bottom:1px;width:43px;height:21px;line-height:20px;text-align:center;color:#fff;border:0;background:url(http://img04.taobaocdn.com/tps/i4/T1jncHXkdcXXXDoUAt-215-300.png) 0 0 no-repeat;cursor:pointer}
.new-service-btn:hover,.new-service-btn-hover{background-position:0 -21px}
.new-service-link{margin-left:6px;color:#999}
.new-service-link:hover,.new-service-link:visited{color:#666}
