@using Friday.mvc.Models;
@model RegisterModel
@{
    Layout = null;
}
<html class="ks-webkit537 ks-webkit ks-chrome21 ks-chrome">
<head>
            <meta charset="gbk">
            <meta name="description" content="天猫，亚洲最大网上购物网站――淘宝网打造的在线B2C购物平台（B2C，Business to Customer）。在淘宝商城购物，享受100%正品保障、7天退换货、提供发票的服务。加入淘宝商城，将为全新的B2C事业创造更多的奇迹。">
            <meta name="keywords" content="">
       <link rel="shortcut icon" href="http://a.tbcdn.cn/p/mall/base/favicon.ico" type="image/x-icon">
           <link rel="search" href=@Url.Content("/p/mall/header/search.xml") title="天猫"/>

            <title>免费注册-tmall.com天猫</title>
			<script src="http://a.tbcdn.cn/??s/kissy/1.3.0/kissy-min.js,p/mall/base/global-v2.js?t=201305061223"></script>
			<script>
			    window.g_config = {
			        startTime: new Date().valueOf()
			    };
			    window._poc = [['_setRate', 1]];
			</script>
            <style>
                html,body{
                    padding:0;
                    margin:0;
                    overflow:hidden;
                }
            </style>
        <script type="text/javascript" async="" id="tb-beacon-aplus" exparams="category=&amp;userid=&amp;aplus" src="http://a.tbcdn.cn/s/aplus_v2.js"></script><script type="text/javascript" async="" src="http://a.tbcdn.cn/s/fdc/??spm.js,spmact.js?v=20130507"></script></head>
<body><script type="text/javascript">
          (function (d) {
              var t = d.createElement("script"); t.type = "text/javascript"; t.async = true; t.id = "tb-beacon-aplus";
              t.setAttribute("exparams", "category=&userid=&aplus");
              t.src = ("https:" == d.location.protocol ? "https://s" : "http://a") + ".tbcdn.cn/s/aplus_v2.js";
              d.getElementsByTagName("head")[0].appendChild(t);
          })(document);
</script>

<iframe id="J_Member" src="http://reg.taobao.com/member/new_register.jhtml?from=tmall&amp;ex_info=&amp;ex_sign=&amp;css_style=tmall&amp;t=1368408722" style="width:100%;height:100%;overflow-y:auto;" scrolling="auto" frameborder="no" border="0">
<html xmlns="http://www.w3.org/1999/xhtml"><head><script src="http://a.tbcdn.cn/apps/matrix-mission/feedback/feedback.js?t=20121116" async=""></script><script src="http://count.tbcdn.cn/counter3?keys=TCART_234_38c167a6afe5319b2232eca6e9b0ec70_q&amp;callback=_loadCartNumCallback&amp;t=1368408723435" async=""></script><script src="http://a.tbcdn.cn/p/tstart/1.0/build/tb-mpp-min.js?t=20120608" async=""></script><script src="http://a.tbcdn.cn/p/tlabs/1.0.0/tlabs-min.js?t=20120608" async=""></script><script src="http://acjs.aliyun.com/actionlog/js/ua.js" async=""></script>
    	<!-- ************************** new ********************************* -->
    	<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
        <link rel="shortcut icon" href="http://http://pics.taobao.com//favicon.ico" type="image/x-icon">
		<meta name="data-spm" content="a1z08">
        <title>新会员免费注册</title>
        <meta http-equiv="X-UA-Compatible" content="IE=7">
        <meta name="description" content="欢迎免费注册淘宝，淘宝 - 亚洲最大的网上交易平台，拥有近2亿商品，提供安全便捷的购物体验，提供先行赔付、假一赔三、7天无理由退货等售后服务，同时这里还提供了各类网上赚钱的机会。">
        <meta name="keywords" content="会员注册 免费 淘宝 网上开店 网上购物 网上交易 网上商店 免费开店 网上买东西">
        <link rel="search" type="application/opensearchdescription+xml" href="http://assets.taobaocdn.com//plugins/opensearch/provider.xml" title="淘宝购物">
        <!-- <link rel="stylesheet" href="http://assets.taobaocdn.com//app/uc/register.css?t=20090813.css" />  -->
    <script type="text/javascript" async="" id="tb-beacon-aplus" exparams="category=&amp;userid=&amp;aplus" src="http://a.tbcdn.cn/s/aplus_v2.js"></script><script type="text/javascript" async="" src="http://a.tbcdn.cn/s/fdc/??spm.js,spmact.js?v=20130507"></script><link id="yui__dyn_0" type="text/css" charset="utf-8" rel="stylesheet" href="http://a.tbcdn.cn/s/tbra/1.0/assets/tbra.css"><style type="text/css">.reg-checkcode-img,.reg-checkcode-audio{width:175px;height:32px;line-height:32px;position:absolute;}.reg-checkcode-audio{display:none;}.reg-checkcode-img img,.reg-checkcode-audio audio{float:left;display:inline;width:100px;height:30px;border:1px solid #CDCDCD;cursor:pointer;}.reg-checkcode-refresh{display:none;width:100px;height:30px;vertical-align:middle;border:1px solid #CDCDCD;position:absolute;left:0;top:0;cursor:pointer;}.reg-audio-state{float:left;display:inline;width:100px;height:30px;border:1px solid #CDCDCD;position:relative;}.reg-audio-state-text{display:block;width:70px;height:30px;padding-left:30px;font-size:12px;color:#999;text-decoration:none;background:url(http://img01.taobaocdn.com/tps/i1/T1HVriXnVeXXbjRy2i-21-169.png) no-repeat 10px -93px;z-index:1;position:absolute;cursor:text;}.reg-audio-state-text:hover{text-decoration:none;}.reg-audio-state-progress{width:0;height:30px;background-color:#186BCA;position:absolute;left:0;top:0;z-index:0;}.reg-audio-over{width:100px;padding-left:0;color:#186BCA;text-align:center;background:none;cursor:pointer;}.reg-audio-over:hover{text-decoration:underline;}.reg-checkcode-refresher{float:left;display:inline;width:32px;height:32px;vertical-align:top;text-indent:-9999em;outline:none;border-right:1px solid #DDD;background:url(http://img01.taobaocdn.com/tps/i1/T1HVriXnVeXXbjRy2i-21-169.png) no-repeat 7px -145px;}.reg-checkcode-switcher{float:left;display:inline;width:32px;height:32px;vertical-align:top;text-indent:-9999em;outline:none;background:url(http://img01.taobaocdn.com/tps/i1/T1HVriXnVeXXbjRy2i-21-169.png) no-repeat 0 0;}.reg-checkcode-refresher,.reg-checkcode-switcher{filter:alpha(opacity=70);opacity:0.7;}.reg-checkcode-refresher:hover,.reg-checkcode-switcher:hover{filter:alpha(opacity=100);opacity:1;border-color:#EAEAEA;}.reg-audio-switcher{background-position:6px -40px;}.reg-img-switcher{background-position:5px 10px;}</style></head>
	
    <body class="chl-reg" data-spm="4"><script type="text/javascript">
                                           (function (d) {
                                               var t = d.createElement("script"); t.type = "text/javascript"; t.async = true; t.id = "tb-beacon-aplus";
                                               t.setAttribute("exparams", "category=&userid=&aplus");
                                               t.src = ("https:" == d.location.protocol ? "https://s" : "http://a") + ".tbcdn.cn/s/aplus_v2.js";
                                               d.getElementsByTagName("head")[0].appendChild(t);
                                           })(document);
</script>

    	<script type="text/javascript">
    	    function pageBeforeunload(evt, type) {
    	        var xhr;
    	        if (window.XMLHttpRequest) {
    	            xhr = new XMLHttpRequest();
    	        }
    	        else {
    	            try {
    	                xhr = new ActiveXObject('Microsoft.XMLHTTP');
    	            }
    	            catch (e) { }
    	        }
    	        var start = document.getElementById("reg_st_id").value;
    	        var url = "http://reg.taobao.com/member/statistics/register_statistic.do?t=1";
    	        url = url + "&s=" + start + "&e=" + new Date().getTime();
    	        xhr.open('GET', url, true);
    	        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    	        xhr.send();
    	    }
    	    (function () {
    	        window.onbeforeunload = pageBeforeunload;
    	        var v = document.createElement("input");
    	        v.setAttribute("id", "reg_st_id");
    	        v.setAttribute("name", "reg_st");
    	        v.setAttribute("type", "hidden");
    	        v.setAttribute("value", new Date().getTime());
    	        //v.value=(new Date()).getTime();
    	        document.body.appendChild(v);
    	    })();
		</script><input id="reg_st_id" name="reg_st" type="hidden" value="1368408722213">
    	<!--umid:嵌套页面，向alipay传递参数umidtoken-->
		<div style="display:none;">
			

            <script type="text/javascript" src="https://a.alipayobjects.com/ar/alipay.security.um-1.0.js?t=20121010114100"></script>
    <script type="text/javascript">
        (function () {
            try {
                um.init({
                    debug: false,                        //线上false
                    enabled: true,
                    timeout: 3000,                   //看页面加载
                    ratio: 1,                               //相当于分母 1/1
                    timestamp: '36590406525A5C49514D657B',        //服务端生成
                    flashUrl: '../static/lsa.swf',           //当前目录下
                    serviceUrl: 'https://ynuf.alipay.com/service/um.json',      //需要调用支付宝
                    token: 'T131166bce1dce91cc27802e37203b800'
                });
            } catch (e) {
            }
        })();
    </script><div class="RDVideoHelper" style="position: absolute; z-index: -1; display: block; width: 0px; height: 0px; left: 0px; top: 0px; "><object class="RDVideoObject" type="application/x-rn-downloaderpepperflashvideoshim-plugin" src="http://img.alipay.com/common/um/lsa.swf" width="0" height="0" data-offsetleft="0" data-offsettop="0"></object></div><object type="application/x-shockwave-flash" data="//img.alipay.com/common/um/lsa.swf" width="1" height="1" id="umFlash"><param name="movie" value="//img.alipay.com/common/um/lsa.swf"><param name="allowScriptAccess" value="always"></object>

		</div>
		
					<!-- start vmc css-extra 3.1 -->
	<link rel="stylesheet" href="http://a.tbcdn.cn//p/mall/2.0/css/tmall_reg.css?t=20111122.css">
<!-- end vmc css-extra 3.1 -->
			<!-- start vmc css-global 3.1-->
<link rel="stylesheet" href="http://a.tbcdn.cn//??p/mall/base/global-v2.css,tbra/2.0/tbsp.css,p/mall/base/header-v2.css?t=2013051020121024.css"><!-- end vmc css-global 3.1-->

<!-- start vmc js-global 3.1 -->
<script src="http://a.tbcdn.cn//??s/kissy/1.2.0/kissy-min.js,p/mall/base/global-v2.js,p/mall/base/header-v2.js,s/kissy/1.2.0/suggest-min.js,apps/tmall/tml/1.0/tml/tml-min.js?t=2013051020121022.js"></script><!-- end vmc js-global 3.1 -->

   <script src="http://a.tbcdn.cn/s/tbra/1.0/tbra-widgets.js"></script>
<!-- start vmc js-top 3.1 -->

<!-- end vmc js-top 3.1 -->
			
      <!-- system-announce -->
	      <!--TMall:OptClose-->

    
<!-- 1111 -->
<div id="site-nav" role="navigation">
    <div id="sn-bg">
        <div class="sn-bg-right">
        </div>
    </div>
    <div id="sn-bd">
        <b class="sn-edge"></b>
        <div class="sn-container">
            <p id="login-info" class="sn-login-info">喵，欢迎来天猫！<a class="sn-login" href="http://login.tmall.com?redirect_url=http%3A%2F%2Freg.taobao.com%2Fmember%2Fnew_register.jhtml%3Ffrom%3Dtmall%26ex_info%3D%26ex_sign%3D%26css_style%3Dtmall%26t%3D1368408722" target="_top">请登录</a><a class="sn-register" href="http://register.tmall.com/" target="_top">免费注册</a><i class="sn-separator"></i>
                                                  </p>
            <ul class="sn-quick-menu">
                                            <li class="sn-mytaobao menu-item j_MyTaobao">
                    <div class="sn-menu">
                        <a class="menu-hd" href="http://i.taobao.com/my_taobao.htm" target="_top" rel="nofollow" tabindex="0" aria-haspopup="menu-3" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">我的淘宝<b></b></a>
                        <div class="menu-bd" role="menu" aria-hidden="true" id="menu-3">
                            <div class="menu-bd-panel" id="myTaobaoPanel">
                                    <a href="http://trade.taobao.com/trade/itemlist/list_bought_items.htm?t=20110530" target="_top" rel="nofollow">已买到的宝贝</a>
                                    <a href="http://trade.taobao.com/trade/itemlist/list_sold_items.htm?t=20110530" target="_top" rel="nofollow">已卖出的宝贝</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sn-seller hidden j_SellerCenter">
                    <a target="_top" href="http://mai.taobao.com/seller_admin.htm">商家中心</a>
                </li>
                <li class="sn-mybrand">
                    <a target="_top" id="J_SnMyBrand" class="sn-mybrand-link" href="http://brand.tmall.com/myBrandsIndex.htm">我关注的品牌</a>
                </li>
                <li class="cart mini-cart menu">
                    <a href="http://cart.tmall.com/cart/myCart.htm?from=btop" target="_top" rel="nofollow" class="menu-hd" id="mc-menu-hd"><span class="mini-cart-line"></span><s></s>购物车<span class="mc-count mc-pt3">0</span>件</a>
                </li>
                <li class="sn-favorite menu-item">
                    <div class="sn-menu">
                        <a class="menu-hd" href="http://favorite.taobao.com/collect_list-1-.htm?scjjc=c1" target="_top" rel="nofollow" tabindex="0" aria-haspopup="menu-4" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">收藏夹<b></b></a>

                        <div class="menu-bd" role="menu" aria-hidden="true" id="menu-4">
                            <div class="menu-bd-panel">
                                    <a href="http://favorite.taobao.com/collect_list.htm?itemtype=1" target="_top" rel="nofollow">收藏的宝贝</a>
                                    <a href="http://favorite.taobao.com/collect_list.htm?itemtype=0" target="_top" rel="nofollow">收藏的店铺</a>   
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sn-separator"></li>
                <li class="sn-mobile">
                    <a title="天猫无线" target="_top" class="sn-mobile-link" href="http://mobile.tmall.com/?scm=1027.1.1.1">手机版</a>
                </li>
                <li class="sn-home">
                    <a href="http://www.taobao.com/">淘宝网</a>
                </li>
                <li class="sn-sitemap menu-item">
                    <div class="sn-menu">
                        <a class="menu-hd" href="http://www.tmall.com/go/chn/navi-map/index.php" target="_top" tabindex="0" aria-haspopup="menu-5" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">网站导航<b></b></a>

                        <div class="menu-bd" role="menu" aria-hidden="true" id="menu-5">
                            <ul>
                               
						<li>
						
							 <h3>商家：</h3> 						
						
														<a target="_top" href="http://mai.taobao.com/?spm=3.169406.198401.1">商家中心</a>
														<a class="sitemap-right" target="_top" href="http://zhaoshang.tmall.com/?spm=3.169406.198401.2">商家入驻</a>
														<a target="_top" href="http://fw.tmall.com/?spm=3.169406.198401.3">商家服务</a>
														<a class="sitemap-right" target="_top" href="http://www.tmall.com/go/chn/mall/pzsc-gfsj.php?spm=3.169406.198401.4">商家品控</a>
														<a target="_top" href="http://fuwu.tmall.com/?spm=3.169406.198401.5&amp;scm=1215.100.100.506">商家工具</a>
													
						</li>
					
						<li>
						
													
						
														<a target="_top" href="http://mobile.tmall.com/?spm=3.169406.198401.6">天猫无线</a>
														<a class="sitemap-right" target="_top" href="http://brand.tmall.com/?spm=3.169406.198401.7">品牌街</a>
														<a target="_top" href="http://temai.tmall.com/?spm=3.169406.198401.8">品牌特卖</a>
														<a class="sitemap-right" target="_top" href="http://yao.tmall.com/?spm=3.169406.198401.9">医药馆</a>
														<a target="_top" href="http://book.tmall.com/?spm=3.169406.198401.10&amp;prt=1346727469564&amp;prc=2">天猫书城</a>
													
						</li>
					
						<li>
						
							 <h3>帮助：</h3> 						
						
														<a target="_top" href="http://service.tmall.com/support/tmall/tmallHelp.htm?spm=3.169406.198401.11">帮助中心</a>
													
						</li>
					
                            </ul>
                            <a class="sitemap-more" href="http://www.tmall.com/go/chn/navi-map/index.php" target="_top">更多内容<b class="sitemap-more-link"></b></a>
                        </div>
                    </div>
                </li>
                <li class="sn-mcate j_MallCateHoverTrigger" id="J_MallCate">
                    <div class="sn-menu">
                        <h3 class="menu-hd sn-mcate-hd">所有商品分类<b></b></h3>
                    </div>
                </li>
                                </ul>
        </div>
    </div>
</div>
    <script>
        if (TB && TB.Global && TB.Global.init) {
            TB.Global.init();
        }
    </script>

<div id="header" class="mallChn">
    <div class="headerLayout">
	   	         <!-- flash logo -->



        <div class="headerCon  hasSubLogo ">
        <h1 id="mallLogo">
	<span class="mlogo"><a href="http://www.tmall.com/" title="天猫Tmall.com"><s></s>天猫Tmall.com</a></span>
	                        <span class="slogo"><a href="http://register.tmall.com/" class="register"><s></s>淘宝会员注册</a></span>
            </h1>

                                    </div>
    </div>
</div>

				    	<div id="page">
				






<!--语音验证码服务器url-->


<script>
    var UA_Opt = new Object;
    UA_Opt.ExTarget = ['J_RePwd', 'J_Pwd'];
    UA_Opt.FormId = "J_Step1Form";
    UA_Opt.Token = "";
    UA_Opt.MaxMCLog = 150;
    UA_Opt.MaxKSLog = 150;
    UA_Opt.MaxMPLog = 150;
    UA_Opt.MPInterval = 150;
    UA_Opt.SendInterval = 10;
    UA_Opt.SendMethod = 1;
    UA_Opt.Flag = 131071;
</script>

<link href="http://assets.taobaocdn.com//apps/register/common/css/reg.20130313.css?t=20130313" rel="stylesheet">
<script src="http://assets.taobaocdn.com//apps/register/common/js/??reg.js,step_first.js,client.js?t=20120510" type="text/javascript"></script>
<script>    KISSY.ready(function () { KISSY.getScript('http://acjs.aliyun.com/actionlog/js/ua.js', function () { try { UA_Opt.reload(); } catch (e) { } }); });</script>
	<div id="header" data-spm="1000504">
		        	<h1><a href="http://www.taobao.com/" title="Taobao.com - 阿里巴巴旗下网站">淘宝网</a></h1>
			<h2>账户注册</h2>
		    </div>
    <div id="content" data-spm="1000503">
            	<div class="steps step-1">
                  <ol>
                <li>填写账户信息</li>
                <li>输入校验码</li>
                <li>注册成功</li>
                  </ol>
	        	</div>
        <div class="reg clearfix">
            <div class="form">
                <div class="form-list">
                    <form id="J_Step1Form" name="formRegStep1Main" action="/member/newRegister.jhtml?tg=&amp;&amp;rdn=&amp;timearg=0&amp;tt=0" method="post"><input type="hidden" name="ua" id="UA_InputId" value="108u5ObXObBitH2MRYO9Oz0bASM1EzUrOTDGcM=|uKBnf0cvp+/nbxc/F38Xn0U=|uZFW7MvyeVWudS4JzunB2f45HmT/FF+k2OTDGcM=|voZB+/M0PPvjq4O7fGRsJDz746vj6yy0vLRzayNrY6QsREyWTA==|vzfw1/Aq|vCTjxOM5|vaW9esDnbCBsYMg/yOS/xCNvdI+kv0SjmGO4T5TPFD9kSL9UD3OJpf6FHiJuNRn+Vd6SSYJ6ET3GHcWJUkmCSS51+QOYcxjjO1wHi3FN1q1GnvnC/sI4BEjUH0Sc0AsQ2xB3O+P7w6sja2Prk7uTtHNU35Pf03uMe1cMd+zQnMfrDECbgEuAZ1ynfItzT0OYQFtD7+dviADn7wggx1sjaEI4JAPZAw==|sqqCRWJFnw==|s6sz9E5GgZnB6S4GwebKzeow6g==|sKigZ0D60oqS+sIFz+jwyKAoYGjgmLCY8JgQ3NQzOzO7s4sDCzO7M2tTC1MLk4sDye4pIfvcBg==|samRVuzLsSrBinENMTZOaa6J82qDhJyEQ3u8hJxbc0tjRJ5E|tu4pk7Qd5w6VrhUy9U8HPzfw2FBYgkVNiq2KTVVtBV2HXQ==|t88IspU8xi+0jzQT1MwLEytDO+E7|tPw7gaaBRs6WUTkRWZ62zoYO1A4=|tc0KsJc+xC22jTYR1t4ZURlBabNp|qtIVr4gh2zKpkikOycEGTgZeBtwG|q9MUrokg2jOokygPyNAXP2dvN0+VTw==|qNAXrYoj2TCrkCsMy9MUPGRsBBzGHA==|qdEWrIsi2DGqkSoNysIFLUUNFS33LQ==|rtYRq4wl3zatli0KzcUCKkIKEkqQSg==|r9cQqo0k3jeslywLzNQTK2Prc3uhew==|rNQTqY4n3TSvlC8Iz9cQKGDocFiCWA==|rdUSqI8m3DWulS4JzsYBOXHpkfkj+Q==|ouotl7CLcJvXjGcrDMvz64NEbCQc26Prc1tDGwPZAw==|o+vj6ywk48sMZKPLwwR8FNPL04tMVGwU0+uzi0zUzAsTS9MUDESDu8MEPPvDm1xkLOvT6ywUPPvD2xwkLOvDW5y0PPvTq2y7wxk=">
                        <input name="_tb_token_" type="hidden" value="dGY3IgUwuAm">
						<input type="hidden" name="CtrlVersion" value="1,0,0,7">
						<input type="hidden" id="tid" name="tid" value="">
						<input type="hidden" name="userFrom" value="http://reg.taobao.com/member/new_register.jhtml">
						<input type="hidden" name="agreement" value="1">
						<input type="hidden" name="action" value="new_register_action">
						<input type="hidden" name="event_submit_do_register_user" value="anything">
						<input type="hidden" name="_fm.n._0.a" value="">
						<input type="hidden" name="refuser" value="">
						<input type="hidden" name="appendinfo" value="">
						<input type="hidden" name="regcheck" value="regcheck">
						<input type="hidden" name="jversion" value="" id="J_Version">
						<input type="hidden" name="jversiondo" value="" id="J_VersionDo">
						<input type="hidden" name="hr" value="dXNFZ0tYLTd0cnVl">
						<input type="hidden" id="J_Tips" name="tips" value="">
						<input type="hidden" id="J_Disable" name="disable" value="">
						<input type="hidden" name="" value="">
						<input type="hidden" name="" value="">
						<input type="hidden" id="tt" name="tt" value="">
						<input type="hidden" id="calculate" name="calculate" value="">

						<input type="hidden" name="oslanguage" value="zh-CN">
                        <input type="hidden" name="sr" value="1440*900">
                        <input type="hidden" name="osVer" value="windows|6.1">
                        <input type="hidden" name="naviVer" value="chrome|21.0118089">

																		
						<input type="hidden" id="yparam" name="_fm.n._0.y" value="">
						<input type="hidden" id="done" name="_fm.n._0.d" value="">
						                        	<input type="hidden" name="TPL_redirect_url" value="">
												                        	<input type="hidden" name="redirect_url_name" value="">
						
													<input class="J_From" type="hidden" name="css_style" value="tmall">
						
						<div class="kv-item kv-nick">
                            <span class="kv-label"><label for="J_Nick">会员名：</label></span>
                            <input class="i-text err-input" id="J_Nick" name="_fm.n._0.n" value="" type="text">

							<div class="msg-box">
																	<div class="msg-weak msg-inline show msg-error" id="J_NickTip" style="visibility: visible; ">
								                                    <i></i>
                                    <div class="msg-cnt">不能为空</div>
                                </div>
                            </div>
							<div class="num-tip" id="J_NumTip" style="visibility: hidden; "></div>
                            <div class="nick-suggest" id="J_NickSuggest" style="display: none; ">
                                <span class="nick-suggest-tit">推荐你使用：</span>
                                <ul id="J_NickSuggestList">
                                </ul>
                            </div>
                        </div>


                        <div class="kv-item">
                            <span class="kv-label"><label for="J_Pwd">登录密码：</label></span>
                            <input class="i-text" id="J_Pwd" name="_fm.n._0.p" type="password" value="">
							<div class="msg-box">
								                                <div class="msg-weak msg-inline hide" id="J_PwdTip">
								                                    <i></i>
                                    <div class="msg-cnt">
										请填写登录密码
                                    	
                															</div>
                                </div>
                            </div>

							<div class="pw-strength pw-weak" id="J_PwdStrength">
                                <div class="pw-bar"></div>
                                <div class="pw-letter"><span>弱</span><span>中</span><span>强</span></div>
                            </div>
                        </div>



                        <div class="kv-item">
                            <span class="kv-label"><label for="J_RePwd">确认密码：</label></span>
                            <input class="i-text" id="J_RePwd" type="password" name="_fm.n._0.c" value="" disabled="">
                            <div class="msg-box">
								                                <div class="msg-weak msg-inline hide" id="J_RePwdTip" style="visibility: hidden; ">
								                                    <i></i>
                                    <div class="msg-cnt">
                                    	
                															</div>
                                </div>
                            </div>
                        </div>


                        <div class="kv-item">
                            <span class="kv-label"><label for="J_Code">验证码：</label></span>
                            <input class="i-shorttext" id="J_Code" type="text" autocomplete="off" name="i61T0V0qKdy/e7DFRj39MFV9+UemGDtR4gCoN0MOpQL7SEZUIsgDv1Pcn8vHSyHKsrc77FruFWpou7Kjb7akums=" maxlength="4">
							<!--
							<img class="checkcode-img dn" id="J_CheckCodeImg" data-src="http://pin.aliyun.com/get_img?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7" width="102" height="26" />
                            <span class="checkcode-change">
								看不清？<a href="#nogo" id="J_ImgCodeHandle">换一张</a>
                            </span>
                            <a href="#nogo" id="J_AudioCodeHandle" class="audiocode-ico" data-url="http://pin.aliyun.com/get_audio?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7"><img alt="点击后键入您听到的数字" src="http://img02.taobaocdn.com/tps/i2/T1S4eLXeFmXXXXXXXX-16-16.png"></a>
							-->
							<div id="J_CheckCode" class="checkcode checkcode-v" data-imgurl="http://pin.aliyun.com/get_img?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7" data-audiourl="http://pin.aliyun.com/get_audio?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7" data-apiserver="http://pin.aliyun.com/"><div class="reg-checkcode-img" id="J_ImgCode1" style="display: block; "><img id="J_CheckCodeImg1" width="100" height="30" onmousedown="return false;" src="http://pin.aliyun.com//get_img?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7&amp;kjtype=default&amp;t=1368408724050"><a href="#nogo" onmousedown="return false;" role="button" title="重新获取验证码" aria-label="重新获取验证码" id="J_ImgRefresher1" class="reg-checkcode-refresher" style="">重新获取验证码</a><a href="#nogo" onmousedown="return false;" role="button" title="获取语音验证码" aria-label="获取语音验证码" id="J_AudioSwitcher1" class="reg-checkcode-switcher reg-audio-switcher">获取语音验证码</a></div><div class="reg-checkcode-audio" id="J_AudioCode1" style="display: none; "><span class="reg-audio-state" id="J_AudioState1"><a href="#nogo" class="reg-audio-state-text" id="J_AudioStateText1" onmousedown="return false;"></a><span class="reg-audio-state-progress" id="J_AudioStateProgress1"></span></span><a href="#nogo" role="button" onmousedown="return false;" title="重新获取验证码" aria-label="重新获取验证码" id="J_AudioRefresher1" class="reg-checkcode-refresher" style="">重新获取验证码</a><a href="#nogo" role="button" onmousedown="return false;" title="获取图片验证码" aria-label="获取图片验证码" id="J_ImgSwitcher1" class="reg-checkcode-switcher reg-img-switcher">获取图片验证码</a></div></div>

							<div class="msg-box w180">
																	<div class="msg-weak msg-inline hide" id="J_CheckCodeTip" style="visibility: hidden; ">
								                                    <i></i>
                                    <div class="msg-cnt">
    																		</div>
                                </div>
                            </div>
                        </div>



                        <div class="kv-item form-meta">
							<input type="hidden" value="2,1,2,1" name="CtrlVersion">
							<input type="hidden" value="" name="tid">
							<input name="_fm.n._0.q" type="hidden" value="" style="display:none">
        					<input name="_fm.n._0.qu" type="hidden" value="" style="display:none">
        					<input name="_fm.n._0.qui" type="hidden" value="" style="display:none">
        					<input name="_fm.n._0.quic" type="hidden" value="" style="display:none">
        					<input name="_fm.n._0.quick" type="hidden" value="" style="display:none">
							<input name="_fm.n._0.pa" type="hidden" value="1" id="J_PwdStrengthInput">

							<input type="hidden" name="randomName" value="" id="randomName">
							<input type="hidden" name="focusCount" id="focusCount" value="">
							<input type="hidden" name="keyupCount" id="keyupCount" value="">
														<button class="btn-long" id="J_BtnBasicInfoForm" type="submit">同意协议并注册</button>
							
							    							<div class="agreement">
                                    <a href="http://reg.taobao.com/member/agreement.jhtml" target="_blank" id="J_TbAgreementHandle" data-url="http://reg.taobao.com/member/agreement.jhtml">《淘宝服务协议》</a>
                                    <div class="agreement-content" id="J_AgreementContainer"></div>
                                </div>
                                                    </div>
                    </form>
                </div>
            </div>
			                <div class="quick-reg">
                    <em class="quick-tit">手机快速注册</em>
                    <div class="quick-detail">
                        中国大陆手机用户，编辑短信“<em>TB</em>”发送到：<br>
                        <em class="phone-num">1069099988</em>
                    </div>
                </div>
		           </div>

		<div class="ue-suggest">
            <img width="18" height="18" alt="注册改进建议" src="http://img04.taobaocdn.com/tps/i4/T1Pt0FXmJcXXXXXXXX-18-18.png">
            <a target="_blank" href="http://ur.taobao.com/survey/view.htm?id=587">"淘宝注册"改进建议</a>
        </div>

              <script type="text/javascript">
                  window.TRegister = window.TRegister || {};
                  TRegister.CONSTANTS = {
                      ERROR_MISS_NICK_NAME: "请填写会员名",
                      ERROR_MISS_PASSWORD: "请填写密码",
                      ERROR_MISS_PASSWORD_CONFIRM: "请重新填写一遍密码",
                      ERROR_MISS_EMAIL: "请输入电子邮箱",
                      ERROR_MALFORM_NICK_NAME_TOO_SHORT: "会员名在5-25个字符内",
                      ERROR_MALFORM_NICK_NAME_TOO_LONG: "会员名在5-25个字符内",
                      ERROR_DUP_NICK_NAME: "该会员名已被使用。您可以:1、重新输入或选择推荐的会员名。2、使用该会员名<a href='https://login.taobao.com/member/login.jhtml' target='_blank'>登录</a>.",
                      ERROR_MALFORM_PASSWORD: "您的密码过于简单，请不要使用纯数字、纯字母或连续相同字符。",
                      ERROR_PASSWORD_NOT_MATCH: "登录密码与再次输入密码不一致",
                      ERROR_MALFORM_PASSWORD_TOO_SHORT: "密码太短，建议您的密码大于6个字符",
                      ERROR_MALFORM_PASSWORD_TOO_LONG: "密码太长，建议您的密码小于16个字符",
                      ERROR_MALFORM_EMAIL: "请输入正确格式的邮箱",
                      ERROR_MALFORM_EMAIL_TOO_SHORT: "邮件地址太短",
                      ERROR_FORBIDDEN_EMAIL: "您输入电子邮箱的邮件服务商不能正常收取淘宝的系统邮件,推荐使用&lt;a href=&#39;http://mail.cn.yahoo.com/&#39; target=&#39;_blank&#39;&gt;雅虎邮箱&lt;/a&gt;",
                      ERROR_DUP_EMAIL: "该电子邮箱已注册，请换用其他电子邮箱注册或用该电子邮箱<a href='https://login.taobao.com/member/login.jhtml' target='_blank'>登录</a>",
                      ERROR_CELLPHONE_OTHERBU_EXISTED: "该手机已经注册过，请换用其他手机号码注册",
                      JOIN_HAVE_GLOBAL_MEMBER: "该手机已注册过支付宝，请点此<a href='http://www.alipay.com/user/login.htm?from=taobao&src=taobao_register&goto=http%3A%2F%2Fwww.alipay.com%2Fuser%2Ftaobao_trust_login.htm%3Ftarget%3Dhttp%3A%2F%2Fmember1.taobao.com%2Fmember%2Falipay_sign_dispatcher.jhtml' target='_blank'>登录支付宝</a>快速成为淘宝会员。",
                      JOIN_LOCAL_EXIST: "该手机号码已注册，请换用其他手机号码注册或用该手机号码<a href='https://login.taobao.com/member/login.jhtml' target='_blank'>登录</a>",
                      JOIN_HAVE_NOT_GLOBAL_BUT_FAIL: "该手机已注册，请更换为邮箱注册",
                      JOIN_HAVE_TEMP_MEMBER: "该手机号码已注册，请更换其他手机或使用邮箱注册",
                      ERROR_MALFORM_MOBILE: "该手机号码不存在",
                      ERROR_CELLPHONE_WAP_SMS: "该手机号码已使用手机快速注册,您可以继续在页面完成注册流程，或者按照短信提示操作。",
                      ERROR_CELLPHONE_EXISTED: "该手机号码已注册，请换用其他手机号码注册或用该手机号码<a href='https://login.taobao.com/member/login.jhtml' target='_blank'>登录</a>",
                      ERROR_CELLPHONE_MEMBER_FANGKE_ERROR: "该手机曾快速购买过商品，可使用手机动态密码<a href='https://login.taobao.com/member/login.jhtml?tag=1' target='_blank'>登录</a>；继续使用该手机注册，原快速购买记录将不可查询。",
                      ERROR_CELLPHONE_DIRTY: '该手机号码已注册，建议您即刻<a href="http://110.taobao.com/account/forget_passwd.htm">找回</a>；或<a href="http://login.taobao.com/member/login.jhtml">登录</a>后在“账号管理”解绑该手机后再次注册',
                      ERROR_UNDERLINE: "&#20250;&#21592;&#21517;&#39318;&#20301;&#21644;&#26411;&#20301;&#19981;&#33021;&#26159;&#19979;&#21010;&#32447;'_'",
                      ERROR_MALFORM_NICK_NAME: "会员名不能全为数字，或包含非法字符",
                      ERROR_PASSWORD_LIKE_NICK: "您的登录密码与会员名过于相似，为了您的安全建议您更换密码",
                      ERROR_BANNED_WORDS: "会员名包含非法字符",
                      ERROR_EMAIL_BLACKLIST: "系统调整，暂不接受此网站邮箱注册，请尝试使用其他网站邮箱。"
                  };

                  TRegister.INITDATA = {
                      userNameValidateUrl: "http://reg.taobao.com/member/check_nick.do?_input_charset=utf-8",
                      passwordValidateUrl: "http://reg.taobao.com/member/check_password.do",
                      checkCodeUrl: "http://pin.aliyun.com/get_img?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7",
                      changeCodeUrl: "http://pin.aliyun.com/get_img?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7",
                      audioCodeUrl: "http://pin.aliyun.com/get_audio?identity=member1.taobao.com&amp;sessionid=ab5cc52395e004d6806d6e33600360e7"
                  };
              </script>
    </div>

	<script type="text/javascript">
	    (function () {
	        var D = window.D || { get: function (id) { return document.getElementById(id); } };






	        document.getElementById('J_Code').name = 'i61T0V0qKdy/e7DFRj39MFV9+UemGDtR4gCoN0MOpQL7SEZUIsgDv1Pcn8vHSyHKsrc77FruFWpou7Kjb7akums=';


	    })();
	</script>

	<div class="RDVideoHelper" style="position: absolute; z-index: -1; display: block; width: 0px; height: 0px; left: 217px; top: 630px; "></div><object width="190" height="26" classid="clsid:488A4255-3236-44B3-8F27-FA1AECAA8844" id="Password_Edit_IE" style="visibility: hidden;">
        <param value="0613110323" name="cm5ts">
        <param value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDDS92pDVyWNT7dzG9zH0opH44z9FayCZTX5iqGUxUjPi667IkyaqrsmDPqKsJp47lJ29lzs+Qv8zjPPdmnxjFteMrfpc4ui24gL1iZnch
        wX87Ox/+Xrm8HFmKlhmUO9n/QgTT+Nz1RGMEN1+HijvsoAhS0TS8XjSfzRkrwvK2pJQIDAQAB" name="cm5pk">
        <param value="4" name="CryptoMode">
        <div class="RDVideoHelper" style="position: absolute; z-index: -1; display: block; width: 190px; height: 26px; left: 217px; top: 630px; "></div><embed width="190" height="26" id="Password_Edit_NoIE" type="application/aliedit">
    </object>


<script>
    KISSY.later(function () {
        if (KISSY.UA.shell == "ie") {
            var aa = document.getElementById("Password_Edit_IE");
        }
        else {
            var aa = document.getElementById("Password_Edit_NoIE");
        }
        var tid = document.getElementById("tid");
        tid.value = aa.ci1();
    }, 2000, false, null);
</script>


    		    			<div id="footer">
    <div id="mall-desc">
        <dl id="ensure">
        <dt><span>天猫保障</span></dt>
        <dd>
            <span><i></i>7天无理由退换货</span>
            <span><i></i>提供发票</span>
        </dd>
    </dl>
    <dl id="beginner">
        <dt><span>新手上路</span></dt>
        <dd>
            <a href="http://register.tmall.com/" target="_blank"><i></i>免费注册</a>
            <a href="https://www.alipay.com/user/reg_select.htm" target="_blank"><i></i>开通支付宝</a>
            <a href="https://www.alipay.com/user/login.htm?goto=https%3A%2F%2Fwww.alipay.com%2Fuser%2Finpour_request.htm" target="_blank"><i></i>支付宝充值</a>
<a href="http://service.tmall.com/support/tmall/tmallHelp.htm" target="_blank"><i></i>帮助中心</a>
        </dd>
    </dl>
    <dl id="payment">
            <dt><span>支付方式</span></dt>
            <dd>
                <a href="http://home.alipay.com/bank/paymentKJ.htm" target="_blank"><i></i>支付宝快捷支付</a>
                <a href="http://home.alipay.com/bank/paymentAccount.htm" target="_blank"><i></i>支付宝余额付款</a>
                <a href="http://home.alipay.com/bank/paymentAlipayCard.htm" target="_blank"><i></i>支付宝卡付款</a>
                <a href="http://home.alipay.com/bank/paymentPayDelivery.htm" target="_blank"><i></i>货到付款</a>
                <a href="http://abc.alipay.com/cool/fastPayment.htm" target="_blank"><i></i>新人支付</a>
            </dd>
        </dl>

    <dl id="seller">
        <dt><span>商家服务</span></dt>
        <dd>
           <a href="http://zhaoshang.tmall.com/" target="_blank" class="join"><i></i>商家入驻&gt;&gt;</a>
           <a href="http://mai.taobao.com/" target="_blank"><i></i>商家中心</a>
		<a href="http://peixun.tmall.com/" target="_blank"><i></i>天猫智库</a>
           <a href="http://guize.tmall.com" target="_blank"><i></i>天猫规则</a>
        </dd>
    </dl>
    <!--[if IE 6]><br /><![endif]-->
    <h4 class="go-home"><a href="http://www.tmall.com/" target="_blank" title="返回天猫首页">返回天猫首页</a></h4>
    </div>
    <div id="copyright">
        <!-- foot links from tms start -->
    <p id="footer-tmallinfo">
        <a href="http://www.tmall.com/go/chn/mall/zhaoshang_produce.php" target="_blank">关于天猫</a>
        <a href="http://service.tmall.com/support/tmall/tmallHelp.htm" target="_blank">帮助中心</a>
        <a href="http://www.tmall.com/go/chn/navi-map/index.php" target="_blank">网站地图</a>
        <a href="http://job.taobao.com/" target="_blank">诚聘英才</a>
        <a href="http://www.tmall.com/go/chn/tmall/contact.php" target="_blank">联系我们</a>
        <a href="http://xtao.tmall.com?tracelog=tmallfoot" target="_blank">网站合作</a>
        <a href="http://www.taobao.com/about/copyright.php">版权说明</a>
    </p>
    <p id="footer-otherlink">
	<a target="_blank" href="http://page.china.alibaba.com/shtml/about/ali_group1.shtml">阿里巴巴集团</a>：	
      阿里巴巴网络 - <a target="_blank" href="http://china.alibaba.com/">中国站</a> <a target="_blank" href="http://www.alibaba.com/">国际站</a> <a target="_blank" href="http://mai.aliexpress.com?tracelog=seller_sm_tmall">全球速卖通</a> <a target="_blank" href="http://www.alibaba.co.jp/">日文站</a> | 
	<a target="_blank" href="http://www.taobao.com/">淘宝网</a> | 
	<a target="_blank" href="http://www.etao.com/">一淘网</a> |
	<a target="_blank" href="http://ju.taobao.com/">聚划算</a> |
	<a target="_blank" href="http://www.alipay.com/">支付宝</a> | 
	<a target="_blank" href="http://www.yahoo.com.cn/">中国雅虎</a> | 
	<a target="_blank" href="http://www.alimama.com/">淘宝联盟</a> | 
        <a target="_blank" href="http://www.aliresearch.com/">集团研究中心</a> |
        <a href="http://tianxia.taobao.com/" target="_blank">淘宝天下</a> | 
        <a href="http://hitao.taobao.com/" target="_blank">嗨淘网</a> 
    </p>
    <p>Copyright&nbsp;2003-2013, 版权所有TMALL.COM <br>增值电信业务经营许可证：浙B2-20110446<br>网络文化经营许可证：<a href="http://img01.taobaocdn.com/tps/i1/T1M72qXjhgXXc1.xw7-2349-1700.jpg" target="_blank">浙网文[2012]0234-028号</a><br>互联网医疗保健信息服务 审核同意书 浙 卫网审【2012】6号<br>互联网药品信息服务资质证书编号：浙-（经营性）-2012-0005</p>
    <!-- foot links from tms end -->
    </div>
        <div id="server-num">register041123.cm4</div>
</div>
<!-- start vmc js-bottom 3.1 -->
<!-- end vmc js-bottom 3.1 -->
<!-- foot script -->
    		    	</div><div class="sn-mcate-bd sn-mcate-unready j_MallCateHoverTrigger">努力加载中...</div>
		
    
    
<div style="height: 0px; width: 0px; overflow: hidden; "><div class="RDVideoHelper" style="position: absolute; z-index: -1; display: block; width: 0px; height: 0px; left: 0px; top: 1055px; "></div><object width="0" height="0" style="height:0;width:0;overflow:hidden;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab" id="JSocket"><param name="allowScriptAccess" value="always"><param name="movie" value="http://acjs.aliyun.com/actionlog/flash/JSocket.swf"> <div class="RDVideoHelper" style="position: absolute; z-index: -1; display: block; width: 0px; height: 0px; left: 0px; top: 1055px; "></div><embed src="http://acjs.aliyun.com/actionlog/flash/JSocket.swf" name="JSocket" allowscriptaccess="always" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer_cn" width="0" height="0"></object></div></body></html>
</iframe>
   
<div><div class="RDVideoHelper" style="position: absolute; z-index: -1; display: block; width: 0px; height: 0px; left: 0px; top: 799px; ">
<object class="RDVideoObject" type="application/x-rn-downloaderpepperflashvideoshim-plugin" src="" width="0" height="0" data-offsetleft="0" data-offsettop="799"></object></div>
<object id="ClCache" click="sendMsg" host="" width="0" height="0"></object>
</div></body>




</html>