/*pub-1|2012-07-02 11:22:35*/
.layout{background-color:#f1eff0;}/*padding-top:20px;*/
.crumbs a{color:#b0b0b0;background:none;}
.crumbs{color:#b0b0b0;margin:18px;}
.crumbs span{display:inline;}
.rules-help .solve-yes,.rules-help .solve-no,.rules-help .cloud-service,.col-main-content .related-rules li{background:url(http://img01.taobaocdn.com/tps/i1/T1RLnjXdtjXXc0Pcvg-20-171.jpg) no-repeat;padding-left:20px;}
.col-main-content .rules-title{color:#f60;text-align:center;}
.col-main-content .rules-param{color:#333;margin-left:19px;margin-top:30px;}
.col-main-content .rules-param li{float:left;display:inline;width:230px;}
.col-main-content .rules-text{border-top:1px dashed #dedede;padding:23px 25px 0 25px;margin-top:10px;font-size:14px;line-height:180%;}
.col-main-content .rules-help{border-top:1px dashed #dedede;padding:13px 0 0 25px;margin-top:10px;color:#666;}
.col-main-content .rules-help{line-height:22px;}
.rules-help .solve-yes{background-position:0 2px;}
.rules-help .solve-no{background-position:0 -21px;}
.col-main-content .rules-help .solve-yes a,.col-main-content .rules-help .solve-no a{color:#008ea5;text-decoration:underline;}
.col-main-content .rules-help .cloud-service{margin:5px 0 5px 0;background-position:-3px -57px;padding-left:22px;}
.col-main-content .related-rules{border-top:1px dashed #dedede;padding:13px 25px 0 25px;margin-top:10px;}
.col-main-content .related-rules .hd{color:#666;margin-bottom:8px;}
.col-main-content .related-rules li{float:left;width:326px;display:inline;line-height:22px;background-position:7px -157px;}
.col-main-content .related-rules li span{margin-right:8px;}.col-main-content .related-rules li a{color:#b0b0b0;}
