.tshop-psm-ssa10b .shop-basic .hd,.tshop-psm-ssa10b .shop-basic .shop-type,.tshop-psm-ssa10b .shop-basic .shop-type p,.tshop-psm-ssa10b .shop-basic .shop-promise ul,.tshop-psm-ssa10b .shop-basic .shop-promise .no-invoice,.tshop-psm-ssa10b .shop-basic .shop-promise .no-7days,.tshop-psm-ssa10b .shop-basic .c-value-no,.tshop-psm-ssa10b .shop-basic .c-value-no i,.tshop-psm-ssa10b .shop-basic .shop-intro .other .enter,.tshop-psm-ssa10b .shop-basic .shop-search .submit button,.tshop-psm-ssa10b .shop-basic .shop-search input{background-image:url(http://www.linjuzaixian.com/Images/T1gfhZXo8tXXXXXXXX-192-226.png)!important;background-repeat:no-repeat;}
.tshop-psm-ssa10b .shop-basic .shop-type .join-3c i{background:url(http://img05.taobaocdn.com/tps/i5/T1lHBEXaVwXXXXXXXX-32-32.png);}
.tshop-psm-ssa10b .shop-basic .shop-type .join-xie i{background:url(http://img05.taobaocdn.com/tps/i5/T1AbBEXmRvXXXXXXXX-32-32.png);}
.tshop-psm-ssa10b .shop-basic .c-value-no{display:inline-block;height:12px!important;overflow:hidden;text-align:left;vertical-align:inherit!important;width:60px;margin-left:-6px;margin-right:1px;background-position:-127px -94px!important;}
.tshop-psm-ssa10b .shop-basic .c-value-no i{display:inline-block;height:16px;overflow:hidden;vertical-align:top;background-position:-127px -82px;}
.tshop-psm-ssa10b .shop-basic .shop-intro,.tshop-psm-ssa10b .shop-basic .shop-intro .extend,.tshop-psm-ssa10b .shop-basic .shop-intro .other{border-top:1px dotted #ccc;}
.tshop-psm-ssa10b .shop-basic .hd{display:block;background-position:0 -57px!important;border-color:#E6E6E6;height:22px;padding:0;border:1px solid #E4E4E4!important;border-bottom:none!important;}
.tshop-psm-ssa10b .shop-basic .hd h3{background-image:none;margin:0;padding:0;padding-left:10px;}
.tshop-psm-ssa10b .shop-basic .hd h3 span{font-size:12px;line-height:20px;}
.tshop-psm-ssa10b .shop-basic .bd{padding:10px 0 0 8px;margin-bottom:1px;background:#fff;overflow:hidden;border:1px solid #E4E4E4!important;_width:180px;}
.tshop-psm-ssa10b .shop-basic .shop-promise p{margin-bottom:9px;}
.tshop-psm-ssa10b .shop-basic .shop-promise p img{vertical-align:middle;}
.tshop-psm-ssa10b .shop-basic .shop-promise ul{height:55px;padding-bottom:10px;width:174px;overflow:hidden;background-position:0 0;}
.tshop-psm-ssa10b .shop-basic .shop-promise li{height:55px;width:54px;float:left;margin-right:6px;margin-top:2px;text-align:center;overflow:hidden;line-height:80px;}
.tshop-psm-ssa10b .shop-basic .shop-promise .last{margin-right:0;}
.tshop-psm-ssa10b .shop-basic .shop-promise li a,.tshop-psm-ssa10b .shop-basic .shop-promise li a:visited{color:#656565;}
.tshop-psm-ssa10b .shop-basic .shop-promise .no-invoice{background-position:0 -171px;}
.tshop-psm-ssa10b .shop-basic .shop-promise .no-7days{background-position:-54px -171px;}
.tshop-psm-ssa10b .shop-basic .shop-type{height:42px;width:174px;background-position:0 -110px;line-height:42px;margin-bottom:10px;}
.tshop-psm-ssa10b .shop-basic .shop-type p{margin-left:10px;background-position:right -110px;}
.tshop-psm-ssa10b .shop-basic .shop-type p i{float:left;width:32px;height:32px;margin:6px 5px 0 0;}
.tshop-psm-ssa10b .shop-basic .shop-intro{margin-right:8px;padding-top:4px;}
.tshop-psm-ssa10b .shop-basic .shop-intro li{padding:2px 0 3px;line-height:1.2;}
.tshop-psm-ssa10b .shop-basic .shop-intro .name,.tshop-psm-ssa10b .shop-basic .shop-intro .grade h4{display:none;}
.tshop-psm-ssa10b .shop-basic .shop-intro .grade{margin-right:-8px;}
.tshop-psm-ssa10b .shop-basic .shop-intro .extend{zoom:1;margin:5px 0;padding:5px 0;}
.tshop-psm-ssa10b .shop-basic .shop-intro .extend li{padding-left:5em;line-height:1.5;zoom:1;padding-bottom:0;_height:18px;min-height:18px;border:none;}
.tshop-psm-ssa10b .shop-basic .shop-intro .extend label{float:left;margin-left:-5em;font-family:'\5b8b\4f53';margin-top:1px;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other{padding:8px 0;overflow:hidden;zoom:1;margin:0 auto;text-align:center;width:auto;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other a{overflow:hidden;margin:0 10px;display:inline;border:none;background:none;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other .enter{background-position:0 -79px;height:30px;width:127px;margin:0 auto 8px auto;text-indent:-99px;display:block;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other a:link,.tshop-psm-ssa10b .shop-basic .shop-intro .other a:visited{color:#36c;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other a:hover,.tshop-psm-ssa10b .shop-basic .shop-intro .other a:active{color:#f60;text-decoration:underline;}
.tshop-psm-ssa10b .shop-basic .shop-search{padding:0 0 5px 0;margin:0 0 0 -8px;border-top:1px solid #e6e6e6;background-color:#f8f8f8;}
.tshop-psm-ssa10b .shop-basic .shop-search input{background-position:0 -152px!important;}
.tshop-psm-ssa10b .shop-basic .shop-search .keyword input{width:109px;}
.tshop-psm-ssa10b .shop-basic .shop-search .price input{width:40px;}
.tshop-psm-ssa10b .shop-basic .shop-search .submit button{background-position:-108px -171px!important;width:82px;height:25px;line-height:25px;font-size:12px;font-weight:700;color:#404040;margin-left:10px;border:0;}
.tshop-psm-ssa10b .shop-search input{padding:2px 0 1px 3px;border:1px solid #a7a6aa;}
.tshop-psm-ssa10b .shop-search .bd{padding:0;}
.tshop-psm-ssa10b .shop-search ul{padding:10px 10px 0;line-height:21px;zoom:1;}
.tshop-psm-ssa10b .shop-search ul:after,.tshop-psm-ssa10b .shop-search li:after{content:"\20";display:block;height:0;clear:both;}
.tshop-psm-ssa10b .shop-search li{height:25px;padding-left:50px;zoom:1;}
.tshop-psm-ssa10b .shop-search li label{float:left;margin-left:-50px;text-align:right;width:50px;}
.tshop-psm-ssa10b .shop-search .keyword input{width:109px;}
.tshop-psm-ssa10b .shop-search .price input{width:40px;}
.tshop-psm-ssa10b .shop-search .hotkeywords{height:auto;clear:left;width:70%;}
.col-sub .tshop-psm-ssa10b .shop-search li,.col-extra .tshop-psm-ssa10b .shop-search li{margin-bottom:7px;}
.main-wrap .tshop-psm-ssa10b .shop-search li{float:left;padding-bottom:5px;}
.main-wrap .tshop-psm-ssa10b .shop-search .submit{padding-left:10px;}
.tshop-psm-ssa10b .service-number{position:relative;}
.tshop-psm-ssa10b .service-number .new{position:absolute;top:-4px;right:14px;_right:12px;}
#bd .shop-basic .hd,#bd .shop-basic .shop-type,#bd .shop-basic .shop-type p,#bd .shop-basic .shop-promise ul,#bd .shop-basic .shop-promise .no-invoice,#bd .shop-basic .shop-promise .no-7days,#bd .shop-basic .c-value-no,#bd .shop-basic .c-value-no i,#bd .shop-basic .shop-intro .other .enter,#bd .shop-basic .shop-search .submit button,#bd .shop-basic .shop-search input{background-image:url(http://www.linjuzaixian.com/Images/T1gfhZXo8tXXXXXXXX-192-226.png)!important;background-repeat:no-repeat;}
#bd .shop-basic .shop-type .join-3c i{background:url(http://img05.taobaocdn.com/tps/i5/T1lHBEXaVwXXXXXXXX-32-32.png);}
#bd .shop-basic .shop-type .join-xie i{background:url(http://img05.taobaocdn.com/tps/i5/T1AbBEXmRvXXXXXXXX-32-32.png);}
#bd .shop-basic .c-value-no{display:inline-block;height:12px!important;overflow:hidden;text-align:left;vertical-align:inherit!important;width:60px;margin-left:-6px;margin-right:1px;background-position:-127px -94px!important;}
#bd .shop-basic .c-value-no i{display:inline-block;height:16px;overflow:hidden;vertical-align:top;background-position:-127px -82px;}
#bd .shop-basic .shop-intro,#bd .shop-basic .shop-intro .extend,#bd .shop-basic .shop-intro .other{border-top:1px dotted #ccc;}
#content #bd .box .shop-basic .hd{display:block;background-position:0 -57px!important;border-color:#E6E6E6;height:22px!important;padding:0;border:1px solid #E4E4E4!important;border-bottom:none!important;}
#bd .shop-basic .hd h3{background-image:none;margin:0;padding:0;padding-left:10px;}
#bd .shop-basic .hd h3 span{font-size:12px;line-height:20px;}
#bd .shop-basic .bd{padding:10px 0 0 8px;margin-bottom:1px;background:#fff;overflow:hidden;border:1px solid #E4E4E4!important;_width:180px;}
#bd .shop-basic .shop-promise p{margin-bottom:9px;}
#bd .shop-basic .shop-promise p img{vertical-align:middle;}
#bd .shop-basic .shop-promise ul{height:55px;padding-bottom:10px;width:174px;overflow:hidden;background-position:0 0;}
#bd .shop-basic .shop-promise li{height:55px;width:54px;float:left;margin-right:6px;margin-top:2px;text-align:center;overflow:hidden;line-height:80px;}
#bd .shop-basic .shop-promise .last{margin-right:0;}
#bd .shop-basic .shop-promise li a,#bd .shop-basic .shop-promise li a:visited{color:#656565;}
#bd .shop-basic .shop-promise .no-invoice{background-position:0 -171px;}
#bd .shop-basic .shop-promise .no-7days{background-position:-54px -171px;}
#bd .shop-basic .shop-type{height:42px;width:174px;background-position:0 -110px;line-height:42px;margin-bottom:10px;}
#bd .shop-basic .shop-type p{margin-left:10px;background-position:right -110px;}
#bd .shop-basic .shop-type p i{float:left;width:32px;height:32px;margin:6px 5px 0 0;}
#bd .shop-basic .shop-intro{margin-right:8px;padding-top:4px;}
#bd .shop-basic .shop-intro li{padding:2px 0 3px;line-height:1.2;}
#bd .shop-basic .shop-intro .name,#bd .shop-basic .shop-intro .grade h4{display:none;}
#bd .shop-basic .shop-intro .grade{margin-right:-8px;}
#bd .shop-basic .shop-intro .extend{zoom:1;margin:5px 0;padding:5px 0;}
#bd .shop-basic .shop-intro .extend li{padding-left:5em;line-height:1.5;zoom:1;padding-bottom:0;_height:18px;min-height:18px;border:none;}
#bd .shop-basic .shop-intro .extend label{float:left;margin-left:-5em;font-family:'\5b8b\4f53';margin-top:1px;}
#bd .shop-basic .shop-intro .other{padding:8px 0;overflow:hidden;zoom:1;margin:0 auto;text-align:center;width:auto;}
#bd .shop-basic .shop-intro .other a{overflow:hidden;margin:0 10px;display:inline;border:none;background:none;}
#bd .shop-basic .shop-intro .other .enter{background-position:0 -79px;height:30px;width:127px;margin:0 auto 8px auto;text-indent:-99px;display:block;}
#bd .shop-basic .shop-intro .other a:link,#bd .shop-basic .shop-intro .other a:visited{color:#36c;}
#bd .shop-basic .shop-intro .other a:hover,#bd .shop-basic .shop-intro .other a:active{color:#f60;text-decoration:underline;}
#bd .shop-basic .shop-rate .compare{font-weight:normal;color:#808080;margin-left:5px;}
#bd .shop-basic .shop-rate li{color:#666;padding:3px 0;white-space:nowrap;}
#bd .shop-basic .shop-rate a{cursor:pointer;display:inline-block;}
#bd .shop-basic .shop-rate a:hover{text-decoration:none;}
#bd .shop-basic .shop-rate em.count{color:#2953A6;margin-right:2px;}
#bd .shop-basic .shop-rate em{color:#A1001A;font-size:12px;font-weight:700;vertical-align:middle;}
#bd .shop-rate .rateinfo b{background:none repeat scroll 0 0 #A1001A;border-radius:2px 2px 2px 2px;color:#FFF;display:inline-block;font-weight:normal;height:15px;line-height:15px;margin:0 2px 0 1px;padding:1px 2px 1px 3px;vertical-align:middle;}
#bd .shop-rate .rateinfo b.lower{background:none repeat scroll 0 0 #217311;}
#bd .shop-rate .rateinfo em{display:inline-block;text-align:right;width:50px;}
#bd .shop-rate .rateinfo em.lower{color:#217311;}
#bd .shop-basic .shop-search{padding:0 0 5px 0;margin:0 0 0 -8px;border-top:1px solid #e6e6e6;background-color:#f8f8f8;}
#bd .shop-basic .shop-search input{background-position:0 -152px!important;}
#bd .shop-basic .shop-search .keyword input{width:109px;}
#bd .shop-basic .shop-search .price input{width:40px;}
#bd .shop-basic .shop-search .submit button{background-position:-108px -171px!important;width:82px;height:25px;line-height:25px;font-size:12px;font-weight:700;color:#404040;margin-left:10px;border:0;}
#bd .shop-search input{padding:2px 0 1px 3px;border:1px solid #a7a6aa;}
#bd .shop-search .bd{padding:0;}
#bd .shop-search ul{padding:10px 10px 0;line-height:21px;zoom:1;}
#bd .shop-search ul:after,#bd .shop-search li:after{content:"\20";display:block;height:0;clear:both;}
#bd .shop-search li{height:25px;padding-left:50px;zoom:1;}
#bd .shop-search li label{float:left;margin-left:-50px;text-align:right;width:50px;}
#bd .shop-search .keyword input{width:109px;}
#bd .shop-search .price input{width:40px;}
#bd .shop-search .hotkeywords{height:auto;clear:left;width:70%;}
.col-sub #bd .shop-search li,.col-extra #bd .shop-search li{margin-bottom:7px;}
.main-wrap #bd .shop-search li{float:left;padding-bottom:5px;}
.main-wrap #bd .shop-search .submit{padding-left:10px;}
#content{z-index:10;}
.button, .box i, .mode a, .shop-search-x .text, .c-value-no, .c-value-no i {
    background: url("http://www.linjuzaixian.com/Images/T1JLtRXhlAXXXXXXXX-128-83.png") no-repeat scroll 0 0 transparent;
}


#content .c-value-no {
    background-position: -64px -12px;
    display: inline-block;
    height: 12px !important;
    overflow: hidden;
    text-align: left;
    vertical-align: inherit !important;
    width: 60px;
}


#content .c-value-no i{
    background-position: -64px 0;
    overflow: hidden;
    width: 0;
}

#header{position:relative;z-index:1900;}

#hd{
    max-height:150px;
    overflow:hidden;
    position:relative;
    z-index:119;
}

.head-expand #hd,.manage #hd{
    max-height:none;
    overflow:visible;
    position:static;
    z-index:1;
}

#content.eshop #gd{
    display:none;
    margin:0;
}

#content .design-page {
    margin:0 auto;
    position:relative;
    width:950px;
    z-index:999;
}

#content .design-page a {
    background-color:#FFFFFF;
    border:1px solid #CCCCCC;
    color:#000000;
    line-height:1.3;
    padding:5px;
    position:absolute;
    right:-35px;
    text-align:center;
    top:0;
    width:16px;
}
