#navbar{background:white;border:2px solid #cec9c5;*border:1px solid #cec9c5;margin:10px auto;-webkit-font-smoothing:antialiased;*zoom:1}

#navbar.bars{display:table;border:2px solid #cec9c5;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

.bars-label{display:table-cell;background:#ebe7e3;border:1px solid white;vertical-align:middle;text-align:center;color:#7f6a60;width:92px;*position:absolute;*height:83px;*line-height:79px}

.bars-cont{display:table-cell;border-left:1px solid white;*width:100%}

.bar{background:#f6f3f3;height:42px;overflow:hidden}

.bars-cont .bar{position:relative;margin-top:1px;*margin-top:-1px;*margin-left:93px}
.bars-cont .bar-first{margin-top:0;*margin-top:-1px}
.bars-cont .bar-last{*margin-bottom:-1px}
.bar li:first-child a{border-left:none}
.bar li:last-child a{border-right:0}
.bar li.last-child a{border-right:0;border-left:1px solid #dfdad3;border-color:#d3cec8 \9;outline:0;-webkit-box-shadow:inset 1px 0 0 0 white;-moz-box-shadow:inset 1px 0 0 0 white;-ms-box-shadow:inset 1px 0 0 0 white;-o-box-shadow:inset 1px 0 0 0 white;box-shadow:inset 1px 0 0 0 white}
.bar li{padding:5px 0;float:left}
.bar a{display:block;max-width:100%;text-align:center;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;color:#806f66;_display:block;_width:99.5%;_zoom:1}
.bar a,.sub li.slctd a{padding:0;border:0;border-left:1px solid #dfdad3;border-color:#d3cec8 \9;outline:0;-webkit-box-shadow:inset 1px 0 0 0 white;-moz-box-shadow:inset 1px 0 0 0 white;-ms-box-shadow:inset 1px 0 0 0 white;-o-box-shadow:inset 1px 0 0 0 white;box-shadow:inset 1px 0 0 0 white}
.bar a:hover{color:#c10001}
.bar a img{display:inline-block;width:32px;height:32px;vertical-align:middle}
.bar a span{margin-left:10px;line-height:32px;+vertical-align:baseline;+zoom:1}
.bar .slctd,.sub{position:relative;background:#e6e2de}
.bar .slctd{z-index:1}
.bar,.bar .slctd a{border:1px solid white;*border-color:#c9c4be;outline:1px solid #cec9c5}
.bar .slctd a{display:block;border-top:0;border-bottom:0;font-weight:bold;text-decoration:none}
.bar .slctd a:hover{color:#7f6a60}
.sub{margin-top:-2px}
.sub li{width:140px}
.sub a,.sub li.slctd a{border-color:#c9c4be}
.bar .slctd,.sub li:first-child{padding:0}
.bar .slctd a,.sub li:first-child a{padding:5px 0;box-shadow:none}
.sub .slctd{padding:5px 0;background:0}
.sub li a{display:block;text-indent:0}
.sub li a span{margin-left:0;text-align:left;_text-align:center}
.sub .slctd a span{background:#f3efeb;border:1px solid #f3efeb;padding:1px 8px 2px 7px;margin-top:5px;margin-bottom:4px;line-height:20px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;display:inline-block;max-width:100px;_width:80px;text-overflow:ellipsis;overflow:hidden;cursor:pointer;vertical-align:middle}
#navbar .bar .slctd a i{background-position:-28px -71px;position:absolute;width:14px;height:14px;right:10px;top:15px;cursor:pointer}
#navbar .bar .slctd a i:hover,#navbar .bar .slctd a:hover i{background-position:-42px -71px}
#navbar .sub .slctd a i{float:none;margin-left:2px;position:static;display:inline-block;vertical-align:middle}
.bar .li-disabled a,.bar .li-disabled a:hover{color:#999;text-decoration:none;cursor:default;outline:0}
.bar .li-disabled a img{opacity:.3;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:grayscale(100%);filter:gray alpha(opacity = 20)}
#navbar .d3 li{width:33.333%;*width:33.30%}
#navbar .d4 li{width:25%;+width:24.97%;_width:24.94%}
#navbar .d5 li{width:20%;+width:19.97%;_width:19.94%}
#navbar .d6 li{width:16.666%;*width:16.64%}
#navbar .d7 li{width:14.285%;*width:14.20%}
