@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="span9 main">
    <div class="row">
        <div class="span4 userinfo">
            <div class="row">
                <div class="span1">
                    <a target="_blank" href="#">
                        <img src="http://himg.bdimg.com/sys/portrait/item/d321e38090e8b79be8849ae98193e4babae380913c0d.jpg" alt="我的头像" class="avatar">
                    </a>
                </div>
                <div class="span3">
                    <ul class="userinfo-list">
                        <li class="hello">快乐的大脚 下午好 </li>
                        <li>
                            <i class="icon-map-marker"></i>
                            <a class="location" target="_blank" title="查看地图" href="http://map.baidu.com/?newmap=1&amp;ie=utf-8&amp;s=s%26wd%3D济南">济南</a>
                        </li>
                        <li>
                            <a class="weather" target="_blank" title="济南天气预报_一周天气预报_中国天气网" href="http://www.weather.com.cn/html/weather/101120101.shtml">12~3℃
        晴</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="span4 userinfo">
            <ul class="userinfo-list">
                <li class="integral">
                    <i class="icon-leaf"></i>
                    积分：660点
                                <a href="#">兑换礼品</a>
                    <a href="#">获取积分</a>
                </li>
                <li>
                    <i class="icon-list-alt"></i>
                    购物车：5
                                <a href="#">查看</a>
                </li>
                <li>
                    <i class="icon-star"></i>
                    收藏：
                                <a href="#">0</a>店铺
                                <a href="#">0</a>宝贝
                </li>
            </ul>
        </div>
        <div class="span9 userinfo">
            <ul class="userinfo-list">
                <li class="integral">
                    <i class="icon-leaf"></i>
                    联系电话：+8618766152222
                            
                </li>
                <li>
                    <i class="icon-list-alt"></i>
                   邮箱:530589042
                               
                </li>
            
            </ul>
        </div>
        <div class="span4 mag_hist"></div>
        <div class="span4 art_hist"></div>
    </div>
</div>
