body{font:12px/1.5 'Lucida Grande',tahoma,arial,\5b8b\4f53;}
img{vertical-align:top;}
.hidden{display:none;}
.clearfix{*zoom:1;}
.clearfix:after{content:\20;display:block;height:0;clear:both;}
.hideText{height:0;width:0;line-height:0;overflow:hidden;font-size:0;}
.mallMain{margin:0 auto;width:1190px;position:relative;}
.mallLeft{background:#fff;width:240px;margin-top:-450px;position:absolute;top:0;left:0;bottom:0;z-index:15;-moz-box-shadow:4px 2px 5px rgba(0,0,0,0.2);-webkit-box-shadow:4px 2px 5px rgba(0,0,0,0.2);box-shadow:4px 2px 5px rgba(0,0,0,0.2);}
.mallRight{width:950px;margin-left:240px;border-left:1px solid #e6e6e6\9;}
#mallSearch button,#mallNav .chnHot,#mallNav .chnNew,.category .categoryHd s,.category .item .menuIcon,.category .menu-bottom .menuIcon,.category .item-hd s,.category .menu-bottom .item-hd s,.category .item-hd a,.brandTop h3 s.arow,.brand .brandAd span s,.brandTop h3 s.marked,.brand .flyBrand,.fCs-nav li s,.greatBrand,.brand .greatBrand .hongbao,.subView0 .menuIcon{background:url(http://localhost:7525/Images/brand_bar-194-279.png) 0 0 no-repeat;}
