/*pub-1|2013-02-01 18:32:10*/body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;*line-height:1.5;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
#page,#header,#content,#footer{margin-left:auto;margin-right:auto;}
.w950{width:950px;}
.col-main{float:left;width:100%;min-height:1px;}
.col-sub,.col-extra{float:left;}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after{content:'\20';display:block;height:0;clear:both;}
.layout,.main-wrap,.col-sub,.col-extra{zoom:1;}
html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true);}
(this));}
.sn-mobile,.sn-mobile-link,.sn-quick-menu .sn-mybrand .sn-mybrand-link,.sn-msg-hd,.sn-vip1,.sn-vip2,.sn-vip3,.sn-vip-unactivated,.sn-vip1-unactivated,.sn-vip2-unactivated,.sn-vip3-unactivated,.sn-quick-menu .cart s,.sn-mcate-bd .sn-mcate-ctn-con,.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-channel{background:transparent url(http://localhost:7525/Images/blackmallbar-441-100.png) no-repeat -9999px -9999px;}
#site-nav{min-width:990px;width:auto;height:30px;background-color:#b10000;position:relative;z-index:90001;}
#sn-bg,#site-nav .sn-edge{display:none;}
#sn-bd{width:990px;margin:auto;*zoom:1;}
#sn-bd:after,#site-nav .sn-container:after{content:'\20';display:block;height:0;clear:both;}
#site-nav .sn-container{width:auto!important;height:30px;float:right;*zoom:1;}
#site-nav .hidden{display:none;}
.sn-login-info a,.sn-login-info a:link,.sn-login-info a:visited{color:#ffd0c0;}
.sn-login-info a:hover{color:#fff;}
.sn-login-info{float:left;height:30px;line-height:30px;vertical-align:middle;color:#ffd0c0;}
.sn-login-info .sn-user-nick{display:inline-block;*display:inline;*zoom:1;height:20px;line-height:17px;*line-height:21px;vertical-align:middle;margin-left:-3px;_margin-left:0;max-width:90px;-o-text-overflow:ellipsis;text-overflow:ellipsis;-moz-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.sn-login-info .sn-identity{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;width:18px;height:20px;text-decoration:none;}
.sn-login-info .sn-identity.sn-vip1{background-position:-108px -22px;}
.sn-login-info .sn-identity.sn-vip2{background-position:-132px -22px;}
.sn-login-info .sn-identity.sn-vip3{background-position:-156px -22px;}
.sn-login-info .sn-identity.sn-vip1-unactivated{background-position:-108px -1px;}
.sn-login-info .sn-identity.sn-vip2-unactivated{background-position:-132px -1px;}
.sn-login-info .sn-identity.sn-vip3-unactivated{background-position:-156px -1px;}
.sn-login-info .sn-identity.sn-vip-unactivated{background-position:-179px -1px;}
.sn-login-info .sn-point{margin:0 15px;outline:none;}
.sn-login-info .sn-point-value,.sn-login-info .sn-msg-num{padding-left:2px;color:#fff;font-weight:bold;font-family:Tahoma;}
.sn-login-info .sn-message{position:relative;margin-right:15px;outline:none;}
.sn-login-info .sn-msg-box{position:absolute;top:18px;*top:24px;right:-4px;z-index:93100;display:block;}
.sn-login-info .sn-msg-hd{position:absolute;display:block;font-size:0;height:5px;width:9px;background-position:-75px -8px;right:20px;top:1px;z-index:93420;}
.sn-login-info .sn-msg-bd{position:absolute;top:5px;right:0;display:block;background-color:#ffeccf;border:#ffd699 solid 1px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;height:16px;line-height:16px;white-space:nowrap;z-index:93410;}
.sn-login-info .sn-msg-title{display:inline-block;*display:inline;*zoom:1;text-decoration:none;margin-left:6px;max-width:150px;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;}
.sn-login-info .sn-msg-title,.sn-login-info .sn-msg-title:link,.sn-login-info .sn-msg-title:visited,.sn-login-info .sn-msg-close{color:#666;}
.sn-login-info .sn-msg-title:hover,.sn-login-info .sn-msg-close:hover{color:#b10000;}
.sn-login-info .sn-msg-close{margin:0 4px;font-size:14px;font-weight:bold;cursor:pointer;vertical-align:top;}
.sn-login-info .sn-login,.sn-login-info .sn-login:link,.sn-login-info .sn-login:visited{color:#fff;margin:0 15px 0 7px;}
.sn-login-info .sn-separator{display:inline-block;*display:inline;*zoom:1;width:0;height:12px;line-height:12px;vertical-align:middle;font-size:0;border-left:1px solid #8c0000;border-right:1px solid #be0000;margin:0 5px 0 15px;margin-bottom:2px \9;*margin-bottom:0;_margin-top:1px;}
.sn-login-info .sn-point,.sn-login-info .sn-message,.sn-login-info .sn-logout,.sn-login-info .sn-login,.sn-login-info .sn-register{*vertical-align:baseline;*zoom:1;}
.sn-login-info .sn-logout{vertical-align:top \9;_vertical-align:baseline;}
.sn-quick-menu{float:left;}
.sn-quick-menu a,.sn-quick-menu a:link,.sn-quick-menu a:visited{color:#ffd0c0;}
.sn-quick-menu a:hover{color:#fff;}
.sn-quick-menu li{float:left;padding:5px 0 0 5px;padding-top:4px \0;*padding-top:3px;}
.sn-quick-menu .sn-separator{margin:10px 2px 0 10px;margin-top:8px \9;_margin-top:10px;_margin-left:5px;padding:0;width:0;height:12px;line-height:12px;font-size:0;border-left:1px solid #8c0000;border-right:1px solid #be0000;}
.sn-quick-menu .menu-item{position:relative;z-index:93110;}
.sn-quick-menu .menu-hd{display:block;position:relative;height:20px;margin:1px 1px 0;padding:0 13px 0 5px;padding-top:1px \9;*padding-top:3px;cursor:pointer;z-index:93120;}
.sn-quick-menu .sn-mytaobao .menu-hd{width:48px;}
.sn-quick-menu .sn-favorite .menu-hd{width:36px;}
.sn-quick-menu .sn-sitemap .menu-hd{width:48px;}
.sn-quick-menu .sn-mcate .menu-hd{_width:78px;}
.sn-quick-menu .menu-hd b{position:absolute;right:4px;top:8px;top:7px \9;*top:9px;_top:11px;width:0;height:0;border-width:3px 3px;border-style:solid;border-color:#ffd0c0 #b10000 #b10000;font-size:0;line-height:0;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in;}
.sn-quick-menu .menu-bd{display:none;position:absolute;right:0;_right:-1px;top:20px;background-color:#e5e5e5;border:#ccc solid 1px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;z-index:93110;}
.sn-quick-menu .menu-bd a,.sn-quick-menu .menu-bd a:link,.sn-quick-menu .menu-bd a:visited{color:#666;}
.sn-quick-menu iframe.menu-bd{border:0;background:none;filter:alpha(opacity = 0);float:left;z-index:-1;}
.sn-quick-menu .menu-bd-panel{padding:10px 10px 5px;}
.sn-quick-menu .menu-bd-panel a{display:block;}
.sn-quick-menu .sn-menu{position:relative;}
.sn-quick-menu .sn-menu a:hover{color:#b10000;text-decoration:underline;}
.sn-quick-menu .hover .menu-hd{margin:0;background-color:#e5e5e5;color:#b10000;border:#ccc solid 1px;border-bottom:none;border-radius:2px 2px 0 2px;-moz-border-radius:2px 2px 0 2px;-webkit-border-radius:2px 2px 0 2px;}
.sn-quick-menu .hover .menu-hd:hover{color:#b10000;}
.sn-quick-menu .hover .menu-bd{display:block;}
.sn-quick-menu .hover .menu-hd b{border-color:#b10000 #e5e5e5 #e5e5e5 #e5e5e5;-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%;filter:progid:DXImageTransform.Microsoft.BasicImage(rotation = 2);top:5px \9;_top:7px;}
.sn-quick-menu .sn-mytaobao .menu-bd,.sn-quick-menu .sn-favorite .menu-bd{line-height:1.4;}
.sn-quick-menu .sn-mytaobao .menu-bd{width:94px;}
.sn-quick-menu .sn-favorite .menu-bd{width:82px;}
.sn-quick-menu .sn-mytaobao .menu-bd-panel,.sn-quick-menu .sn-favorite .menu-bd-panel{padding:3px 10px;}
.sn-quick-menu .sn-sitemap .menu-bd{width:150px;overflow:hidden;}
.sn-quick-menu .sn-sitemap li{float:none;border-bottom:#666 dashed 1px;padding:3px 4px;margin:0 10px;*line-height:20px;}
.sn-quick-menu .sn-sitemap h3{color:#666;line-height:15px;padding-top:3px;}
.sn-quick-menu .sn-sitemap li a{margin-right:20px;*margin-top:-10px;}
.sn-quick-menu .sn-sitemap .sitemap-right{margin-right:0;}
.sn-quick-menu .sn-sitemap .sitemap-more{display:block;padding:3px 14px;color:#666;}
.sn-quick-menu .sn-mybrand a,.sn-quick-menu .sn-mobile a,.sn-quick-menu .sn-home a,.sn-quick-menu .sn-seller a{display:inline-block;*display:inline;*zoom:1;}
.sn-quick-menu .sn-mybrand,.sn-quick-menu .sn-mobile,.sn-quick-menu .sn-home,.sn-quick-menu .sn-seller{padding:6px 3px 0 8px;padding-top:5px \9;*padding-top:6px;_vertical-align:middle;}
.sn-quick-menu .sn-mybrand .sn-mybrand-link{padding-left:20px;background-position:-2px -21px;background-position:-2px -23px \9;*background-position:-2px -23px;_background-position:-2px -21px;}
.sn-quick-menu .sn-mobile .sn-mobile-link{padding-left:20px;background-position:-179px -22px;background-position:-179px -24px \9;_background-position:-179px -22px;}
.sn-quick-menu .sn-mcate-hd{font-weight:bold;font-size:12px;color:#ffd0c0;cursor:default;}
.sn-quick-menu .hover .sn-mcate-hd{padding-bottom:3px;_padding-bottom:5px;border-radius:2px 2px 0 0;*padding-top:2px;_height:auto;border-color:#504444;border-bottom:1px solid #4a3e3e;background:#504444;opacity:.95;filter:alpha(opacity = 95);color:#fff;-moz-box-shadow:-1px 1px 1px #483d3d inset;-webkit-box-shadow:-1px 1px 1px #483d3d inset;box-shadow:-1px 1px 1px #483d3d inset;}
.sn-quick-menu .hover .sn-mcate-hd:hover{color:#fff;}
.sn-quick-menu .hover .sn-mcate-hd b{top:6px;border-color:#fff #504444 #504444 #504444;}
.sn-mcate-bd{display:none;position:absolute;top:30px;left:0;width:100%;min-width:990px;background:#504444;opacity:.95;filter:alpha(opacity = 95);z-index:9999999;}
.sn-mcate-bd .sn-mcate-ctn-con{position:relative;width:990px;margin:auto;overflow:hidden;padding:50px 0 30px;background-position:-4px -53px;}
.sn-mcate-bd .sn-mcate-ctn-con .sn-mcate-logo-link{display:inline-block;width:195px;height:60px;position:absolute;top:0;left:0;z-index:99999999;text-indent:-10000em;}
.sn-mcate-bd .sn-mcate-ctn{width:1000px;margin:auto;zoom:1;}
.sn-mcate-bd .sn-mcate-ctn:after{content:'\20';display:block;height:0;clear:both;}
.sn-mcate-bd .sn-mcate-ctn li{float:left;width:175px;height:65px;padding:20px 9px 0 16px;_display:inline;}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-hd{font-size:12px;font-weight:bold;color:#fff;padding-bottom:3px;border-bottom:1px dotted #6c5e5e;}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-channel{width:50px;height:16px;line-height:16px;text-align:center;margin-left:5px;padding-left:4px;display:inline-block;*display:inline;*zoom:1;background-position:-203px -1px;color:#fff;text-decoration:none;font-size:12px;font-weight:normal;margin-top:-3px;vertical-align:middle;}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-bd{line-height:22px;height:44px;overflow:hidden;padding-top:1px;_padding-top:3px;}
.sn-mcate-bd .sn-mcate-ctn .sn-mcate-item-bd a{margin-right:10px;color:#ccc;display:inline-block;}
.sn-mcate-unready{min-height:335px;height:auto!important;height:335px;line-height:335px;font-size:16px;color:#fff;text-align:center;}
.sn-quick-menu .cart{width:46px;position:relative;text-align:center;padding:6px 5px 0 30px;padding-top:5px \9;*padding-top:7px;_padding-top:6px;text-decoration:none;}
.sn-quick-menu .mini-cart{padding-top:5px;padding-top:4px \9;*padding-top:6px;_padding-top:5px;width:70px;padding-right:0;}
.sn-quick-menu .mini-cart .menu-hd{padding:0;position:static;text-decoration:none;}
.sn-quick-menu .cart s{position:absolute;left:7px;top:9px;top:7px \9;width:16px;height:18px;background-position:-2px -2px;}
.sn-quick-menu .mini-cart s{left:13px;}
.sn-quick-menu .mc-count{color:#fff;padding:0 2px;font-weight:bold;font-family:Arial;}
.sn-quick-menu .menu-hd:hover .mini-cart-line{position:absolute;display:block;top:21px;*top:20px;left:32px;width:65px;height:0;line-height:0;font-size:0;border-top:1px solid #fff;z-index:93130;}
#gb-msg-notice{position:absolute;left:-9999px;top:0;padding:5px 20px 5px 5px;border:1px solid #febf90;background-color:#fff8d9;color:#404040;}
#gb-msg-notice a,#gb-msg-notice a:link,#gb-msg-notice a:hover{color:#36c;}
#gb-msg-notice a:hover{color:#F60;}
#gb-msg-notice .gb-msg-info{padding-left:20px;background:transparent url(http://img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png) 0 3px no-repeat;}
#gb-msg-notice .gb-msg-icon{position:absolute;width:0;height:0;line-height:0;font-size:0;}
#gb-msg-notice .gb-msg-close{right:5px;top:10px;width:9px;height:9px;background:transparent url(http://img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png) 0 -20px no-repeat;cursor:pointer;}
#gb-msg-notice .gb-msg-tri,#gb-msg-notice .gb-msg-tri-inner{border-top:4px dashed transparent;border-right:4px dashed transparent;border-bottom:4px solid #febf90;border-left:4px solid #febf90;left:20px;top:-8px;}
#gb-msg-notice .gb-msg-tri-inner{border-bottom-color:#fff8d9;border-left-color:#fff8d9;left:-3px;top:-2px;}
#system-announce{clear:both;line-height:18px;padding:8px 0;border:1px solid #eee;background-color:#f6f6f6;text-align:center;font-weight:bold;color:#f30;}
.tml-mask-b2b{position:fixed;_position:absolute;left:0;top:0;width:100%;height:100%;*height:3000px;z-index:100002;}
.tml-mask-b2b iframe{position:absolute;top:0;left:0;z-index:-1;filter:mask();width:100%;height:100%;}
.tml-dialog-b2b{position:fixed;_position:absolute;top:50%;left:50%;width:627px;height:370px;margin-left:-315px;margin-top:-190px;z-index:100003;}
.tml-dialog-b2b .tml-dialog-skin{*height:395px;}
