.ui-slide-nav-mini{height:24px;line-height:18px;}
.ui-slide-nav-mini li{float:left;width:12px;font-family:Tahoma,Helvetica;font-size:28px;_font-size:38px;margin-right:5px;color:#716564;cursor:pointer;}
.ui-slide-nav-mini .active{color:#b91919;}
.ui-btn-s{padding:0 10px;display:inline-block;height:20px;background:url(http://localhost:7525/Images/btn.png) repeat-x;color:#fff;font-size:12px;border:0 none;border-left:1px solid #950b00;border-right:1px solid #950b00;cursor:pointer;outline:none;overflow:visible;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;*zoom:1;line-height:20px;font-size:12px;font-weight:normal;background-color:#ccc;border-color:#ccc;color:#333;}
.ui-btn-s{background-position:0 -300px;}
.ui-btn-s-hover,.ui-btn-s:hover{background-position:0 -320px;}
.ui-btn-s-active,.ui-btn-s:active{background-position:0 -340px;}
.ui-btn-s-selected{background-position:0 -360px;}
.ui-btn-s:hover,.ui-btn-m:hover,.ui-btn-l:hover{text-decoration:none;}
.ui-btn-disable{border:1px solid #ccc;background:#f2f2f2;color:#c5c5c5;cursor:default;}
.ui-msg-icon{background-image:url(http://localhost:7525/Images/msg.png);background-repeat:no-repeat;}
.ui-msg{position:relative;display:inline-block;*display:inline;*zoom:1;border:1px solid #e1e1e1;border-radius:2px;background:#f5f5f5;padding-left:24px;box-shadow:1px 1px 1px #f5f5f5;}
.ui-msg-con{line-height:16px;color:#666;background:#fbfbfb;padding:3px 10px 3px 5px;border:1px solid #efefef;border-left:1px solid #e7e7e7;margin:-1px;}
.ui-msg-icon{position:absolute;width:23px;height:22px;top:0;left:0;}
.ui-msg-clean,.ui-msg-clean .ui-msg-con{border:none;background:none;box-shadow:none;}
.ui-msg-clean .ui-msg-con{padding-left:0;border:none;}
.ui-top-tip .ui-msg-con{line-height:20px;padding:18px 28px 18px 12px;font-weight:bold;font-size:14px;}
.ui-top-tip{padding-left:58px;}
.ui-top-tip .ui-msg-con{line-height:20px;padding:18px 28px 18px 12px;font-weight:bold;font-size:14px;}
.ui-top-tip .ui-msg-icon{width:57px;height:56px;}
.ui-top-tip .ui-msg-error .ui-msg-icon{background-position:11px -20px;}