<html xmlns="http://www.w3.org/1999/xhtml">
 	<head>
 		    	<title>付款成功！-Tmall.com天猫</title>
    			        <script>    			            window.g_config = { appId: 15, toolbar: false };</script>
        <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
        <meta name="description" content="中国最大、最安全的网上交易社区，尽享淘宝乐趣！" />
        <meta name="keywords" content="淘宝,掏宝,网上购物,购物,论坛,联盟,买,卖,1元,一元,电脑,视听,MP3,MD,CD,VCD,DV,耗材,化妆,相机,数码,配件,珠宝,手表,艺术,宠物,求购,出租,出售,二手,汽车,音响,保健,讨价换价,一口价,拍卖,auction,sell,buy,price,bid" />
		<meta name="spm-id" content="a220l.12"/>
        <link href="http://img03.taobaocdn.com/tps/i3/T1Xwi6XfVXXXXXXXXX-16-16.png" rel="shortcut icon" type="image/x-icon" />
        
        <!-- start vmc css-extra 3.1 -->
<!-- end vmc css-extra 3.1 -->
    		            <!-- start vmc css-global 3.1-->
<link rel="stylesheet" href="http://a.tbcdn.cn/??p/mall/base/global-v2.css,tbra/2.0/tbsp.css,p/mall/base/header-v2.css?t=20121024.css"/><!-- end vmc css-global 3.1-->
<!-- start vmc js-global 3.1 -->

        <script src="http://a.tbcdn.cn/??s/kissy/1.3.0/kissy-min.js,apps/tmall/tml/1.0/tml/tml-min.js,p/mall/base/global-v2.js,p/mall/base/header-v2.js,s/kissy/1.3.0/suggest-min.js?t=20121022.js"></script>
    <!-- end vmc js-global 3.1 -->

   <script src="http://a.tbcdn.cn/s/tbra/1.0/tbra-widgets.js"></script>

        <link rel="stylesheet" href="http://a.tbcdn.cn/apps/tmallbuy/dev/common.css?20130314" />
		<link rel="stylesheet" href="http://a.tbcdn.cn/apps/tmallbuy/dev/payresult/core.css?20130530" />
        <script>            window.g_config.tmallConfig = { commonJS: { miniBag: { off: true}} };</script>
	</head>
 	
	<script type="text/javascript" src="http://a.tbcdn.cn/app/ishop/stats/isv.js?t=20100301.js"></script>
    <script src="http://a.tbcdn.cn/p/mall/tml/libs/zeroclipboard/ZeroClipboard.js?t=20121128"></script>
  	
	<body><script type="text/javascript">
	          (function (d) {
	              var t = d.createElement("script"); t.type = "text/javascript"; t.async = true; t.id = "tb-beacon-aplus";
	              t.setAttribute("exparams", "category=&userid=123072695&aplus&");
	              t.src = ("https:" == d.location.protocol ? "https://s" : "http://a") + ".tbcdn.cn/s/aplus_v2.js";
	              d.getElementsByTagName("head")[0].appendChild(t);
	          })(document);
</script>

		<!-- from vmcommon -->
		<div id="page">
    		<!-- from vmcommon -->
			
            <!-- system-announce -->
                    <!--商城通用顶通-->
    <div id="site-nav" class="site-nav-common ">
    <div id="sn-bg">
        <div class="sn-bg-right">
        </div>
    </div>
    <div id="sn-bd">
        <b class="sn-edge"></b>
        <div class="sn-container">
                        <p id="login-info" class="sn-login-info">
                                                                            <script>
                                                                                TB.use("mod~global", function () {
                                                                                    if (TB && TB.Global && TB.Global.writeLoginInfo) {
                                                                                        TB.Global.writeLoginInfo({
                                                                                            isApp: true,
                                                                                            passCookie: true
                                                                                        });
                                                                                    }
                                                                                });
                        </script>
                                                </p>
            <ul class="sn-quick-menu">
                                                                    <li class="sn-mytaobao menu-item j_MyTaobao">
                    <div class="sn-menu">
                        <a class="menu-hd"
                           href="http://i.taobao.com/my_taobao.htm"
                           target="_top" rel="nofollow">我的淘宝<b></b></a>
                        <div class="menu-bd">
                            <div class="menu-bd-panel" id="myTaobaoPanel">
                                    <a href="http://trade.taobao.com/trade/itemlist/list_bought_items.htm?t=20110530"
                                       target="_top" rel="nofollow">已买到的宝贝</a>
                                    <a href="http://trade.taobao.com/trade/itemlist/list_sold_items.htm?t=20110530"
                                       target="_top" rel="nofollow">已卖出的宝贝</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sn-seller hidden j_SellerCenter">
                    <a target="_top" href="http://mai.taobao.com/seller_admin.htm">商家中心</a>
                </li>
                <li class="sn-mybrand">
                    <a target="_top" id="J_SnMyBrand" class="sn-mybrand-link" href="http://mybrand.tmall.com?scm=1048.1.1.1">我关注的品牌</a>
				</li>
                <li class="cart">
                    <a href="http://cart.tmall.com/cart/myCart.htm?from=btop" target="_top" rel="nofollow">
                        <s>
                        </s>购物车
                    </a>
                </li>
                <li class="sn-favorite menu-item">
                    <div class="sn-menu">
                        <a class="menu-hd"
                           href="http://favorite.taobao.com/collect_list-1-.htm?scjjc=c1"
                           target="_top" rel="nofollow">收藏夹<b></b></a>

                        <div class="menu-bd">
                            <div class="menu-bd-panel">
                                    <a href="http://favorite.taobao.com/collect_list.htm?itemtype=1" target="_top"
                                       rel="nofollow">收藏的宝贝</a>
                                    <a href="http://favorite.taobao.com/collect_list.htm?itemtype=0" target="_top"
                                       rel="nofollow">收藏的店铺</a>   
                            </div>
                        </div>
                    </div>
                </li>
                <li class="sn-separator"></li>
                <li class="sn-mobile">
                    <a title="天猫无线" target="_top" class="sn-mobile-link" href="http://mobile.tmall.com/?scm=1027.1.1.1">手机版</a>
                </li>
                <li class="sn-home">
                    <a href="http://www.taobao.com/">淘宝网</a>
                </li>
                <li class="sn-sitemap menu-item">
                    <div class="sn-menu">
                        <a class="menu-hd" href="http://www.tmall.com/go/chn/navi-map/index.php" target="_top">网站导航<b></b></a>

                        <div class="menu-bd">
                            <ul>
                               
						<li>
						
							 <h3>商家：</h3> 						
						
														<a  target="_top" href="http://mai.taobao.com/?spm=3.169406.198401.1">商家中心</a>
														<a  class="sitemap-right"  target="_top" href="http://zhaoshang.tmall.com/?spm=3.169406.198401.2">商家入驻</a>
														<a  target="_top" href="http://fw.tmall.com/?spm=3.169406.198401.3">商家服务</a>
														<a  class="sitemap-right"  target="_top" href="http://www.tmall.com/go/chn/mall/pzsc-gfsj.php?spm=3.169406.198401.4">商家品控</a>
														<a  target="_top" href="http://fuwu.tmall.com/?spm=3.169406.198401.5&scm=1215.100.100.506">商家工具</a>
													
						</li>
					
						<li>
						
													
						
														<a  target="_top" href="http://mobile.tmall.com/?spm=3.169406.198401.6">天猫无线</a>
														<a  class="sitemap-right"  target="_top" href="http://brand.tmall.com/?spm=3.169406.198401.7">品牌街</a>
														<a  target="_top" href="http://temai.tmall.com/?spm=3.169406.198401.8">品牌特卖</a>
														<a  class="sitemap-right"  target="_top" href="http://yao.tmall.com/?spm=3.169406.198401.9">医药馆</a>
														<a  target="_top" href="http://book.tmall.com/?spm=3.169406.198401.10&prt=1346727469564&prc=2">天猫书城</a>
													
						</li>
					
						<li>
						
							 <h3>帮助：</h3> 						
						
														<a  target="_top" href="http://service.tmall.com/support/tmall/tmallHelp.htm?spm=3.169406.198401.11">帮助中心</a>
													
						</li>
					
                            </ul>
                            <a class="sitemap-more" href="http://www.tmall.com/go/chn/navi-map/index.php" target="_top">更多内容<b class="sitemap-more-link"></b></a>
                        </div>
                    </div>
                </li>
                <li class="sn-mcate j_MallCateHoverTrigger" id="J_MallCate">
                    <div class="sn-menu">
                        <h3 class="menu-hd sn-mcate-hd">所有商品分类<b></b></h3>
                    </div>
                </li>
                        </ul>
        </div>
    </div>
</div>
<script>
    TB.use("mod~global", function () {
        if (TB && TB.Global && TB.Global.init) {
            TB.Global.init();
        }
    });
</script>
<div id="header" class=" ">
    <div class="headerLayout">
                        <!-- flash logo -->



            <div class="headerCon ">
            <h1 id="mallLogo" >
            <span class="mlogo"><a href="http://www.tmall.com/" title="天猫Tmall.com"><s></s>天猫Tmall.com</a></span>
        </h1>
                                                        <div id="mallSearch">
    <div class="mallSearch-bg">
        <form name="searchTop" action="http://list.tmall.com/search_product.htm" class="mallSearch-form clearfix">
            <fieldset>
                <legend>天猫搜索</legend>
                <div class="mallSearch-input clearfix">
                    <label for="mq">搜索 天猫 商品/店铺</label>
                                            <input type="text" name="q"                                accesskey="s" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate"
                               value="" id="mq" autocomplete="off"/>
                                        <button type="submit">搜索<s></s></button>
                                        <input id="J_Type" type="hidden" name="type" value="p"/>
                    <input id="J_MallSearchStyle" type="hidden" name="style" value="">
                                            <input type="hidden" name="redirect" value="notRedirect">
                                                                                <input id="J_Cat" type="hidden" name="cat" value="all"/>
                                    </div>
            </fieldset>
        </form>
    </div>
</div>
                    </div>
    </div>
</div>
<script>    TMall.THeader.init();</script>

    		<div id="content">
    			
<div class="take-delivery">
	<div  data-spm="a220l.12.5" class='summary-status 
		 summary-paydone 
		'>
		<div class="status">
        		            <h2>
                                    您已成功付款                            </h2>

		
		                     	

			<div class="successInfo">
			<ul>
								
								<li>
				    付款金额
				                            <em>&yen;1.15</em>                    				</li>
								
				
								
									            	            								<li>
				    										<a href="http://trade.taobao.com/trade/itemlist/list_bought_items.htm?nekot=1370935445439" class="J_MakePoint" data-point-url="http://log.mmstat.com/tmalljy.2.7?pos=yimaidao">查看已买到的宝贝</a>
										<a href="http://trade.tmall.com/detail/order_detail.htm?biz_order_id=270936154209526" class="J_MakePoint" data-point-url="http://log.mmstat.com/tmalljy.2.7?pos=dingdanxiangqing">查看交易详情</a>
				</li>
				<li><span class="j_IshareValue"></span><div class="tml-share-con"><div class="TMLShare"></div></div></li>
			</ul>
			</div>
			

            			
			<input type="hidden" id="J_ItemIdList" value="14060321248," />
			<script src="http://a.tbcdn.cn/apps/tmallbuy/getMemberCoinState.js?t=20130530"></script>
			<div class="dot-line"></div>
			<div id="J_CoinInfo" data-spm="a220l.12.4" data-src="http://tmm.taobao.com/member/query_member_for_buy.do?point=0&pay=paySuccess.htm&main_bizid=270936154209526" class="coin-info clearfix"></div>
		    <div id="J_MemberExt"></div>
        		</div>
	<div class="meta" style="display: none;">
<p>天猫服务：<span class="separate">

<a href="http://www.mall.taobao.com/go/act/sale/taobaoshangchengjifen.php?spm=3.33828.54208.1" title="天猫积分介绍" target="_blank">天猫积分介绍</a>
<a href="http://www.mall.taobao.com/go/chn/mall2010/promise.php?spm=3.33828.54208.2#ZPBZ" title="正品保障" target="_blank">正品保障</a>
<a href="http://www.mall.taobao.com/go/chn/mall2010/promise.php?spm=3.33828.54208.3#QTTH" title="七天退换" target="_blank">七天退换</a>
<a href="http://service.taobao.com/support/knowledge-1115851.htm?spm=3.33828.54208.4" title="如何办理退款" target="_blank">如何办理退款</a>

</span></p>

<p class="actions">相关操作：
	<span class="separate"><a href="http://trade.tmall.com/detail/order_detail.htm?biz_order_id=270936154209526" class="J_MakePoint" data-point-url="http://www.atpanel.com/jsclick?cache=*&paysuccs=tradedetail">交易详情</a>
		<a href="https://taobao.alipay.com/trade/query_trade_list.htm?src=success_need_01" class="J_MakePoint" data-point-url="http://www.atpanel.com/jsclick?cache=*&paysuccs=trademanagement">交易管理</a>
		<a href="https://taobao.alipay.com/user/inpour_request.htm?src=success_need_03" class="J_MakePoint" data-point-url="http://www.atpanel.com/jsclick?cache=*&paysuccs=recharge">账户充值</a>
		<a href="https://jf.alipay.com/prod/index.htm" class="J_MakePoint" data-point-url="http://www.atpanel.com/jsclick?cache=*&paysuccs=jifen">集分宝</a></span></p>

          </div>
	</div>			
</div>	                    
<div class="banner" data-spm="a220l.12.1"> 
	<script>
	    (function () {
	        var S = KISSY, D = S.DOM
	        S.getScript("http://delta.taobao.com/home/delivery/AllContentByPage.do?resourceIds=437", function () {
	            if (S.isArray(__content_results) && __content_results.length > 0) {
	                var result = __content_results[0];
	                D.html(".banner", "<a href='" + result.link + "' target='_blank'><img src='" + result.content + "'/></a>")
	                new Image().src = "http://log.mmstat.com/tmalljy.2.7?pos=dingtou"
	            }
	        })
	    })();
    </script>
</div>

                <div id="rap-block" class="rap-box tk_list_div list-view-enlarge box">
            <!-- tms广告位 -->
            <div class="hd ft">
                <h3>
                    <strong>猜你喜欢</strong>
                    
                </h3>

                <p class="bt-more">
                    <a target="_blank" href="http://search8.taobao.com/browse/search_easy.htm?keyword=%BA%AB%B0%E6%20%C5%AE%D7%B0&catid=16&refpid=419780_1007&isinner=0">更多热卖</a>
                </p>
            </div>
            <div class="bd">
                <ul class="rap-list"></ul>
                <div class="HackBox"> </div>
            </div>

        </div>
        <script type="text/javascript" src="http://a.tbcdn.cn/apps/tmallbuy/rap_engine.js?t=20121227" 
        data-args=
        "_container=rap-block&itemID=14060321248&_css=http://a.tbcdn.cn/apps/tmallbuy/rapthemes.css&_api=http://ald.taobao.com/recommend.htm&appID=03001&callback=_rapresult1&callback=_rapresult1&num=5&count=5&_cols=5&_rows=1&_sclrows=1&_delay=3&_speed=10&_imageSize=4&name=tcmad"></script>
    
	
	<div class="grid-c2-s6f">
		<!--tms广告位-->
		<div class="col-main" data-spm="a220l.12.2">
			<div class="main-wrap">
				<div class="box life-help">
					<div class="hd">
						<h3>生活助手</h3>
					</div>
					<div class="bd">
						<ul>

<li>
<a href="https://shenghuo.alipay.com/jiaofei.htm?_ad=c&_adType=lifejf_sdm_tbcg" title="水电煤缴费" class="icon"><img src="http://club3.alipay.com/yy/club/life/jiaofei/sdmicon.png" alt="" title="水电煤缴费" /></a>
<a href="https://shenghuo.alipay.com/jiaofei.htm?_ad=c&_adType=lifejf_sdm_tbcg" title="">水电煤缴费</a>
<p>在家缴费 0手续费</p>
</li>
<li>
<a href="https://shenghuo.alipay.com/credit.htm?_ad=c&_adType=lifehk_pay0726_tb" title="信用卡还款" class="icon"><img src="http://club3.alipay.com/yy/club/life/hkmass/images/hkicon.png" alt="" title="信用卡还款" /></a>
<a href="https://shenghuo.alipay.com/credit.htm?_ad=c&_adType=lifehk_pay0726_tb" title="">信用卡还款</a>
<p>到账快 跨行还款0手续费</p>
</li>
<li>
<a href="https://shenghuo.alipay.com/tongxun.htm?_ad=c&_adType=lifejf_txf_tbcg" title="通讯费" class="icon"><img src="http://club3.alipay.com/yy/club/life/jiaofei/txficon.png" alt="" title="通讯费" /></a>
<a href="https://shenghuo.alipay.com/tongxun.htm?_ad=c&_adType=lifejf_txf_tbcg" title="">通讯费</a>
<p>缴固话宽带费 手机充值95折</p>
</li>
<li>
<a href="https://shenghuo.alipay.com/payment.htm?_ad=c&_adType=tbsuccess_life_mypay" title="我要付款" class="icon"><img src="http://img02.taobaocdn.com/tps/i2/T1g_N3XjhtXXXXXXXX.png" alt="" title="我要付款" /></a>
<a href="https://shenghuo.alipay.com/payment.htm?_ad=c&_adType=tbsuccess_life_mypay" title="">我要付款</a>
<p>跨行付款 轻松实现</p>
</li>
<li>
<a href="https://shenghuo.alipay.com/gathering.htm?_ad=c&_adType=tbsuccess_life_myshou" title="我要收款" class="icon"><img src="http://img03.taobaocdn.com/tps/i3/T1JSejXl4jXXXXXXXX.png" alt="" title="我要收款" /></a>
<a href="https://shenghuo.alipay.com/gathering.htm?_ad=c&_adType=tbsuccess_life_myshou" title="">我要收款</a>
<p>轻松收款 免开尊口</p>
</li>
<li>
<a href="https://shenghuo.alipay.com/tocard.htm?_ad=c&_adType=tbsuccess_life_tocard" title="转账到银行卡" class="icon"><img src="http://img03.taobaocdn.com/tps/i3/T1ZlJ3XgJCXXXXXXXX.png" alt="" title="转账到银行卡" /></a>
<a href="https://shenghuo.alipay.com/tocard.htm?_ad=c&_adType=tbsuccess_life_tocard" title="">转账到银行卡</a>
<p>覆盖银行广 到账速度快</p>
</li>

</ul>
					</div>
				</div>
			</div>
		</div>
		<!--tms广告位-->
		<div class="col-sub" data-spm="a220l.12.3">
			<div class="box">
				<div class="hd">
					<h3>优惠促销</h3>
				</div>
				<div class="bd">
					<a href="http://fun.alipay.com/huafei/index.htm?_adType=aedbbgaafccbcdjdgbdi&src=fkcg_yhcx__banner01" title=""><img src="http://img01.taobaocdn.com/tps/i1/T1zwNeFXBXXXb1upjX.jpg" alt="" title="" height="50" width="208"/></a>


						<ul class="promote">
							 <li><a href="https://shenghuo.alipay.com/transfercore/fill.htm?_adType=afafbadjdiceafieehce&src=fkcg_yhcx__banner02" title="">用手机跨行转账，0服务费！</a></li>
							 <li><a href="http://fun.alipay.com/huafei/index.htm?_adType=aedbbgadbcjjagidjfje&src=fkcg_yhcx__banner03" title="">爆料6月电商大战最新内幕！</a></li>
						</ul>
				</div>
			</div>
		</div>
	</div>
<script>
    (function () { var e = KISSY, t = e.DOM, a = e.Event; e.use("tml/share", function (e, t) { var t = t || TML.Share, a = new t({ id: 10, container: ".TMLShare", type: "item", key: e.DOM.val("#J_ItemIdList").indexOf(",") !== -1 && e.DOM.val("#J_ItemIdList").split(",")[0], showRecTip: !1 }); a.on("beforeShare", function () { (new Image).src = "http://log.mmstat.com/tmalljy.2.7?pos=aifenxiang" }) }), a.on(document, "click", function (e) { var a = e.target || event.srcElement; if (t.hasClass(a, "J_MakePoint")) { var n = t.attr(a, "data-point-url"); (new Image).src = n } }) })()
</script>

    			<div style="padding-left: 10px; margin-top: 10px;">
					<img style="vertical-align: middle;" alt="反馈" src="http://img01.taobaocdn.com/tps/i1/T1TPhsXoRlXXXXXXXX-18-18.png" height="18" width="18">
					喵~在此反馈您的意见和建议吧，
					<a target="_blank" href="http://ur.taobao.com/survey/view.htm?id=1534">立即反馈</a>
				</div>
    		</div>
    		<!-- from vmcommon -->
		                                <!--商城通用底通-->
        <div id="footer">
    <div id="mall-desc">
        <dl id="ensure">
        <dt><span>天猫保障</span></dt>
        <dd>
            <span><i></i>7天无理由退换货</span>
            <span><i></i>提供发票</span>
        </dd>
    </dl>
    <dl id="beginner">
        <dt><span>新手上路</span></dt>
        <dd>
            <a href="http://register.tmall.com/" target="_blank"><i></i>免费注册</a>
            <a href="https://www.alipay.com/user/reg_select.htm" target="_blank"><i></i>开通支付宝</a>
            <a href="https://www.alipay.com/user/login.htm?goto=https%3A%2F%2Fwww.alipay.com%2Fuser%2Finpour_request.htm" target="_blank"><i></i>支付宝充值</a>
<a href="http://service.tmall.com/support/tmall/tmallHelp.htm" target="_blank"><i></i>帮助中心</a>
        </dd>
    </dl>
    <dl id="payment">
            <dt><span>支付方式</span></dt>
            <dd>
                <a href="http://home.alipay.com/bank/paymentKJ.htm" target="_blank"><i></i>支付宝快捷支付</a>
                <a href="http://home.alipay.com/bank/paymentAccount.htm" target="_blank"><i></i>支付宝余额付款</a>
                <a href="http://home.alipay.com/bank/paymentAlipayCard.htm" target="_blank"><i></i>支付宝卡付款</a>
                <a href="http://www.tmall.com/go/act/sale/cod.php" target="_blank"><i></i>货到付款</a>
                <a href="http://abc.alipay.com/cool/fastPayment.htm" target="_blank"><i></i>新人支付</a>
            </dd>
        </dl>

    <dl id="seller">
        <dt><span>商家服务</span></dt>
        <dd>
           <a href="http://zhaoshang.tmall.com/" target="_blank" class="join" ><i></i>商家入驻>></a>
           <a href="http://mai.taobao.com/" target="_blank" ><i></i>商家中心</a>
		<a href="http://peixun.tmall.com/" target="_blank" ><i></i>天猫智库</a>
           <a href="http://guize.tmall.com" target="_blank" ><i></i>天猫规则</a>
        </dd>
    </dl>
    <!--[if IE 6]><br /><![endif]-->
    <h4 class="go-home"><a href="http://www.tmall.com/" target="_blank" title="返回天猫首页" >返回天猫首页</a></h4>
    </div>
    <div id="copyright">
        <!-- foot links from tms start -->
    <p id="footer-tmallinfo">
        <a href="http://www.tmall.com/go/chn/mall/zhaoshang_produce.php" target="_blank">关于天猫</a>
        <a href="http://service.tmall.com/support/tmall/tmallHelp.htm" target="_blank">帮助中心</a>
        <a href="http://www.tmall.com/go/chn/navi-map/index.php" target="_blank">网站地图</a>
        <a href="http://job.taobao.com/" target="_blank">诚聘英才</a>
        <a href="http://www.tmall.com/go/chn/tmall/contact.php" target="_blank">联系我们</a>
        <a href="http://xtao.tmall.com?tracelog=tmallfoot" target="_blank">网站合作</a>
        <a href="http://www.taobao.com/about/copyright.php">版权说明</a>
    </p>
    <p id="footer-otherlink">
	<a target="_blank" href="http://page.china.alibaba.com/shtml/about/ali_group1.shtml">阿里巴巴集团</a>：	
      阿里巴巴网络 - <a target="_blank" href="http://china.alibaba.com/">中国站</a> <a target="_blank"    href="http://www.alibaba.com/">国际站</a> <a target="_blank" href="http://mai.aliexpress.com?tracelog=seller_sm_tmall">全球速卖通</a> <a target="_blank" href="http://www.alibaba.co.jp/">日文站</a> | 
	<a target="_blank" href="http://www.taobao.com/">淘宝网</a> | 
	<a target="_blank" href="http://www.etao.com/">一淘网</a> |
	<a target="_blank" href="http://ju.taobao.com/">聚划算</a> |
	<a target="_blank" href="http://www.alipay.com/">支付宝</a> | 
	<a target="_blank" href="http://www.yahoo.com.cn/">中国雅虎</a> | 
	<a target="_blank" href="http://www.alimama.com/">淘宝联盟</a> | 
        <a target="_blank" href="http://www.aliresearch.com/">集团研究中心</a> |
        <a href="http://tianxia.taobao.com/" target="_blank">淘宝天下</a> | 
        <a href="http://hitao.taobao.com/" target="_blank">嗨淘网</a> 
    </p>
    <p>Copyright&nbsp;2003-2013, 版权所有TMALL.COM <br />增值电信业务经营许可证：浙B2-20110446<br />网络文化经营许可证：<a href="http://img01.taobaocdn.com/tps/i1/T1M72qXjhgXXc1.xw7-2349-1700.jpg" target="_blank">浙网文[2012]0234-028号</a><br/>互联网医疗保健信息服务 审核同意书 浙 卫网审【2012】6号<br />互联网药品信息服务资质证书编号：浙-（经营性）-2012-0005</p>
    <!-- foot links from tms end -->
    </div>
    <div id="server-num">tmallbuy014107.cm4</div>
</div>
<!-- foot script -->
        </div>	
		
		        <script type="text/javascript" src="http://a.tbcdn.cn/apps/support/robot/js/minerva_ask.js?t=20110505"></script>
    	<script type="text/javascript">
    	    MINERVA_POPUP_URL = "http://service.taobao.com/support/minerva/minerva_ask.htm?minervasource=142";
    	</script>
	</body>
</html>
