<div class="brand" id="J_Brand" data-spm="3.1000473.361920" data-spm-max-idx="14">
    <h2>
        Hi，<span class="j_UserName">你好</span>！你可能感兴趣的品牌：</h2>
    <div class="brandMain" id="J_BrandAd">
         @{
             var rnd = new Random();
             var divisions_raw = new List<int> { 0, 1, 2, 3, 4 };
             var divisions = new List<int>();
             var division_count = 0;
             while (division_count <= 2)
             {
                 var i = rnd.Next(divisions_raw.Count);
@*                 @Html.Raw("count is" + divisions_raw.Count);
                 @Html.Raw("i is"+i.ToString()); *@
                 divisions.Add(divisions_raw.ElementAt(i));
@*                 @Html.Raw(divisions_raw.IndexOf(i));*@
                 divisions_raw.Remove(divisions_raw.ElementAt(i));
                 division_count++;
             }
             var brand_template = "<a class=\"brandAd-{0}\" href=\"merchant/index?scid=\"  target=\"_blank\"><img/><p></p><p></p><span class=\"mark  j_CollectBrand\"><s></s><b>关注</b></span></a>";
             var b_brand = string.Format(brand_template, "b");
             var s_brand = string.Format(brand_template, "s");
          
         }
         @for (var index = 0; index <= 4; index++)
         {
             var snippet = string.Empty;
             if (index == 4)
             {
               @:<div class="brandAd lastBrandAd">
             }
             else
             {
               @:<div class="brandAd">
             }
             if (divisions.Contains(index))
             {
                 var count = 2;
                 var position = rnd.Next(count);
                 for (var i = 0; i < count; i++)
                 {
                     if (i == position)
                     {
                         snippet += b_brand;
                     }
                     else
                     {
                         snippet += s_brand;
                     }
                 }
             }
             else
             {
                 snippet += s_brand + s_brand + s_brand;
             }  
             @Html.Raw(snippet)                  
             @:</div>
         }
       @* <div class="brandAd">
            <a class="brandAd-b" target="_blank">
                <img/>
                <p>
                </p>
                <p>
                </p>
                <span class="mark  j_CollectBrand"><s></s></span></a><a class="brandAd-s"
                    target="_blank">
                    <img/>
                    <p>
                    </p>
                    <p>
                    </p>
                    <span class="mark  j_CollectBrand"><s></s></span></a>
        </div>
        <div class="brandAd">
            <a class="brandAd-s" target="_blank">
                <img/>
                <p>
                </p>
                <p>
                </p>
                <span class="mark  j_CollectBrand"><s></s><b style="width: 10px; opacity: 0;">
                    您已关注该品牌</b> </span></a><a class="brandAd-b" target="_blank">
                        <img/>
                        <p>
                        </p>
                        <p>
                        </p>
                        <span class="mark  j_CollectBrand"><s></s></span></a>
        </div>
        <div class="brandAd">
            <a class="brandAd-s" target="_blank">
                <img/>
                <p>
                </p>
                <p>
                </p>
                <span class="mark  j_CollectBrand"><s></s><b style="width: 10px; opacity: 0;">
                    您已关注该品牌</b> </span></a><a class="brandAd-s" target="_blank">
                        <img/>
                        <p>
                        </p>
                        <p>
                        </p>
                        <span class="mark  j_CollectBrand"><s></s><b style="width: 10px; opacity: 0;">
                            您已关注该品牌</b> </span></a><a class="brandAd-s" target="_blank">
                                <img/>
                                <p>
                                </p>
                                <p>
                                </p>
                                <span class="mark  j_CollectBrand"><s></s></span>
            </a>
        </div>
        <div class="brandAd">
            <a class="brandAd-s" target="_blank">
                <img/>
                <p>
                </p>
                <p>
                </p>
                <span class="mark  j_CollectBrand"><s></s><b style="width: 10px; opacity: 0;">
                    您已关注该品牌</b> </span></a><a class="brandAd-s" target="_blank">
                        <img/>
                        <p>
                        </p>
                        <p>
                        </p>
                        <span class="mark  j_CollectBrand"><s></s></span></a><a class="brandAd-s" target="_blank">
                            <img/>
                            <p>
                            </p>
                            <p>
                            </p>
                            <span class="mark  j_CollectBrand"><s></s></span>
            </a>
        </div>
        <div class="brandAd lastBrandAd">
            <a class="brandAd-b" target="_blank">
                <img/>
                <p>
                </p>
                <p>
                </p>
                <span class="mark  j_CollectBrand"><s></s><b>关注</b></span> </a><a class="brandAd-s" target="_blank">
                    <img/>
                    <p>
                    </p>
                    <p>
                    </p>
                    <span class="mark  j_CollectBrand"><s></s><b>关注</b></span> </a>
        </div>*@
        <div class="brandRight">
            <s class="brandShadow"></s>
            <div class="J_DirectPromo" id="J_DirectPromo_430" data-resid="430">
                <div class="greatBrand">
                    <a href=""
                        title="全场包邮" target="_blank" data-spm-anchor-id="3.1000473.361920.13">
                        <img width="130" height="80" src="http://localhost:7525/Images/skii_brand-130-80.jpg"
                            alt="全场包邮">
                        <p>
                            <b>全场包邮</b><span></span></p>
                    </a>
                </div>
            </div>
            <style>
                .brand .greatBrand b
                {
                    padding-left: 0;
                }
            </style>
            <div class="J_DirectPromo" id="J_DirectPromo_431" data-resid="431">
                <a class="temai" href=""
                    title="条纹海军风甜美衬衫" target="_blank" data-spm-anchor-id="3.1000473.361920.14">
                    <img width="188" height="214" src="http://localhost:7525/Images/yihuasha.jpg"
                        alt="条纹海军风甜美衬衫">
                    <p>
                        <span>条纹海军风甜美衬衫</span></p>
                </a>
            </div>
        </div>
    </div>
</div>
