<div class="brand" id="J_Brand" data-spm="3.1000473.361920" data-spm-max-idx="14">
    <h2>
        Hi，<span class="j_UserName">你好</span>！你可能感兴趣的品牌：</h2>
    <div class="brandMain" id="J_BrandAd">
        <div class="brandAd">
            <a class="brandAd-b" href="http://handuyishe.tmall.com?spm=3.1000473.361920.1.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                title="韩风快时尚品牌" brand-id="29481" target="_blank" data-spm-anchor-id="3.1000473.361920.1">
                <img width="130" height="225" src="http://img01.taobaocdn.com/tps/i1/T189bUXihfXXclNAI0-130-225.jpg"
                    alt="" style="">
                <img width="130" height="225" src="http://img04.taobaocdn.com/tps/i4/T1jhDVXfxXXXclNAI0-130-225.jpg"
                    alt="Erdos/鄂尔多斯" style="display: none;">
                <p>
                    [韩都衣舍]</p>
                <p>
                    韩风快时尚品牌</p>
                <span class="mark j_CollectBrand" data-brandid="8598007" offset-brandfly="17,0" style="opacity: 0;">
                    <s style="background-color: rgb(195, 195, 195);"></s><b>关注</b></span> </a>
            <a class="brandAd-s" href="http://samsung.tmall.com?spm=3.1000473.361920.2.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                title="创领时代新生活" brand-id="7780413" target="_blank" data-spm-anchor-id="3.1000473.361920.2">
                <img class="logo" width="90" height="45" src="http://img03.taobaocdn.com/tps/i3/T1D82TXfXeXXXQXDnq-90-45.png"
                    alt="" style="">
                <img class="logo" width="90" height="45" src="http://img04.taobaocdn.com/tps/i2/T1wXjnXmFoXXXQXDnq-90-45.png"
                    alt="燕之坊" style="display: none;">
                <p>
                    [Samsung/三星]</p>
                <p>
                    创领时代新生活</p>
                <span class="mark j_CollectBrand" data-brandid="81156" offset-brandfly="17,0" style="opacity: 0;">
                    <s style="background-color: rgb(195, 195, 195);"></s><b>关注</b></span> </a>
        </div>
        <div class="brandAd">
            <a class="brandAd-s" href="http://anta.tmall.com?spm=3.1000473.361920.3.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                title="创百年品牌" brand-id="75586222" target="_blank" data-spm-anchor-id="3.1000473.361920.3">
                <img class="logo" width="90" height="45" src="http://img02.taobaocdn.com/tps/i2/T1AW3ZXatXXXXQXDnq-90-45.png"
                    alt="" style="">
                <img class="logo" width="90" height="45" src="http://img04.taobaocdn.com/tps/i3/T1HTnTXgBiXXXQXDnq-90-45.png"
                    alt="MXM/木村原宿" style="display: none;">
                <p>
                    [ANTA/安踏]</p>
                <p>
                    创百年品牌</p>
                <span class="j_CollectBrand" data-brandid="3424764" offset-brandfly="17,0" style="opacity: 0.9;">
                    <s style="background-color: rgb(185, 0, 0);"></s><b style="width: 10px; opacity: 0;">
                        您已关注该品牌</b></span> </a><a class="brandAd-b" href="http://mizuno.tmall.com?spm=3.1000473.361920.4.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                            title="满399元免邮费" brand-id="113993395" target="_blank" data-spm-anchor-id="3.1000473.361920.4">
                            <img width="130" height="225" src="http://img02.taobaocdn.com/tps/i2/T1pnzTXd0mXXclNAI0-130-225.jpg"
                                alt="" style="">
                            <img width="130" height="225" src="http://img04.taobaocdn.com/tps/i4/T1qSPVXhFfXXclNAI0-130-225.jpg"
                                alt="REEDOON" style="display: none;">
                            <p>
                                [Mizuno/美津浓]</p>
                            <p>
                                满399元免邮费</p>
                            <span class="mark j_CollectBrand" data-brandid="20588" offset-brandfly="17,0" style="opacity: 0;">
                                <s style="background-color: rgb(195, 195, 195);"></s><b>关注</b></span>
            </a>
        </div>
        <div class="brandAd">
            <a class="brandAd-s" href="http://mideawb.tmall.com?spm=3.1000473.361920.5.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                title="生活可以更美的" brand-id="68893777" target="_blank" data-spm-anchor-id="3.1000473.361920.5">
                <img class="logo" width="90" height="45" src="http://img04.taobaocdn.com/tps/i4/T11h3WXhpcXXXQXDnq-90-45.png"
                    alt="" style="">
                <img width="130" height="82" src="http://img04.taobaocdn.com/tps/i4/T1b6rVXhVaXXa3vv7_-130-82.jpg"
                    alt="VOA/维欧艾" style="display: none;">
                <p>
                    [midea/美的]</p>
                <p>
                    生活可以更美的</p>
                <span class="j_CollectBrand" data-brandid="30652" offset-brandfly="17,0" style="opacity: 0.9;">
                    <s style="background-color: rgb(185, 0, 0);"></s><b style="width: 10px; opacity: 0;">
                        您已关注该品牌</b></span> </a><a class="brandAd-s" href="http://htc.tmall.com?spm=3.1000473.361920.6.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                            title="魅丽拍摄 悦动音效" brand-id="28747" target="_blank" data-spm-anchor-id="3.1000473.361920.6">
                            <img class="logo" width="90" height="45" src="http://img02.taobaocdn.com/tps/i2/T1bJTVXmNXXXXQXDnq-90-45.png"
                                alt="" style="">
                            <img width="130" height="82" src="http://img04.taobaocdn.com/tps/i3/T18enVXcFdXXa3vv7_-130-82.jpg"
                                alt="NARUKO/牛尔" style="display: none;">
                            <p>
                                [HTC]</p>
                            <p>
                                魅丽拍摄 悦动音效</p>
                            <span class="j_CollectBrand" data-brandid="3261618" offset-brandfly="17,0" style="opacity: 0.9;">
                                <s style="background-color: rgb(185, 0, 0);"></s><b style="width: 10px; opacity: 0;">
                                    您已关注该品牌</b></span> </a><a class="brandAd-s" href="http://haiwang.tmall.com?spm=3.1000473.361920.7.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                                        title="满99元免邮费" brand-id="4485482" target="_blank" data-spm-anchor-id="3.1000473.361920.7">
                                        <img class="logo" width="90" height="45" src="http://img03.taobaocdn.com/tps/i3/T1Q.PWXjtaXXXQXDnq-90-45.png"
                                            alt="" style="">
                                        <img width="130" height="82" src="http://img04.taobaocdn.com/tps/i4/T19I2VXhxeXXa3vv7_-130-82.jpg"
                                            alt="棉花堂" style="display: none;">
                                        <p>
                                            [海王]</p>
                                        <p>
                                            满99元免邮费</p>
                                        <span class="mark j_CollectBrand" data-brandid="32503" offset-brandfly="17,0" style="opacity: 0;">
                                            <s style="background-color: rgb(195, 195, 195);"></s><b>关注</b></span>
            </a>
        </div>
        <div class="brandAd">
            <a class="brandAd-s" href="http://baocheng.tmall.com?spm=3.1000473.361920.8.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                title="满100元免邮费" brand-id="3224769" target="_blank" data-spm-anchor-id="3.1000473.361920.8">
                <img class="logo" width="90" height="45" src="http://img02.taobaocdn.com/tps/i2/T199rUXdhbXXXQXDnq-90-45.png"
                    alt="" style="">
                <img width="130" height="82" src="http://img04.taobaocdn.com/tps/i3/T1qY2UXlhkXXa3vv7_-130-82.jpg"
                    alt="Le coq sportif/公鸡" style="display: none;">
                <p>
                    [宝诚]</p>
                <p>
                    满100元免邮费</p>
                <span class="j_CollectBrand" data-brandid="8749637" offset-brandfly="17,0" style="opacity: 0.9;">
                    <s style="background-color: rgb(185, 0, 0);"></s><b style="width: 10px; opacity: 0;">
                        您已关注该品牌</b></span> </a><a class="brandAd-s" href="http://baichuncuijian.tmall.com?spm=3.1000473.361920.9.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                            title="百纯萃健" brand-id="3612033" target="_blank" data-spm-anchor-id="3.1000473.361920.9">
                            <img class="logo" width="90" height="45" src="http://img08.taobaocdn.com/tps/i8/T1PPpIXiXeXXb1upjX.jpg"
                                alt="" style="">
                            <img width="130" height="82" src="http://img04.taobaocdn.com/tps/i3/T1NPLUXXthXXXExv7_-130-82.png"
                                alt="珂卡芙" style="display: none;">
                            <p>
                                [百纯萃健]</p>
                            <p>
                            </p>
                            <span class="mark j_CollectBrand" data-brandid="76450745" offset-brandfly="17,0"
                                style="opacity: 0;"><s></s><b>关注</b></span> </a><a class="brandAd-s" href="http://adidas.tmall.com?spm=3.1000473.361920.10.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                                    title="Adidas三叶草/三叶草" brand-id="4534848" target="_blank" data-spm-anchor-id="3.1000473.361920.10">
                                    <img class="logo" width="90" height="45" src="http://img02.taobaocdn.com/tps/i2/T1mFHUXkxeXXXQXDnq-90-45.png"
                                        alt="" style="">
                                    <img class="logo" width="90" height="45" src="http://img04.taobaocdn.com/tps/i3/T1OtfVXnlXXXXQXDnq-90-45.png"
                                        alt="M-box/音乐盒" style="display: none;">
                                    <p>
                                        [Adidas三叶草/三叶草]</p>
                                    <p>
                                    </p>
                                    <span class="mark j_CollectBrand" data-brandid="42555" offset-brandfly="17,0" style="opacity: 0;">
                                        <s style="background-color: rgb(195, 195, 195);"></s><b>关注</b></span>
            </a>
        </div>
        <div class="brandAd lastBrandAd">
            <a class="brandAd-b" href="http://lining.tmall.com?spm=3.1000473.361920.11.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                title="满280元免邮费" brand-id="80882" target="_blank" data-spm-anchor-id="3.1000473.361920.11">
                <img width="130" height="225" src="http://img02.taobaocdn.com/tps/i2/T1_sDQXbJmXXclNAI0-130-225.jpg"
                    alt="" style="">
                <img width="130" height="225" src="http://img04.taobaocdn.com/tps/i4/T1OfHPXXNrXXclNAI0-130-225.jpg"
                    alt="紫罗兰" style="display: none;">
                <p>
                    [Lining/李宁]</p>
                <p>
                    满280元免邮费</p>
                <span class="mark j_CollectBrand" data-brandid="20592" offset-brandfly="17,0" style="opacity: 0;">
                    <s></s><b>关注</b></span> </a><a class="brandAd-s" href="http://liantonghuasheng.tmall.com?spm=3.1000473.361920.12.lKlHIy&amp;scm=1003.3.12002.99&amp;acm=12002.1003.0.0.0"
                        title="Apple/苹果" brand-id="43251" target="_blank" data-spm-anchor-id="3.1000473.361920.12">
                        <img class="logo" width="90" height="45" src="http://img03.taobaocdn.com/tps/i3/T10lZDXbFhXXbc_Djq-90-45.jpg"
                            alt="" style="">
                        <img class="logo" width="90" height="45" src="http://img04.taobaocdn.com/tps/i4/T1A3nSXjtmXXXQXDnq-90-45.png"
                            alt="三枪" style="display: none;">
                        <p>
                            [Apple/苹果]</p>
                        <p>
                        </p>
                        <span class="mark j_CollectBrand" data-brandid="30111" offset-brandfly="17,0" style="opacity: 0;">
                            <s></s><b>关注</b></span> </a>
        </div>
        <div class="brandRight">
            <s class="brandShadow"></s>
            <div class="J_DirectPromo" id="J_DirectPromo_430" data-resid="430">
                <div class="greatBrand">
                    <a href="http://www.tmall.com/go/act/tmall/jrzdp.php?spm=3.1000473.361920.13.lKlHIy&amp;ad_id=&amp;am_id=130101577425959c30d7&amp;cm_id=&amp;pm_id=&amp;tml"
                        title="全场包邮" target="_blank" data-spm-anchor-id="3.1000473.361920.13">
                        <img width="130" height="80" src="http://img02.taobaocdn.com/tps/i2/T11_lyXBReXXXO1L3_-130-80.jpg"
                            alt="全场包邮">
                        <p>
                            <b>全场包邮</b><span></span></p>
                    </a>
                </div>
            </div>
            <style>
                .brand .greatBrand b
                {
                    padding-left: 0;
                }
            </style>
            <div class="J_DirectPromo" id="J_DirectPromo_431" data-resid="431">
                <a class="temai" href="http://temai.tmall.com/?spm=3.1000473.361920.14.lKlHIy#shi"
                    title="条纹海军风甜美衬衫" target="_blank" data-spm-anchor-id="3.1000473.361920.14">
                    <img width="188" height="214" src="http://img03.taobaocdn.com/tps/i3/T19otyXx8eXXb1upjX.jpg"
                        alt="条纹海军风甜美衬衫">
                    <p>
                        <span>条纹海军风甜美衬衫</span></p>
                </a>
            </div>
        </div>
    </div>
</div>
