@using Friday.mvc.Models
@model MainModel
<div id="J_Category" class="category">
    <h2 class="categoryHd">
        <a>所有商品分类</a><s class="j_ExpandCat expandCat selectedCat" title="扩展视图" style="display: inline;"></s><s
            class="j_SimpleCat simpleCat" title="精简视图" style="display: inline;"></s>
    </h2>
    <div class="menu j_Menu" data-spm="3.356818.294515">
        <ul>
            <li class="item item1 j_MenuItem">
                <h3 class="item-hd item-hd1">
                    <s></s>租赁
                </h3>
                    @for (var index = 0; index < Model.MerchantRentCategories.Count(); index++)
                    {
                        
                            
                        if (index%5==0)
                        {
                            if (index == 0)
                            {
                              @:<p class="item-col  itemCol1 ">
                            }
                            else
                            {
                               @:<b class="overlay even"></b></p>
                               @:<p class="item-col">
                            }
                        }
                        var item = Model.MerchantRentCategories.ElementAt(index);
                        if (index % 5 == 0)
                        {
                        @:<a href="" target="_blank" class="item-col1">@Html.Encode(item.MerchantCategoryName)</a>
                        }
                        else
                        {
                         @:<a href="" target="_blank" >@Html.Encode(item.MerchantCategoryName)</a>
                        }
              
                    }
                    <b class="overlay even"></b>
                    </p>
                   
                <s class="menuIcon"></s></li>
            <li class="item item2 j_MenuItem">
                <h3 class="item-hd item-hd2">
                    <s></s>商铺
                </h3>
                <p class="item-col  itemCol1 ">
                    <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.11&amp;&amp;zk_type=0&amp;pic_detail=1&amp;cat=50025829&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                        target="_blank" class="item-col1">女鞋</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.12&amp;zk_type=0&amp;pic_detail=1&amp;cat=50026637&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_leftnav&amp;active=1&amp;q="
                            target="_blank">男鞋</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.13&amp;zk_type=0&amp;pic_detail=1&amp;cat=50034690&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                                target="_blank">雪地靴</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.14&amp;zk_type=0&amp;pic_detail=1&amp;cat=50025836&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat&amp;active=1&amp;q="
                                    target="_blank">靴子</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.15&amp;zk_type=0&amp;pic_detail=1&amp;cat=50076899&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat-qp&amp;active=1&amp;q="
                                        target="_blank">男靴</a> <b class="overlay even"></b>
                </p>
                <p class="item-col ">
                    <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.16&amp;&amp;cat=50095656&amp;catName=&amp;sort=s&amp;style=g&amp;vmarket=0&amp;nav=spu-cat&amp;navlog=2&amp;hotsale=0&amp;active=1"
                        target="_blank" class="item-col1">女包</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.17&amp;&amp;cat=50095657&amp;catName=&amp;sort=s&amp;style=g&amp;vmarket=0&amp;nav=spu-cat&amp;navlog=3&amp;hotsale=0&amp;active=1"
                            target="_blank">男包</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.18&amp;active=1&amp;from=sn_1_cat&amp;area_code=310000&amp;search_condition=7&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50095658#J_crumbs"
                                target="_blank">旅行箱</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.19&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50108478#J_crumbs"
                                    target="_blank">双肩包</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.20&amp;from=sn_1_cat-qp&amp;area_code=310000&amp;style=g&amp;sort=s&amp;q=%C7%AE%B0%FC&amp;n=60&amp;s=0&amp;cat=50025861"
                                        target="_blank">钱包</a> <b class="overlay even"></b>
                </p>
                <s class="menuIcon"></s></li>
            <li class="item item3 j_MenuItem">
                <h3 class="item-hd item-hd3">
                    <s></s>餐馆
                </h3>
                <p class="item-col  itemCol1 ">
                    <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.11&amp;&amp;zk_type=0&amp;pic_detail=1&amp;cat=50025829&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                        target="_blank" class="item-col1">女鞋</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.12&amp;zk_type=0&amp;pic_detail=1&amp;cat=50026637&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_leftnav&amp;active=1&amp;q="
                            target="_blank">男鞋</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.13&amp;zk_type=0&amp;pic_detail=1&amp;cat=50034690&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                                target="_blank">雪地靴</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.14&amp;zk_type=0&amp;pic_detail=1&amp;cat=50025836&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat&amp;active=1&amp;q="
                                    target="_blank">靴子</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.15&amp;zk_type=0&amp;pic_detail=1&amp;cat=50076899&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat-qp&amp;active=1&amp;q="
                                        target="_blank">男靴</a> <b class="overlay even"></b>
                </p>
                <p class="item-col ">
                    <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.16&amp;&amp;cat=50095656&amp;catName=&amp;sort=s&amp;style=g&amp;vmarket=0&amp;nav=spu-cat&amp;navlog=2&amp;hotsale=0&amp;active=1"
                        target="_blank" class="item-col1">女包</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.17&amp;&amp;cat=50095657&amp;catName=&amp;sort=s&amp;style=g&amp;vmarket=0&amp;nav=spu-cat&amp;navlog=3&amp;hotsale=0&amp;active=1"
                            target="_blank">男包</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.18&amp;active=1&amp;from=sn_1_cat&amp;area_code=310000&amp;search_condition=7&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50095658#J_crumbs"
                                target="_blank">旅行箱</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.19&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50108478#J_crumbs"
                                    target="_blank">双肩包</a> <a href="http://list.tmall.com/search_product.htm?spm=3.356818.294515.20&amp;from=sn_1_cat-qp&amp;area_code=310000&amp;style=g&amp;sort=s&amp;q=%C7%AE%B0%FC&amp;n=60&amp;s=0&amp;cat=50025861"
                                        target="_blank">钱包</a> <b class="overlay even"></b>
                </p>
                <s class="menuIcon"></s></li>
        </ul>
        <div class="menu-bottom j_BottomMenu">
            <a href="http://cz.tmall.com/?spm=3.356818.294515.155&amp;sort=phone" target="_blank">
                <h3 class="item-hd item-hd16">
                    <s></s>手机充值/网游点卡</h3>
                <s class="menuIcon"></s></a>
        </div>
        <s class="menuMask"></s>
    </div>
</div>
