<div class="footer">
    <div class="container">
        <div class="row">
            <div class="span12 links">
                <a href="~/about/restaurant_join">我要开店 </a><span>|</span> <a href="~/about/contact_us">联系我们 </a><span>|</span> <a href="~/about/service_book">服务条款和协议 </a>
                <span>|</span> <a href="~/about/join_us">加入我们 </a>
            </div>
        </div>
        <div class="row">
            <div class="span12 copyright">
                <img src="http://img.tongji.linezing.com/3068081/tongji.gif" alt="量子恒道" />
                Copyright 2003-2013, 版权所有邻居在线.COM
                <br />
                增值电信业务经营许可证：重B2-20110446<br />
                网络文化经营许可证： 重网文[2012]0234-028号
                <br />
                互联网医疗保健信息服务 审核同意书 重 卫网审【2012】6号
                <br />
                互联网药品信息服务资质证书编号：重-（经营性）-2012-0005
            </div>
        </div>
    </div>
</div>
