<div id="footer">
    <div id="mall-desc">
        <dl id="ensure">
        <dt><span>邻居保障</span></dt>
        <dd>
        @*    <span><i></i>7天无理由退换货</span>
            <span><i></i>提供发票</span>*@
        </dd>
    </dl>
    <dl id="beginner">
        <dt><span>新手上路</span></dt>
        <dd>
            <a href="http://localhost:7525/Account/register" target="_blank"><i></i>免费注册</a>
       @*     <a href="" target="_blank"><i></i>开通支付宝</a>
            <a href="" target="_blank"><i></i>支付宝充值</a>*@
            <a href="http://localhost:7525/OtherPage/DataResource?secitonName=帮助中心" target=""><i></i>帮助中心</a>
        </dd>
    </dl>
    <dl id="payment">
            <dt><span>支付方式</span></dt>
            <dd>
              @*  <a href="http://kuai.alipay.com/product/" target="_blank"><i></i>支付宝快捷支付</a>*@
                <a href="" target="_blank"><i></i>货到付款</a>
               @* <a href="" target="_blank"><i></i>网上银行支付</a>*@
            </dd>
        </dl>

    <dl id="seller">
        <dt><span>商家服务</span></dt>
        <dd>
           <a href="http://localhost:7525/OtherPage/DataResource?secitonName=商家入驻" target="_blank" class="join"><i></i>商家入驻</a>
           <a href="http://localhost:7525/weblogin/login.aspx" target="_blank"><i></i>商家中心</a>
	@*	<a href="" target="_blank"><i></i>智库</a>*@
           <a href="http://localhost:7525/OtherPage/DataResource?secitonName=开铺规则" target="_blank"><i></i>开铺规则</a>
        </dd>
    </dl>
    <!--[if IE 6]><br /><![endif]-->
    <h4 class="go-home"><a href="http://localhost:7525/index.html" target="_blank" title="返回首页">返回首页</a></h4>
    </div>
    <div id="copyright">
        <!-- foot links from tms start -->
    <p id="footer-Tmallinfo">
        <a href="http://localhost:7525/OtherPage/DataResource?secitonName=关于本站" target="_blank">关于本站</a>
        <a href="http://localhost:7525/OtherPage/DataResource?secitonName=帮助中心"  target="_blank">帮助中心</a>
        <a href="http://localhost:7525/OtherPage/DataResource?secitonName=网站地图" target="_blank">网站地图</a>
        <a href="http://localhost:7525/OtherPage/DataResource?secitonName=诚聘英才" target="_blank">诚聘英才</a>
        <a href="http://localhost:7525/OtherPage/DataResource?secitonName=联系我们" target="_blank">联系我们</a>
        <a href="http://localhost:7525/OtherPage/DataResource?secitonName=网站合作" target="_blank">网站合作</a>
        <a href="http://localhost:7525/OtherPage/DataResource?secitonName=版权说明" target="_blank">版权说明</a>
    </p>
    <p id="footer-otherlink">
	<a target="_blank" href="#">邻居在线集团</a>@*：	
      邻居在线网络 - <a target="_blank" href=" ">中国站</a> <a target="_blank" href=" ">国际站</a>*@ 
    @*  <a target="_blank" href="">全球速卖通</a> <a target="_blank" href="">日文站</a> | *@
	@*<a target="_blank" href=" ">邻居在线网</a> | *@
@*	<a target="_blank" href=" ">邻居网</a> |
	<a target="_blank" href=" ">聚划算</a> |
	<a target="_blank" href="http://www.alipay.com/">支付宝</a> | 
	<a target="_blank" href="http://www.yahoo.com.cn/">中国雅虎</a> | 
	<a target="_blank" href=" ">邻居在线联盟</a> | 
        <a target="_blank" href=" ">集团研究中心</a> |
        <a href=" " target="_blank">邻居在线天下</a> | 
        <a href="" target="_blank">邻居网</a> *@
    </p>
    <p>Copyright&nbsp;2003-2013, 版权所有邻居在线.COM <br>
    增值电信业务经营许可证：重B2-20110446<br>网络文化经营许可证：
    <a href="" target="_blank">重网文[2012]0234-028号</a>
    <br>互联网医疗保健信息服务 审核同意书 重 卫网审【2012】6号
    <br>互联网药品信息服务资质证书编号：重-（经营性）-2012-0005</p>
    <!-- foot links from tms end -->
    </div>
        <div id="server-num">版本V0.72</div>
</div>