<div id="header">
    <div class="headerCon">
        <!-- logo extra -->
        <h1 id="mallLogo">
         <a href="http://120.192.31.164:7525/index.html">   <img style="" src="http://120.192.31.164:7525/Images/TmallMchtHeader-189-26.png"
                alt="邻居在线.com" width="189" height="26" /></a>
        </h1>
        <div id="mallSearch">
            <form class="mallSearch-form" name="searchTop" target="_top" action="">
            <fieldset>
                <legend>邻居在线搜索</legend>
                <div class="mallSearch-input clearfix">
                    <label for="mq" style="visibility: visible; color: rgb(102, 102, 102);">
                        搜索 邻居在线 商品/店铺</label>
                    <input type="text" name="q" id="mq" accesskey="s" tabindex="9" autocomplete="off"
                        autofocus="true" x-webkit-speech="" x-webkit-grammar="builtin:translate">
                    <button id="J_MallSearchBtn" type="submit">
                        搜索<s></s></button>
                    <input type="hidden" name="user_action" value="initiative">
                    <input type="hidden" name="at_topsearch" value="1">
                    <input type="hidden" name="sort" value="st">
                    <input id="J_Type" type="hidden" name="type" value="p">
                    <input id="J_Cat" type="hidden" name="cat">
                </div>
            </fieldset>
            <input id="J_MallSearchStyle" type="hidden" value="" name="style"></form>
        </div>
    </div>
</div>
