<div id="header" class="mallChn">
    <div class="headerLayout">
	   	          <!-- flash logo -->



        <div class="headerCon  hasSubLogo ">
        <h1 id="mallLogo">
	<span class="mlogo"><a href="http://www.linjuzaixian.com/index.html" title="邻居在线NeighborOnline.com"><s></s>邻居在线NeighborOnline.com</a></span>
</h1>

                            <div class="subLogo"><div class="subLogo-con mybrand"><a class="subLogo-hd" href="http://www.linjuzaixian.com/myBrandsIndex.html">我关注的品牌<s></s><i></i></a>
                              <div class="subLogo-bd">
  
        <a href=" ">品牌街</a>
        <a href=" ">品牌特卖</a>
        <a href=" ">电器城</a>
        <a href=" ">邻居在线原创</a>
        <a href=" ">邻居在线预售</a>
        <a href=" ">百事邻居在线</a>
        <a href=" ">邻居在线俱乐部</a>
        <a href=" ">邻居在线书城</a>
        <a href=" ">医药馆</a>
        <a href=" ">家装馆</a>
      
</div>

                        </div></div>
                        			<div id="mallSearch">
        <div class="mallSearch-bg">
            <form name="searchTop" action=" " class="mallSearch-form clearfix">
                <fieldset>
                    <legend>邻居在线搜索</legend>
                                        <div id="J_SelectTypes" class="mallSearch-type">
                        <a class="active search-product" data-type="p" href=" " data-label="搜索 邻居在线 商品">商品<i></i></a>
                        <a class="search-shop" data-type="s" href="" data-label="搜索 邻居在线 店铺">店铺</a>
                                                                                                                     </div>
                    <div class="mallSearch-input clearfix">
                        <label for="mq" style="visibility: visible;">搜索 邻居在线 商品/店铺</label>
                                                    <input type="text" name="q" accesskey="s" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" value="" id="mq">
                                                <button type="submit">搜索<s></s></button>
                                                <input id="J_Type" type="hidden" name="type" value="p">
                        <input id="J_MallSearchStyle" type="hidden" name="style" value="">
                                                                                                                            <input id="J_Cat" type="hidden" name="cat" value="all">
                                            </div>
                </fieldset>
            </form>
        </div>
    </div>
		    </div>
    </div>
</div>