<div id="header" class="mallChn">
    <div class="headerLayout">
	   	          <!-- flash logo -->



        <div class="headerCon  hasSubLogo ">
        <h1 id="mallLogo">
	<span class="mlogo"><a href="http://www.tmall.com/" title="天猫Tmall.com"><s></s>天猫Tmall.com</a></span>
</h1>

                            <div class="subLogo"><div class="subLogo-con mybrand"><a class="subLogo-hd" href="http://brand.tmall.com/myBrandsIndex.htm">我关注的品牌<s></s><i></i></a>
                              <div class="subLogo-bd">
  
        <a href="http://brand.tmall.com/?spm=3.418669.321981.1">品牌街</a>
        <a href="http://temai.tmall.com/?spm=3.418669.321981.2">品牌特卖</a>
        <a href="http://3c.tmall.com/?spm=3.418669.321981.3">电器城</a>
        <a href="http://www.tmall.com/go/chn/mall/taobrands.php?spm=3.418669.321981.4">天猫原创</a>
        <a href="http://yushou.tmall.com/?spm=3.418669.321981.5">天猫预售</a>
        <a href="http://www.pepsitmall.com/?spm=3.418669.321981.6">百事淘宝</a>
        <a href="http://vip.tmall.com/?spm=3.418669.321981.7">天猫俱乐部</a>
        <a href="http://book.tmall.com/?spm=3.418669.321981.8">天猫书城</a>
        <a href="http://www.tmall.com/yao?spm=3.418669.321981.9">医药馆</a>
        <a href="http://jia.tmall.com/?spm=3.418669.321981.10">家装馆</a>
      
</div>

                        </div></div>
                        			<div id="mallSearch">
        <div class="mallSearch-bg">
            <form name="searchTop" action="http://list.tmall.com/search_dispatcher.htm" class="mallSearch-form clearfix">
                <fieldset>
                    <legend>天猫搜索</legend>
                                        <div id="J_SelectTypes" class="mallSearch-type">
                        <a class="active search-product" data-type="p" href="http://list.tmall.com/search_product.htm" data-label="搜索 天猫 商品">商品<i></i></a>
                        <a class="search-shop" data-type="s" href="http://list.tmall.com/search_shop.htm" data-label="搜索 天猫 店铺">店铺</a>
                                                                                                                     </div>
                    <div class="mallSearch-input clearfix">
                        <label for="mq" style="visibility: visible;">搜索 天猫 商品/店铺</label>
                                                    <input type="text" name="q" accesskey="s" autocomplete="off" x-webkit-speech="" x-webkit-grammar="builtin:translate" value="" id="mq">
                                                <button type="submit">搜索<s></s></button>
                                                <input id="J_Type" type="hidden" name="type" value="p">
                        <input id="J_MallSearchStyle" type="hidden" name="style" value="">
                                                                                                                            <input id="J_Cat" type="hidden" name="cat" value="all">
                                            </div>
                </fieldset>
            </form>
        </div>
    </div>
		    </div>
    </div>
</div>