@using Friday.mvc.Models
@model MainModel
<div class="mfpSlide" id="J_MfpSlide" data-spm="3.362490.296814">
    <ul class="mfpSlide-con">
        <li class="j_MSDirect_285 ks-switchable-panel-internal13" style="background-color: rgb(219, 3, 58);
            background-image: url(http://img02.taobaocdn.com/tps/i2/T1audaXsJbXXb2TIbx-1600-420.jpg_q90.jpg);
            display: block; opacity: 0; position: absolute; z-index: 1;">
            <div class="mSc-main">
                <b class="mScm-text1" style="top: -40px; opacity: 0;">
                    <img src="http://img01.taobaocdn.com/tps/i1/T197pXXuNcXXc98u3P-760-210.png" width="760"
                        height="210"></b> <a class="mScm-link" href="http://www.tmall.com/go/act/tmall/lmmw.php?spm=3.384881.306644.1&amp;ad_id=&amp;am_id=&amp;cm_id=1401047978d798e7d75e&amp;pm_id="
                            title="家装" data-spm="d1"></a>
                <ul class="mScm-right j_MaskBanner">
                    <li class="J_DirectPromo" id="J_DirectPromo_382" data-resid="382" style="height: 390px">
                        <a href="http://yushou.tmall.com/?spm=3.384881.306644.2" title="家具外贸" data-spm="d2">
                            <img src="http://img03.taobaocdn.com/tps/i3/T1XX4XXClgXXXC3Cwy-190-390.jpg" width="190"
                                height="390"><s></s><i style="opacity: 0;"></i></a> </li>
                </ul>
            </div>
        </li>
        <li class="ks-switchable-panel-internal13" style="display: block; opacity: 1; position: absolute;
            z-index: 9; background-image: url(http://i.mmcdn.cn/simba/img/T1_9paXuRXXXb1upjX.jpg?noq=y);">
            <div class="mSc-main">
                <a class="mScm-link" href="http://click.mz.simba.taobao.com/ecpm?e=jtd%2Bz8xtVt8wkC6KrEvY%2FadJt7%2FUHFGYcznijxxWocobz869yNwu6K677NTPmkiu7lXaodDDwrybvsO%2BWKkub9VLS5GYGP6t0nI99kpswyRJRquFCodOObKAlusu8tyUY9k%2BvrQRckTbIiCC67mEQ58xD3FAirLV&amp;u=http%3A%2F%2Fwww.tmall.com%2Fgo%2Fact%2Ftmall%2Faqswj.php%3Fscm%3D1005.14.1.3930%26spm%3D3.1000473.295813.30.SL8znu%26ad_id%3D%26am_id%3D%26cm_id%3D14010475894e2997d24e%26pm_id%3D&amp;k=161">
                </a>
                <div class="j_SlideTanxAd" style="display: none;">
                    <a href="http://click.mz.simba.taobao.com/ecpm?e=jtd%2Bz8xtVt8wkC6KrEvY%2FadJt7%2FUHFGYcznijxxWocobz869yNwu6K677NTPmkiu7lXaodDDwrybvsO%2BWKkub9VLS5GYGP6t0nI99kpswyRJRquFCodOObKAlusu8tyUY9k%2BvrQRckTbIiCC67mEQ58xD3FAirLV&amp;u=http%3A%2F%2Fwww.tmall.com%2Fgo%2Fact%2Ftmall%2Faqswj.php%3Fscm%3D1005.14.1.3930%26spm%3D3.1000473.295813.30.SL8znu%26ad_id%3D%26am_id%3D%26cm_id%3D14010475894e2997d24e%26pm_id%3D&amp;k=161"
                        target="_blank">
                        <img border="0" src="http://i.mmcdn.cn/simba/img/T1_9paXuRXXXb1upjX.jpg?noq=y" width="1600px"
                            height="420px"></a><a style="display: none!important" id="tanx-a-mm_12852562_1778064_10953677"></a>
                </div>
                <ul class="mScm-right j_MaskBanner">
                    <li class="J_DirectPromo" id="J_DirectPromo_286" data-resid="286" style="height: 390px">
                        <a href="http://tuan.jia.tmall.com/tuangou/index.htm?spm=3.384881.306644.3&amp;scm=1005.11.1.855&amp;ad_id=&amp;am_id=&amp;cm_id=1401003076c7288a9e17&amp;pm_id="
                            title="家装团" data-spm="d7">
                            <img width="190" height="390" src="http://img02.taobaocdn.com/tps/i2/T1mx70XaxgXXXC3Cwy-190-390.jpg"><s></s></a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="j_MSDirect_333 ks-switchable-panel-internal13" style="background-color: rgb(222, 174, 145);
            display: block; opacity: 0; position: absolute; z-index: 1; background-image: url(http://img01.taobaocdn.com/tps/i1/T1g9w.XelhXXb2TIbx-1600-420.jpg_q90.jpg);">
            <div class="mSc-main">
                <b style="top: -40px; opacity: 0;">
                    <img width="760" height="210" src="http://img04.taobaocdn.com/tps/i4/T16x3.XlXiXXc98u3P-760-210.png"></b>
                <a class="mScm-link" href="http://www.tmall.com/go/act/tmall/gnbdyzcjy.php?spm=3.384881.306644.4&amp;ad_id=&amp;am_id=1301048177c392f644c3&amp;cm_id=&amp;pm_id="
                    title="传家银" data-spm="d10"></a>
                <ul class="mScm-right j_MaskBanner">
                    <li class="J_DirectPromo" id="J_DirectPromo_334" data-resid="334" style="height: 390px">
                        <a href="http://3c.tmall.com/?spm=3.384881.306644." title="电器城" data-spm="d11">
                            <img width="190" height="390" src="http://img04.taobaocdn.com/tps/i4/T1VuhbXu4XXXXC3Cwy-190-390.jpg"><s></s><i
                                style="opacity: 0;"></i></a> </li>
                </ul>
            </div>
        </li>
        <li class="ks-switchable-panel-internal13" style="display: block; opacity: 0; position: absolute;
            z-index: 1; background-image: url(http://i.mmcdn.cn/simba/img/T1oLXXXztdXXb1upjX.jpg?noq=y);">
            <div class="mSc-main">
                <a class="mScm-link" href="http://click.mz.simba.taobao.com/ecpm?e=PXZ19xjI6ZcwkC6KrEvY%2FadJt7%2FUHFGYcznijxxWocpJHUp9SmEPzYUUrDglCtUA7lXaodDDwrwF3zFRaGt2lg74eZSxNsAd0nI99kpswyRJRquFCodOOePblg%2B%2Bj9VqY9k%2BvrQRckSTd2s0ZNqzDZ8xD3FAirLV&amp;u=http%3A%2F%2Fdu.tmall.com%2F%3Fscm%3D1005.18.1.2699%26spm%3D141.422114.323243.4&amp;k=161">
                </a>
                <div class="j_SlideTanxAd" style="display: none;">
                    <a href="http://click.mz.simba.taobao.com/ecpm?e=PXZ19xjI6ZcwkC6KrEvY%2FadJt7%2FUHFGYcznijxxWocpJHUp9SmEPzYUUrDglCtUA7lXaodDDwrwF3zFRaGt2lg74eZSxNsAd0nI99kpswyRJRquFCodOOePblg%2B%2Bj9VqY9k%2BvrQRckSTd2s0ZNqzDZ8xD3FAirLV&amp;u=http%3A%2F%2Fdu.tmall.com%2F%3Fscm%3D1005.18.1.2699%26spm%3D141.422114.323243.4&amp;k=161"
                        target="_blank">
                        <img border="0" src="http://i.mmcdn.cn/simba/img/T1oLXXXztdXXb1upjX.jpg?noq=y" width="1600px"
                            height="420px"></a><a style="display: none!important" id="tanx-a-mm_12852562_1778064_10953701"></a>
                </div>
                <ul class="mScm-right j_MaskBanner">
                    <li class="J_DirectPromo" id="J_DirectPromo_289" data-resid="289" style="height: 390px">
                        <a href="http://www.tmall.com/go/act/sale/jcyzsg.php?spm=3.384881.306644.6&amp;ad_id=&amp;am_id=&amp;cm_id=1401047465d05105a9f3&amp;pm_id=#dh2"
                            title="海洋布艺手工灯" data-spm="d16">
                            <img width="190" height="390" src="http://img01.taobaocdn.com/tps/i1/T1h_s.Xi4gXXXC3Cwy-190-390.jpg"><s></s><i
                                style="opacity: 0;"></i></a> </li>
                </ul>
            </div>
        </li>
        <li class="j_MSDirect_337 ks-switchable-panel-internal13" style="background-color: rgb(202, 182, 157);
            display: block; opacity: 0; position: absolute; z-index: 1; background-image: url(http://img01.taobaocdn.com/tps/i1/T1IcM.XlpdXXb2TIbx-1600-420.jpg_q90.jpg);">
            <div class="mSc-main">
                <b style="top: -40px; opacity: 0;">
                    <img width="760" height="210" src="http://img04.taobaocdn.com/tps/i4/T10ss.XildXXc98u3P-760-210.png"></b>
                <a class="mScm-link" href="http://www.tmall.com/go/act/tmyc/pure-beauty.php?spm=3.384881.306644.7&amp;ad_id=&amp;am_id=&amp;cm_id=14010480113fec13e12d&amp;pm_id="
                    title="天猫原创，很美很纯粹！" data-spm="d19"></a>
                <ul class="mScm-right j_MaskBanner">
                    <li class="J_DirectPromo" id="J_DirectPromo_379" data-resid="379" style="height: 390px">
                        <a href="http://list.tmall.com/search_product.htm?spm=3.384881.306644.8&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;style=g&amp;sort=s&amp;n=48&amp;s=0&amp;cat=50101070&amp;is=cate#J_crumbs"
                            title="" data-spm="d20">
                            <img width="190" height="390" src="http://img03.taobaocdn.com/tps/i3/T1JqBXXyVfXXXC3Cwy-190-390.jpg"><s></s><i
                                style="opacity: 0;"></i></a> </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="mfpSlide-nav" style="">
        <li class="ks-switchable-trigger-internal12"></li>
        <li class="ks-switchable-trigger-internal12 selected"></li>
        <li class="ks-switchable-trigger-internal12"></li>
        <li class="ks-switchable-trigger-internal12"></li>
        <li class="ks-switchable-trigger-internal12"></li>
    </ul>
</div>
