<div class="span3 menu">
                <ul class="menu-list">
                    <li class="current">
                        <a href="#">
                            <i class="icon-home icon-large icon-white"></i>
                            我的首页
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-calendar icon-large"></i>
                            修改资料
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-user icon-large"></i>
                            更换头像
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-lock icon-large"></i>
                            修改密码
                        </a>
                    </li>


                    <li>
                        <a href="#">
                            <i class="icon-comment icon-large"></i>
                            我的评论
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-file icon-large"></i>
                            我的菜谱
                        </a>
                    </li>
                </ul>
            </div>