<div id="site-nav">
    <div id="sn-bg">
        <div class="sn-bg-right">
        </div>
    </div>
    <div id="sn-bd">
        <b class="sn-edge"></b>
        <div class="sn-container">
            <p id="login-info" class="sn-login-info">
                <script>
                    TB.use("mod~global", function () {
                        if (TB && TB.Global && TB.Global.writeLoginInfo) {
                            TB.Global.writeLoginInfo({
                                isApp: false
                            });
                        }
                    });
                </script>
            </p>
            <ul class="sn-quick-menu">
                @*<li class="sn-mytaobao menu-item j_MyTaobao">
                    <div class="sn-menu">
                        <a class="menu-hd" href="http://i.taobao.com/my_taobao.htm" target="_top" rel="nofollow">
                            我的淘宝<b></b></a>
                        <div class="menu-bd">
                            <div class="menu-bd-panel" id="myTaobaoPanel">
                                <a href="http://trade.taobao.com/trade/itemlist/list_bought_items.htm?t=20110530"
                                    target="_top" rel="nofollow">已买到的宝贝</a> <a href="http://trade.taobao.com/trade/itemlist/list_sold_items.htm?t=20110530"
                                        target="_top" rel="nofollow">已卖出的宝贝</a>
                            </div>
                        </div>
                    </div>
                </li>*@
                @*<li class="sn-seller hidden j_SellerCenter"><a target="_top" href="http://mai.taobao.com/seller_admin.htm">
                    商家中心</a> </li>
                <li class="sn-mybrand"><a target="_top" class="sn-mybrand-link" href="http://brand.tmall.com/myBrandsIndex.htm">
                    我关注的品牌</a> </li>*@
                <li class="cart"><a href="cart/myCart.htm?from=btop" target="_top" rel="nofollow"><s>
                </s>购物车 </a></li>
               @* <li class="sn-favorite menu-item">
                    <div class="sn-menu">
                        <a class="menu-hd" href="http://favorite.taobao.com/collect_list-1-.htm?scjjc=c1"
                            target="_top" rel="nofollow">收藏夹<b></b></a>
                        <div class="menu-bd">
                            <div class="menu-bd-panel">
                                <a href="http://favorite.taobao.com/collect_list.htm?itemtype=1" target="_top" rel="nofollow">
                                    收藏的宝贝</a> <a href="http://favorite.taobao.com/collect_list.htm?itemtype=0" target="_top"
                                        rel="nofollow">收藏的店铺</a>
                            </div>
                        </div>
                    </div>
                </li>*@
               @* <li class="sn-separator"></li>
                <li class="sn-mobile"><a title="天猫无线" target="_top" class="sn-mobile-link" href="http://mobile.tmall.com/?scm=1027.1.1.1">
                    手机版</a> </li>
                <li class="sn-home"><a href="http://www.taobao.com/">淘宝网</a> </li>
                <li class="sn-sitemap menu-item">
                    <div class="sn-menu">
                        <a class="menu-hd" href="http://www.tmall.com/go/chn/navi-map/index.php" target="_top">
                            网站导航<b></b></a>
                        <div class="menu-bd">
                            <ul>
                                <li>
                                    <h3>
                                        商家：</h3>
                                    <a target="_top" href="http://mai.taobao.com/?spm=3.169406.198401.">商家中心</a> <a class="sitemap-right"
                                        target="_top" href="http://zhaoshang.tmall.com/?spm=3.169406.198401.">商家入驻</a>
                                    <a target="_top" href="http://fw.tmall.com/?spm=3.169406.198401.">商家服务</a> <a class="sitemap-right"
                                        target="_top" href="http://www.tmall.com/go/chn/mall/pzsc-gfsj.php?spm=3.169406.198401.">
                                        商家品控</a> </li>
                                <li><a target="_top" href="http://mobile.tmall.com/?spm=3.169406.198401.">天猫无线</a> <a
                                    class="sitemap-right" target="_top" href="http://brand.tmall.com/?spm=3.169406.198401.">
                                    品牌街</a> <a target="_top" href="http://yao.tmall.com/?spm=3.169406.198401.">医药馆</a>
                                    <a class="sitemap-right" target="_top" href="http://book.tmall.com/?spm=3.169406.198401.8&prt=1346727469564&prc=2">
                                        天猫书城</a> </li>
                                <li>
                                    <h3>
                                        帮助：</h3>
                                    <a target="_top" href="http://service.tmall.com/support/tmall/tmallHelp.htm?spm=3.169406.198401.">
                                        帮助中心</a> </li>
                            </ul>
                            <a class="sitemap-more" href="http://www.tmall.com/go/chn/navi-map/index.php" target="_top">
                                更多内容>></a>
                        </div>
                    </div>
                </li>
                <li class="sn-mcate j_MallCateHoverTrigger" id="J_MallCate">
                    <div class="sn-menu">
                        <h3 class="menu-hd sn-mcate-hd">
                            所有商品分类<b></b></h3>
                    </div>
                </li>*@
            </ul>
        </div>
    </div>
</div>
<script>
    TB.use("mod~global", function () {
        if (TB && TB.Global && TB.Global.init) {
            TB.Global.init();
        }
    });
</script>