.headerNav{position:relative;z-index:10000;}
.shop-status .i,.shop-status .ww-large .ww-inline,.shop-grade a,.shop-grade .c-value-no,.extra-info .other a,.extra-info .opt b{background:no-repeat 999em;background-image:url(http://img04.taobaocdn.com/tps/i4/T1HmnVXb4mXXXufizc-148-83.png)!important;}
#mall-shop{position:relative;z-index:990;}
#shop-info{float:left;position:absolute;top:-25px;left:440px;width:310px;border-radius:2px;background-color:#9d0100;border:1px solid #a00;}
#shop-info .main-info{height:18px;padding:5px;width:300px;overflow:hidden;}
#shop-info .shop-title,#shop-info .shop-status{float:left;height:18px;overflow:hidden;margin-bottom:2px;margin-right:3px;}
#shop-info .shop-title a{color:#fff;font-weight:bold;}
#shop-info .shop-status .i{background-position:0 -60px;width:60px;float:left;height:17px;margin-top:1px;line-height:18px;text-indent:-99em;margin-right:3px;overflow:hidden;}
#shop-info .shop-status .ww-large a.ww-inline{font:0/0 arial;background-position:-60px -59px;height:18px;width:18px;line-height:18px;overflow:hidden;_float:left;}
#shop-info .shop-status .ww-large a.ww-offline{background-position:-79px -59px;}
#shop-info .shop-status .ww-large a.ww-inline span{display:none;}
#shop-info .shop-grade{line-height:13px;padding-top:3px;float:left;width:80px;font-weight:bold;}
#shop-info .main-info .shop-grade a{color:#fddc00;font-size:11px;line-height:13px;height:13px;text-align:right;display:block;width:80px;background-position:-63px -46px;}
#shop-info .main-info .shop-grade .c-value-no{background-position:0 -46px;height:13px;float:left;}
#header .shop-grade .c-value-0,#hd-sub .c-value-0{width:0;}
#header .shop-grade .c-value-0d1,#header .shop-grade .c-value-0d2,#header .shop-grade .c-value-0d3,#header .shop-grade .c-value-0d4,#header .shop-grade .c-value-0d5,#header .shop-grade .c-value-0d6,#header .shop-grade .c-value-0d7,#header .shop-grade .c-value-0d8,#header .shop-grade .c-value-0d9,#hd-sub .c-value-0d1,#hd-sub .c-value-0d2,#hd-sub .c-value-0d3,#hd-sub .c-value-0d4,#hd-sub .c-value-0d5,#hd-sub .c-value-0d6,#hd-sub .c-value-0d7,#hd-sub .c-value-0d8,#hd-sub .c-value-0d9{width:5px;}
#header .shop-grade .c-value-1,#hd-sub .c-value-1{width:12px;}
#header .shop-grade .c-value-1d1,#header .shop-grade .c-value-1d2,#header .shop-grade .c-value-1d3,#header .shop-grade .c-value-1d4,#header .shop-grade .c-value-1d5,#header .shop-grade .c-value-1d6,#header .shop-grade .c-value-1d7,#header .shop-grade .c-value-1d8,#header .shop-grade .c-value-1d9,#hd-sub .c-value-1d1,#hd-sub .c-value-1d2,#hd-sub .c-value-1d3,#hd-sub .c-value-1d4,#hd-sub .c-value-1d5,#hd-sub .c-value-1d6,#hd-sub .c-value-1d7,#hd-sub .c-value-1d8,#hd-sub .c-value-1d9{width:17px;}
#header .shop-grade .c-value-2,#hd-sub .c-value-2{width:24px;}
#header .shop-grade .c-value-2d1,#header .shop-grade .c-value-2d2,#header .shop-grade .c-value-2d3,#header .shop-grade .c-value-2d4,#header .shop-grade .c-value-2d5,#header .shop-grade .c-value-2d6,#header .shop-grade .c-value-2d7,#header .shop-grade .c-value-2d8,#header .shop-grade .c-value-2d9,#hd-sub .c-value-2d1,#hd-sub .c-value-2d2,#hd-sub .c-value-2d3,#hd-sub .c-value-2d4,#hd-sub .c-value-2d5,#hd-sub .c-value-2d6,#hd-sub .c-value-2d7,#hd-sub .c-value-2d8,#hd-sub .c-value-2d9{width:29px;}
#header .shop-grade .c-value-3,#hd-sub .c-value-3{width:36px;}
#header .shop-grade .c-value-3d1,#header .shop-grade .c-value-3d2,#header .shop-grade .c-value-3d3,#header .shop-grade .c-value-3d4,#header .shop-grade .c-value-3d5,#header .shop-grade .c-value-3d6,#header .shop-grade .c-value-3d7,#header .shop-grade .c-value-3d8,#header .shop-grade .c-value-3d9,#hd-sub .c-value-3d1,#hd-sub .c-value-3d2,#hd-sub .c-value-3d3,#hd-sub .c-value-3d4,#hd-sub .c-value-3d5,#hd-sub .c-value-3d6,#hd-sub .c-value-3d7,#hd-sub .c-value-3d8,#hd-sub .c-value-3d9{width:41px;}
#header .shop-grade .c-value-4,#hd-sub .c-value-4{width:48px;}
#header .shop-grade .c-value-4d1,#header .shop-grade .c-value-4d2,#header .shop-grade .c-value-4d3,#header .shop-grade .c-value-4d4,#header .shop-grade .c-value-4d5,#header .shop-grade .c-value-4d6,#header .shop-grade .c-value-4d7,#header .shop-grade .c-value-4d8,#header .shop-grade .c-value-4d9,#hd-sub .c-value-4d1,#hd-sub .c-value-4d2,#hd-sub .c-value-4d3,#hd-sub .c-value-4d4,#hd-sub .c-value-4d5,#hd-sub .c-value-4d6,#hd-sub .c-value-4d7,#hd-sub .c-value-4d8,#hd-sub .c-value-4d9{width:53px;}
#shop-info .extra-info{width:310px;margin:0 0 0 -1px;position:absolute;z-index:101;display:none;clear:both;left:0;top:28px;}
#shop-info .extra-info .grade h4{display:none;}
#shop-info .extra-info .grade a{color:#777;text-decoration:none;}
#shop-info .extra-info .grade .c-value-no{margin-right:3px;}
#shop-info .extra-info .grade,#shop-info .extra-info .extend,#shop-info .extra-info .other{margin-left:13px;margin-right:10px;padding-top:5px;color:#777;}
#shop-info .extra-info .extend{border-top:1px solid #e1e1e1;margin-top:5px;}
#shop-info .extra-info .extend li{position:relative;padding-left:5em;}
#shop-info .extra-info .extend label{position:absolute;font-family:'\5b8b\4f53';left:0;_margin-left:-5em;}
#shop-info .extra-info .extend p{width:150px;}
#shop-info .extra-info .other{text-align:center;margin-bottom:10px;margin-top:5px;*padding:0 0 5px 0;}
#shop-info .extra-info .other a{display:inline-block;height:23px;font:0/99px arial;overflow:hidden;}
#shop-info .collection{width:72px;background-position:-59px -23px;}
#shop-info .extra-info .other .rss{width:78px;background-position:-53px 0;}
#shop-info .opt{font:0/0 arial;height:0;_border-top:1px solid #970d01;}
#shop-info .opt b{overflow:hidden;font:0/99em arial;background-position:-98px -59px;position:relative;display:block;width:50px;height:7px;margin:0 auto;top:-1px;_top:-2px;cursor:pointer;}
#shop-info:hover .extra-info,#shop-info.expanded .extra-info,#shop-info:hover .extra-info .bd,#shop-info.expanded .extra-info .bd{display:block;}
#shop-info:hover .extra-info,#shop-info.expanded .extra-info{border:1px solid #970d01;background:#fff;}
#shop-info:hover .opt,#shop-info.expanded .opt{background-color:#bd1201;height:2px;border-top:1px solid #970d01;}
#shop-info:hover .opt b,#shop-info.expanded .opt b{display:none;}
#hd{max-height:150px;position:relative;z-index:119;}
.head-expand #hd,.manage #hd{max-height:none;overflow:visible;position:static;z-index:1;}
#content.eshop #gd{display:none;margin:0;}
#content .design-page{margin:0 auto;position:relative;width:950px;z-index:999;}
#content .design-page a{background-color:#FFF;border:1px solid #CCC;color:#000;line-height:1.3;padding:5px;position:absolute;right:-35px;text-align:center;top:0;width:16px;}
#shop-info .shop-title{font-size:100%;}
#header .c-value-no{background-position:-64px -12px;display:inline-block;height:12px!important;overflow:hidden;text-align:left;vertical-align:inherit!important;width:60px;}
#header .c-value-no i{background-position:-64px 0;overflow:hidden;width:0;}
#shop-info .shop-rate ul{margin-left:13px;margin-right:10px;}
#shop-info .shop-rate h4{background-color:#EFEFEF;line-height:28px;padding:0 10px;color:#666;}
#shop-info .shop-rate a:hover{text-decoration:none;*zoom:1;}
#shop-info .shop-rate a:hover em{text-decoration:underline;}
#shop-info .shop-rate .compare{margin-left:15px;font-weight:normal;color:#808080;}
#shop-info .shop-rate div,#shop-info .shop-rate li{margin:5px 0 0;line-height:15px;color:#666;}
#shop-info .shop-rate div{padding-left:10px;}
#shop-info .shop-rate em{font-size:12px;font-weight:700;color:#a1001a;}
#shop-info .shop-rate em.count{color:#2953a6;}
#shop-info .shop-rate em.lower{color:#217311;}
#shop-info .shop-rate .rateinfo{color:#a1001a;cursor:pointer;}
#shop-info .shop-rate .rateinfo em{display:inline-block;width:50px;text-align:right;}
#shop-info .shop-rate .rateinfo em{*display:inline;}
#shop-info .shop-rate b{display:inline-block;height:15px;margin:0 5px 0 13px;padding:1px 2px 1px 3px;vertical-align:middle;font-weight:normal;color:#fff;background:#a1001a;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding-top:2px\9;}
#shop-info .shop-rate b.lower{border-color:#217311;background:#217311;}
#shop-info{background-color:#9D0100!important;border:1px solid #A00!important;border-radius:2px 2px 2px 2px!important;float:left!important;left:440px!important;position:absolute!important;top:-25px!important;width:310px!important;}
#shop-info .main-info{border:none!important;height:18px!important;overflow:hidden!important;padding:5px!important;width:300px!important;background-color:#9D0100!important;}
#shop-info .extra-info{top:28px!important;width:310px!important;}
#shop-info .shop-rate{padding:0!important;margin:0!important;}
#shop-info .shop-grade{width:80px!important;}
#shop-info .shop-status{width:auto!important;}
a{color:#36c;}
.button,.box i,.mode a,.shop-search-x .text,.c-value-no,.c-value-no i{background:url(http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png) no-repeat;}
.c-value-no i{display:inline-block;width:16px;height:16px;overflow:hidden;}
.H{color:#f50!important;}
#content{position:relative;overflow:hidden;width:100%;}
#header,#bd,#content .layout,.eshop #hd .box,#footer{width:950px!important;margin:0 auto;}
#content #bd{width:950px!important;}
.col-main{float:left;width:100%;min-height:1px;}
.col-sub,.col-extra{float:left;}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after,.box:after{content:'\20';display:block;height:0;clear:both;}
.layout,.main-wrap,.col-sub,.col-extra,.box{*zoom:1;}
#wangpu-copyright{padding:10px 0;text-align:center;}
.grid-s5m0 .main-wrap{margin-left:200px;}
.grid-s5m0 .col-sub{width:190px;margin-left:-100%;}
.ks-imagezoom-lens{background:url("http://img04.taobaocdn.com/tps/i4/T12pdtXaldXXXXXXXX-2-2.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}
.ks-imagezoom-viewer{border:1px solid #CCC;overflow:hidden;text-align:center;z-index:999;}
.ks-imagezoom-loading{background:url(http://img03.taobaocdn.com/tps/i3/T11ihLXhJoXXXXXXXX-16-16.gif) no-repeat scroll center center #FFF;}
.ks-imagezoom-icon{height:23px;width:23px;border-right:1px solid #999;border-bottom:1px solid #999;background:url(http://img02.taobaocdn.com/tps/i2/T1uJNuXX8tXXXXXXXX-23-23.png) no-repeat scroll left top transparent;z-index:2;}
.clear,.tb-clear,.tb-clearfix{*zoom:1;}
.clear:after,.tb-clear:after,.tb-clearfix:after{content:'\20';display:block;height:0;clear:both;}
.hidden,.tb-hidden{display:none;}
#page #logo .sub-logo{display:none;}
.grid-s5m0 .main-wrap{margin-left:200px;}
.grid-s5m0 .col-sub{width:190px;margin-left:-100%;}
.grid-m0s5 .main-wrap{margin-right:200px;}
.grid-m0s5 .col-sub{width:190px;margin-left:-190px;}
.grid-s5m0e5 .main-wrap{margin:0 200px 0 200px;}
.grid-s5m0e5 .col-sub{width:190px;margin-left:-100%;}
.grid-s5m0e5 .col-extra{width:190px;margin-left:-190px;}
.grid-e5m0s5 .main-wrap{margin:0 200px 0 200px;}
.grid-e5m0s5 .col-sub{width:190px;margin-left:-190px;}
.grid-e5m0s5 .col-extra{width:190px;margin-left:-100%;}
.grid-m0s5e5 .main-wrap{margin-right:400px;}
.grid-m0s5e5 .col-sub{width:190px;margin-left:-390px;}
.grid-m0s5e5 .col-extra{width:190px;margin-left:-190px;}
.grid-m0e5s5 .main-wrap{margin-right:400px;}
.grid-m0e5s5 .col-sub{width:190px;margin-left:-190px;}
.grid-m0e5s5 .col-extra{width:190px;margin-left:-390px;}
.grid-s5e5m0 .main-wrap{margin-left:400px;}
.grid-s5e5m0 .col-sub{width:190px;margin-left:-100%;}
.grid-s5e5m0 .col-extra{width:190px;margin-left:-750px;}
.grid-e5s5m0 .main-wrap{margin-left:400px;}
.grid-e5s5m0 .col-sub{width:190px;margin-left:-750px;}
.grid-e5s5m0 .col-extra{width:190px;margin-left:-100%;}
.tb-pic a{display:table-cell;vertical-align:middle;text-align:center;}
.tb-pic a img{vertical-align:middle;}
.tb-s30,.tb-s30 a{width:30px;height:30px;}
.tb-s40,.tb-s40 a{width:40px;height:40px;}
.tb-s50,.tb-s50 a{width:50px;height:50px;}
.tb-s60,.tb-s60 a{width:60px;height:60px;}
.tb-s70,.tb-s70 a{width:70px;height:70px;}
.tb-s80,.tb-s80 a{width:80px;height:80px;}
.tb-s110x90,.tb-s110x90 a{width:110px;height:90px;}
.tb-s120,.tb-s120 a{width:120px;height:120px;}
.tb-s160,.tb-s160 a{width:160px;height:160px;}
.tb-s220,.tb-s220 a{width:220px;height:220px;}
.tb-s310,.tb-s310 a{width:310px;height:310px;}
.tb-s30 img{max-width:30px;max-height:30px;}
.tb-s40 img{max-width:40px;max-height:40px;}
.tb-s50 img{max-width:50px;max-height:50px;}
.tb-s60 img{max-width:60px;max-height:60px;}
.tb-s70 img{max-width:70px;max-height:70px;}
.tb-s80 img{max-width:80px;max-height:80px;}
.tb-s110x90 img{max-width:110px;max-height:90px;}
.tb-s120 img{max-width:120px;max-height:120px;}
.tb-s160 img{max-width:160px;max-height:160px;}
.tb-s220 img{max-width:220px;max-height:220px;}
.tb-s310 img{max-width:310px;max-height:310px;}
.tb-pic{*overflow:hidden;}
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
.tb-s30 a{*font-size:26px;}
.tb-s40 a{*font-size:35px;}
.tb-s50 a{*font-size:44px;}
.tb-s60 a{*font-size:52px;}
.tb-s70 a{*font-size:61px;}
.tb-s80 a{*font-size:70px;}
.tb-s110x90 a{*font-size:79px;}
.tb-s120 a{*font-size:105px;}
.tb-s160 a{*font-size:140px;}
.tb-s220 a{*font-size:192px;}
.tb-s310 a{*font-size:271px;}
.tb-msg .tb-error,.tb-msg .tb-stop,.tb-msg .tb-alert,.tb-msg .tb-attention,.tb-msg .tb-tips,.tb-msg .tb-ok,.tb-msg .tb-notice,.tb-msg .tb-question,.tb-msg .tb-help,.tb-msg .tb-small-help{color:#404040;background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat;border:1px solid #ddd;float:left;padding:2px 10px 2px 23px;line-height:18px;}
.tb-msg .tb-error{background-position:3px 3px;border-color:#ff8080;background-color:#fff2f2;}
.tb-msg .tb-stop{background-position:3px -47px;border-color:#ff8080;background-color:#fff2f2;}
.tb-msg .tb-alert{background-position:3px -97px;border-color:#ff8c40;background-color:#fff5f6;}
.tb-msg .tb-attention{background-position:3px -147px;border-color:#40b3ff;background-color:#e5f5ff;}
.tb-msg .tb-tips{background-position:3px -197px;border-color:#ffcc7f;background-color:#ffffe5;}
.tb-msg .tb-ok{background-position:3px -247px;border-color:#4dbf00;background-color:#f0ffe5;}
.tb-msg .tb-notice{background-position:5px -295px;border-color:#40b3ff;background-color:#e6f5ff;}
.tb-msg .tb-question{background-position:3px -347px;border-color:#bfbfbf;background-color:#f2f2f2;}
.tb-msg .tb-small-help{background-position:5px -1095px;border-color:#fff;background-color:#fff;}
.tb-msg .tb-help{background-position:3px -1197px;border-color:#fff;background-color:#fff;}
.tb-msg24 .tb-error,.tb-msg24 .tb-attention,.tb-msg24 .tb-tips,.tb-msg24 .tb-ok,.tb-msg24 .tb-question{font-size:14px;font-weight:bold;color:#404040;background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat;border:1px solid #ddd;padding:17px 10px 17px 56px;line-height:22px;}
.tb-msg24 .tb-error{background-position:12px -388px;border-color:#ff8080;background-color:#fff2f2;}
.tb-msg24 .tb-attention{background-position:12px -488px;border-color:#40b3ff;background-color:#e5f5ff;}
.tb-msg24 .tb-tips{background-position:15px -888px;border-color:#ffcc7f;background-color:#ffffe5;}
.tb-msg24 .tb-ok{background-position:12px -988px;border-color:#4dbf00;background-color:#f0ffe5;}
.tb-msg24 .tb-question{background-position:12px -788px;border-color:#bfbfbf;background-color:#f2f2f2;}
.tb-msg .tb-naked,.tb-msg24 .tb-naked{border:none;background-color:transparent;}
.tb-msg24 .tb-naked-tips{background-position:15px -688px;}
.tb-msg24 .tb-naked-ok{background-position:12px -588px;}
.tb-msg:after,.tb-msg24:after{content:'\0020';display:block;height:0;clear:both;}
.tb-page-feedback-msg{border:1px solid #ff8080;background:#fff2f2;}
.tb-page-feedback-msg h2{float:left;display:inline;width:80px;background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat 12px -400px;line-height:35px;padding:2px 10px 2px 50px;margin:10px 0;color:#f50;font-size:17px;}
.tb-page-feedback-msg .tb-msg-list{margin:0 0 0 130px;background:#fff;}
.tb-page-feedback-msg h3{margin:0;padding:20px 10px 15px;}
.tb-page-feedback-msg ol{margin-top:-5px;padding:0 10px 15px;}
.tb-page-feedback-msg ol li{list-style:inside decimal;}
.msg .error,.msg .stop,.msg .alert,.msg .attention,.msg .tips,.msg .ok,.msg .notice,.msg .question,.msg .help,.msg .small-help{color:#404040;background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat;border:1px solid #ddd;float:left;padding:2px 10px 2px 23px;line-height:18px;}
.msg .error{background-position:3px 3px;border-color:#ff8080;background-color:#fff2f2;}
.msg .stop{background-position:3px -47px;border-color:#ff8080;background-color:#fff2f2;}
.msg .alert{background-position:3px -97px;border-color:#ff8c40;background-color:#fff5f6;}
.msg .attention{background-position:3px -147px;border-color:#40b3ff;background-color:#e5f5ff;}
.msg .tips{background-position:3px -197px;border-color:#ffcc7f;background-color:#ffffe5;}
.msg .ok{background-position:3px -247px;border-color:#4dbf00;background-color:#f0ffe5;}
.msg .notice{background-position:5px -295px;border-color:#40b3ff;background-color:#e6f5ff;}
.msg .question{background-position:3px -347px;border-color:#bfbfbf;background-color:#f2f2f2;}
.msg .small-help{background-position:5px -1095px;border-color:#fff;background-color:#fff;}
.msg .help{background-position:3px -1197px;border-color:#fff;background-color:#fff;}
.msg24 .error,.msg24 .attention,.msg24 .tips,.msg24 .ok,.msg24 .question{font-size:14px;font-weight:bold;color:#404040;background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat;border:1px solid #ddd;padding:17px 10px 17px 56px;line-height:22px;}
.msg24 .error{background-position:12px -388px;border-color:#ff8080;background-color:#fff2f2;}
.msg24 .attention{background-position:12px -488px;border-color:#40b3ff;background-color:#e5f5ff;}
.msg24 .tips{background-position:15px -888px;border-color:#ffcc7f;background-color:#ffffe5;}
.msg24 .ok{background-position:12px -988px;border-color:#4dbf00;background-color:#f0ffe5;}
.msg24 .question{background-position:12px -788px;border-color:#bfbfbf;background-color:#f2f2f2;}
.msg .naked,.msg24 .naked{border:none;background-color:transparent;}
.msg24 .naked-tips{background-position:15px -688px;}
.msg24 .naked-ok{background-position:12px -588px;}
.msg:after,.msg24:after{content:'\0020';display:block;height:0;clear:both;}
.page-feedback-msg{border:1px solid #ff8080;background:#fff2f2;}
.page-feedback-msg h2{float:left;display:inline;width:80px;background:url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat 12px -400px;line-height:35px;padding:2px 10px 2px 50px;margin:10px 0;color:#f50;font-size:17px;}
.page-feedback-msg .msg-list{margin:0 0 0 130px;background:#fff;}
.page-feedback-msg h3{margin:0;padding:20px 10px 15px;}
.page-feedback-msg ol{margin-top:-5px;padding:0 10px 15px;}
.page-feedback-msg ol li{list-style:inside decimal;}
#popupPanel{position:absolute;display:none;z-index:999999;border:1px solid #b2d1ff;padding:1px;background:#F1F9FB;overflow:hidden;-moz-box-shadow:rgba(0,0,0,0.2) 3px 3px 3px;-webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3,OffY=3,Color=#16000000,Positive=true);}
html{background-color:#fff;}
/**
 * xiaohu@taobao.com
 * yuyin@taobao.com
 * tiejun@taobao.com
 * 用GBK编码！！！
 * @log:
 *	   1.切换新头部 2011-03-25 tiejun 
 *      2.页头改版 2011-11-22 guiyuan
 */
#header, #content, #footer {
    width: auto;
}


#content #bd, #content #ft {
    width: 950px;
    margin: 0 auto;
}


/* detail 采用950px */
.w950 #header, .w950 #footer {
    width: 950px;
}


#page, #header, #footer {
    width: auto !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    padding-right: 0 !important;
    min-width: 950px;
    background-color: transparent;
}


.mall-top-banner, #system-announce {
    text-align: center;
}


#server-num, .server-num {
    color: #ffffff;
    font-size: 11px;
    margin-top: -14px;
    text-align: left;
}


/*common*/

#mall-desc, #copyright {
    width: 950px;
    margin: auto;
}


.hidden {
    display: none;
}


.clearfix {
    *zoom: 1;
}


.clearfix:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}


/* header and logo:{{{ */

/* header & logo & nav sprite */
#header .headerCon,
#mallLogo .mlogo s, #mallLogo .slogo,#mallLogo .slogoList ,#mallLogo .slogoList a {
    background: url(http://img04.taobaocdn.com/tps/i4/T1h053XldnXXXXXXXX-240-310.png) no-repeat;
}


/* search  sprite */
.mallSearch-type .active,
#mallSearch button, #mallSearch button:hover{
    background: url(http://img01.taobaocdn.com/tps/i1/T1.Au3XmVcXXXXXXXX-242-139.png) no-repeat;
}


/* sub-logo sprite */
/*
	需要两个id 覆盖mallist里的margin-bottom:13px样式
	移除留白，有nav实现
 */

#header {
    background: #980101;
    margin-top: -27px;
    _margin-top:-28px;
}


#header .headerCon {
    width: 950px;
    height: 68px;
    padding: 27px 0 0 26px;
    margin-left: -26px;
    background-position: 0 -123px ;
    _position: relative; /* 修复ie6下负margin隐藏 */
}


.headerLayout {
    width: 950px;
    margin: 0 auto;
}


#mallLogo {
    z-index: 9;
    padding-top: 8px;
    float: left;
    _display: inline;
}


#mallLogo .mlogo, #mallLogo .slogo {
    position: relative;
    float: left;
}


#mallLogo a {
    position: relative;
    display: block;
    color: #fff;
}


#mallLogo s {
    position: absolute;
    display: block;
    top: 0;
    cursor: pointer;
}


#mallLogo .mlogo {
    padding-right: 10px;
}


#mallLogo .mlogo a {
    height: 38px;
    font-size: 24px;
    width: 230px;
    overflow: hidden;
}


#mallLogo .mlogo s {
    height: 38px;
    width: 230px;
    background-position: 0 -42px;
}


#mallLogo .slogo {
    padding-top: 18px;
    padding-left: 13px;
    background-position:-236px -34px;
}


#mallLogo .slogo a {
    font-size: 16px;
    padding-right: 20px;
    position: relative;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    width: 74px;
}


#mallLogo .slogo a i {
    border-width: 4px;
    border-color: #fff;
}


#mallLogo .slogoList {
    position: absolute;
    z-index: 2000;
    top: 39px;
    left: 10px;
    display: block;
    overflow: visible;
    height: 0;
    line-height: 0;
    width: 116px;
    padding-top: 38px;
    background-position:-125px -84px ;
}


#mallLogo .slogoList-bg {
    display: block;
    font-size: 12px;
    width: 114px;
    position: absolute;
    _position: static;
    _overflow-x: hidden;
    border: 1px solid #bf0000;
    border-top: none;
    background: rgba(133, 1, 1, .95);
    background: #850101\9;
    filter: alpha(opacity = 95);
}


#mallLogo .slogoList a {
    height: 22px;
    line-height: 22px;
    background-position:-224px 1px ;
    position: relative;
    z-index: 20001;
    padding-left: 20px;
    font-weight: normal;
    margin: -30px 0 30px 10px;
    font-size: 12px;
}


#mallLogo .slogoList a.last {
    margin-bottom: 0;
    background-position:-224px -19px ;
}


#mallLogo .slogo a i {
    border-color: #fff transparent transparent;
}


/* logo title */
#mallLogo .slogo s {
    height: 24px;
    width: 74px;
    background-position: 0 -67px;
}


/* mall search:{{{ */

#mallSearch {
    float: right;
    border: 1px solid #8c0a07;
    margin-top: 10px;
    background: #a20701;
    width: 388px;
}


.mallSearch-bg {
    width: 380px;
    height: 100%;
    padding: 5px 3px 6px 3px;
    border: 1px solid #b10a01;
}


.mallSearch-form {
    border: 2px solid #790C0C;
    background-color: #990000;
    z-index: 9999;
}


#mallSearch legend {
    display: none;
}


#mallSearch fieldset {
    position: relative;
}


.mallSearch-type {
    display: none;
}


.mallSearch-input {
    background: #fff;
    height: 26px;
    position: relative;
}


/*
	这里采用 label ，input 绝对定位，label在input下方方式
	主要为了一些input的特性保持：
	1.可以拖放文字到输入框
	2.提示信息不让用户选择
 */
#mallSearch  label {
    visibility: hidden;
    color: #666;
    font-size: 12px;
    line-height: 24px;
    height: 24px;
    position: absolute;
    left: 8px;
+top:1px;
    width: 220px;
    overflow:hidden;
    z-index: 1;
}


#mq {
    color: #000; /*覆盖mall tbsp css*/
    margin: 0; /*覆盖mall base css*/
    position: absolute;
    left: 0;
    z-index: 2;
    width: 288px;
    height: 18px;
    line-height: 18px;
    padding: 4px 2px 4px 5px;
    border: none;
    border-left: 1px solid #ececec;
    border-right: 2px solid #7b0f0f;
    font-weight: 900;
    background: url("data:image/gif;base64,R0lGODlhAQADAJEAAObm5t3d3ff39wAAACH5BAAAAAAALAAAAAABAAMAAAICDFQAOw==") repeat-x scroll 0 0 transparent;
}


#mallSearch button {
    float: right;
    width: 78px;
    border: 0px;
    font-size: 12px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #462824;
    background-position:-96px -26px ;
    line-height: 26px;
    height: 26px;
    overflow: hidden;
}


#mallSearch button:hover {
    background-color:#866150 ;
    background-position:-96px 0 ;
}


button::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}



/* }
}
}
 */


.mall-suggest-container ol li {
    list-style: none;
    height: 23px;
    line-height: 23px;
    color: #000;
}


.mall-suggest-container ol .ks-suggest-key {
    padding-left: 10px;
}


.mall-suggest-container .ks-suggest-cate {
    color: #7e7e7e;
    padding-left: 10px;
}

.mall-suggest-container .ks-suggest-cate b{
    font-weight: bold;
}


.mall-suggest-container ol .ks-selected {
    background-color: #b10000;
}


.mall-suggest-container ol .ks-selected em {
    color: #fff;
}


.mall-suggest-container .ks-suggest-footer {
    padding: 0;
}


.mallSearch-tip p {
    font-family: \5B8B\4F53;
    height: 30px;
    line-height: 30px;
    margin-top: 1px;
    padding: 0 10px;
    background: #efeceb;
}


.mallSearch-tip span {
    display: block;
    overflow: hidden;
    height: 100%;
    color: #000;
    cursor: pointer;
}


.mallSearch-tip b {
    font-family: Arial;
    display:inline-block;
    vertical-align: middle;
    max-width: 180px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.mallSearch-tip em {
    margin:0 5px;
    font-weight: bold;
    color: #980101;
}


/* }
}
}
 */

#page #footer {
    position: static\9;
    *position: relative;
}


/* 覆盖店铺详情样式 */
.newMallHeader #mall-shop #shop-info {
    top: 10px;
    left: 321px;
    _left: 82px;
    border-left-color: #980101;
    border-right: none;
}
#footer,#mall-desc i,#mall-desc dt span,#mall-desc .go-home{background:url(http://img01.taobaocdn.com/tps/i1/T1.Au3XmVcXXXXXXXX-242-139.png) no-repeat;}
#mall-desc .propose i{margin-right:.1em;background-position:-156px -52px;}
#mall-desc dt span{display:block;height:19px;width:73px;text-indent:-999em;overflow:hidden;}
#ensure dt span{background-position:0 -53px;}
#beginner dt span{background-position:0 -73px;}
#payment dt span{background-position:0 -93px;}
#seller dt span{background-position:0 -113px;}
#footer{padding-top:15px;background-position:0 -133px;background-repeat:repeat-x;position:relative;text-align:center;background-color:#fff;}
#mall-desc{position:relative;margin-bottom:25px;text-align:left;zoom:1;}
#mall-desc:after{content:"";display:block;clear:both;height:0;}
#mall-desc dl{float:left;width:210px;}
#mall-desc dl#payment{margin-left:145px;_display:inline;}
#mall-desc dl#seller{float:right;width:170px;}
#mall-desc dt{margin:0 40px 6px 0;padding-bottom:4px;border-bottom:1px solid #E2E2E2;}
#mall-desc dl#seller dt{margin-right:0;}
#mall-desc dd{margin-right:40px;}
#mall-desc dl a,#mall-desc dl dd span{display:block;height:22px;line-height:1.8;color:#666;white-space:nowrap;}
#mall-desc dl i{display:inline-block;width:16px;height:16px;vertical-align:text-bottom;overflow:hidden;background-position:-157px -117px;}
#mall-desc .propose{clear:both;padding:0 0 8px 10px;border-bottom:1px solid #E6E6E6;text-align:left;}
#ensure .seal{float:right;margin:-20px 10px 0 0;}
#mall-desc .propose a,#mall-desc .join{color:#36c;}
#mall-desc .go-home{position:absolute;left:50%;top:18px;margin-left:-74px;height:81px;width:81px;overflow:hidden;line-height:999px;background-position:-74px -52px;}
#mall-desc .go-home a{display:block;}
#footer p{padding:5px 0;}
#footer p strong{font-weight:normal;}
#footer p a{margin-right:3px;color:#36c;}
.tshop-psm-ssa10b .shop-basic .hd,.tshop-psm-ssa10b .shop-basic .shop-type,.tshop-psm-ssa10b .shop-basic .shop-type p,.tshop-psm-ssa10b .shop-basic .shop-promise ul,.tshop-psm-ssa10b .shop-basic .shop-promise .no-invoice,.tshop-psm-ssa10b .shop-basic .shop-promise .no-7days,.tshop-psm-ssa10b .shop-basic .c-value-no,.tshop-psm-ssa10b .shop-basic .c-value-no i,.tshop-psm-ssa10b .shop-basic .shop-intro .other .enter,.tshop-psm-ssa10b .shop-basic .shop-search .submit button,.tshop-psm-ssa10b .shop-basic .shop-search input{background-image:url(http://img03.taobaocdn.com/tps/i3/T1gfhZXo8tXXXXXXXX-192-226.png)!important;background-repeat:no-repeat;}
.tshop-psm-ssa10b .shop-basic .shop-type .join-3c i{background:url(http://img05.taobaocdn.com/tps/i5/T1lHBEXaVwXXXXXXXX-32-32.png);}
.tshop-psm-ssa10b .shop-basic .shop-type .join-xie i{background:url(http://img05.taobaocdn.com/tps/i5/T1AbBEXmRvXXXXXXXX-32-32.png);}
.tshop-psm-ssa10b .shop-basic .c-value-no{display:inline-block;height:12px!important;overflow:hidden;text-align:left;vertical-align:inherit!important;width:60px;margin-left:-6px;margin-right:1px;background-position:-127px -94px!important;}
.tshop-psm-ssa10b .shop-basic .c-value-no i{display:inline-block;height:16px;overflow:hidden;vertical-align:top;background-position:-127px -82px;}
.tshop-psm-ssa10b .shop-basic .shop-intro,.tshop-psm-ssa10b .shop-basic .shop-intro .extend,.tshop-psm-ssa10b .shop-basic .shop-intro .other{border-top:1px dotted #ccc;}
.tshop-psm-ssa10b .shop-basic .hd{display:block;background-position:0 -57px!important;border-color:#E6E6E6;height:22px;padding:0;border:1px solid #E4E4E4!important;border-bottom:none!important;}
.tshop-psm-ssa10b .shop-basic .hd h3{background-image:none;margin:0;padding:0;padding-left:10px;}
.tshop-psm-ssa10b .shop-basic .hd h3 span{font-size:12px;line-height:20px;}
.tshop-psm-ssa10b .shop-basic .bd{padding:10px 0 0 8px;margin-bottom:1px;background:#fff;overflow:hidden;border:1px solid #E4E4E4!important;_width:180px;}
.tshop-psm-ssa10b .shop-basic .shop-promise p{margin-bottom:9px;}
.tshop-psm-ssa10b .shop-basic .shop-promise p img{vertical-align:middle;}
.tshop-psm-ssa10b .shop-basic .shop-promise ul{height:55px;padding-bottom:10px;width:174px;overflow:hidden;background-position:0 0;}
.tshop-psm-ssa10b .shop-basic .shop-promise li{height:55px;width:54px;float:left;margin-right:6px;margin-top:2px;text-align:center;overflow:hidden;line-height:80px;}
.tshop-psm-ssa10b .shop-basic .shop-promise .last{margin-right:0;}
.tshop-psm-ssa10b .shop-basic .shop-promise li a,.tshop-psm-ssa10b .shop-basic .shop-promise li a:visited{color:#656565;}
.tshop-psm-ssa10b .shop-basic .shop-promise .no-invoice{background-position:0 -171px;}
.tshop-psm-ssa10b .shop-basic .shop-promise .no-7days{background-position:-54px -171px;}
.tshop-psm-ssa10b .shop-basic .shop-type{height:42px;width:174px;background-position:0 -110px;line-height:42px;margin-bottom:10px;}
.tshop-psm-ssa10b .shop-basic .shop-type p{margin-left:10px;background-position:right -110px;}
.tshop-psm-ssa10b .shop-basic .shop-type p i{float:left;width:32px;height:32px;margin:6px 5px 0 0;}
.tshop-psm-ssa10b .shop-basic .shop-intro{margin-right:8px;padding-top:4px;}
.tshop-psm-ssa10b .shop-basic .shop-intro li{padding:2px 0 3px;line-height:1.2;}
.tshop-psm-ssa10b .shop-basic .shop-intro .name,.tshop-psm-ssa10b .shop-basic .shop-intro .grade h4{display:none;}
.tshop-psm-ssa10b .shop-basic .shop-intro .grade{margin-right:-8px;}
.tshop-psm-ssa10b .shop-basic .shop-intro .extend{zoom:1;margin:5px 0;padding:5px 0;}
.tshop-psm-ssa10b .shop-basic .shop-intro .extend li{padding-left:5em;line-height:1.5;zoom:1;padding-bottom:0;_height:18px;min-height:18px;border:none;}
.tshop-psm-ssa10b .shop-basic .shop-intro .extend label{float:left;margin-left:-5em;font-family:'\5b8b\4f53';margin-top:1px;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other{padding:8px 0;overflow:hidden;zoom:1;margin:0 auto;text-align:center;width:auto;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other a{overflow:hidden;margin:0 10px;display:inline;border:none;background:none;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other .enter{background-position:0 -79px;height:30px;width:127px;margin:0 auto 8px auto;text-indent:-99px;display:block;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other a:link,.tshop-psm-ssa10b .shop-basic .shop-intro .other a:visited{color:#36c;}
.tshop-psm-ssa10b .shop-basic .shop-intro .other a:hover,.tshop-psm-ssa10b .shop-basic .shop-intro .other a:active{color:#f60;text-decoration:underline;}
.tshop-psm-ssa10b .shop-basic .shop-search{padding:0 0 5px 0;margin:0 0 0 -8px;border-top:1px solid #e6e6e6;background-color:#f8f8f8;}
.tshop-psm-ssa10b .shop-basic .shop-search input{background-position:0 -152px!important;}
.tshop-psm-ssa10b .shop-basic .shop-search .keyword input{width:109px;}
.tshop-psm-ssa10b .shop-basic .shop-search .price input{width:40px;}
.tshop-psm-ssa10b .shop-basic .shop-search .submit button{background-position:-108px -171px!important;width:82px;height:25px;line-height:25px;font-size:12px;font-weight:700;color:#404040;margin-left:10px;border:0;}
.tshop-psm-ssa10b .shop-search input{padding:2px 0 1px 3px;border:1px solid #a7a6aa;}
.tshop-psm-ssa10b .shop-search .bd{padding:0;}
.tshop-psm-ssa10b .shop-search ul{padding:10px 10px 0;line-height:21px;zoom:1;}
.tshop-psm-ssa10b .shop-search ul:after,.tshop-psm-ssa10b .shop-search li:after{content:"\20";display:block;height:0;clear:both;}
.tshop-psm-ssa10b .shop-search li{height:25px;padding-left:50px;zoom:1;}
.tshop-psm-ssa10b .shop-search li label{float:left;margin-left:-50px;text-align:right;width:50px;}
.tshop-psm-ssa10b .shop-search .keyword input{width:109px;}
.tshop-psm-ssa10b .shop-search .price input{width:40px;}
.tshop-psm-ssa10b .shop-search .hotkeywords{height:auto;clear:left;width:70%;}
.col-sub .tshop-psm-ssa10b .shop-search li,.col-extra .tshop-psm-ssa10b .shop-search li{margin-bottom:7px;}
.main-wrap .tshop-psm-ssa10b .shop-search li{float:left;padding-bottom:5px;}
.main-wrap .tshop-psm-ssa10b .shop-search .submit{padding-left:10px;}
.tshop-psm-ssa10b .service-number{position:relative;}
.tshop-psm-ssa10b .service-number .new{position:absolute;top:-4px;right:14px;_right:12px;}
#bd .shop-basic .hd,#bd .shop-basic .shop-type,#bd .shop-basic .shop-type p,#bd .shop-basic .shop-promise ul,#bd .shop-basic .shop-promise .no-invoice,#bd .shop-basic .shop-promise .no-7days,#bd .shop-basic .c-value-no,#bd .shop-basic .c-value-no i,#bd .shop-basic .shop-intro .other .enter,#bd .shop-basic .shop-search .submit button,#bd .shop-basic .shop-search input{background-image:url(http://img03.taobaocdn.com/tps/i3/T1gfhZXo8tXXXXXXXX-192-226.png)!important;background-repeat:no-repeat;}
#bd .shop-basic .shop-type .join-3c i{background:url(http://img05.taobaocdn.com/tps/i5/T1lHBEXaVwXXXXXXXX-32-32.png);}
#bd .shop-basic .shop-type .join-xie i{background:url(http://img05.taobaocdn.com/tps/i5/T1AbBEXmRvXXXXXXXX-32-32.png);}
#bd .shop-basic .c-value-no{display:inline-block;height:12px!important;overflow:hidden;text-align:left;vertical-align:inherit!important;width:60px;margin-left:-6px;margin-right:1px;background-position:-127px -94px!important;}
#bd .shop-basic .c-value-no i{display:inline-block;height:16px;overflow:hidden;vertical-align:top;background-position:-127px -82px;}
#bd .shop-basic .shop-intro,#bd .shop-basic .shop-intro .extend,#bd .shop-basic .shop-intro .other{border-top:1px dotted #ccc;}
#content #bd .box .shop-basic .hd{display:block;background-position:0 -57px!important;border-color:#E6E6E6;height:22px!important;padding:0;border:1px solid #E4E4E4!important;border-bottom:none!important;}
#bd .shop-basic .hd h3{background-image:none;margin:0;padding:0;padding-left:10px;}
#bd .shop-basic .hd h3 span{font-size:12px;line-height:20px;}
#bd .shop-basic .bd{padding:10px 0 0 8px;margin-bottom:1px;background:#fff;overflow:hidden;border:1px solid #E4E4E4!important;_width:180px;}
#bd .shop-basic .shop-promise p{margin-bottom:9px;}
#bd .shop-basic .shop-promise p img{vertical-align:middle;}
#bd .shop-basic .shop-promise ul{height:55px;padding-bottom:10px;width:174px;overflow:hidden;background-position:0 0;}
#bd .shop-basic .shop-promise li{height:55px;width:54px;float:left;margin-right:6px;margin-top:2px;text-align:center;overflow:hidden;line-height:80px;}
#bd .shop-basic .shop-promise .last{margin-right:0;}
#bd .shop-basic .shop-promise li a,#bd .shop-basic .shop-promise li a:visited{color:#656565;}
#bd .shop-basic .shop-promise .no-invoice{background-position:0 -171px;}
#bd .shop-basic .shop-promise .no-7days{background-position:-54px -171px;}
#bd .shop-basic .shop-type{height:42px;width:174px;background-position:0 -110px;line-height:42px;margin-bottom:10px;}
#bd .shop-basic .shop-type p{margin-left:10px;background-position:right -110px;}
#bd .shop-basic .shop-type p i{float:left;width:32px;height:32px;margin:6px 5px 0 0;}
#bd .shop-basic .shop-intro{margin-right:8px;padding-top:4px;}
#bd .shop-basic .shop-intro li{padding:2px 0 3px;line-height:1.2;}
#bd .shop-basic .shop-intro .name,#bd .shop-basic .shop-intro .grade h4{display:none;}
#bd .shop-basic .shop-intro .grade{margin-right:-8px;}
#bd .shop-basic .shop-intro .extend{zoom:1;margin:5px 0;padding:5px 0;}
#bd .shop-basic .shop-intro .extend li{padding-left:5em;line-height:1.5;zoom:1;padding-bottom:0;_height:18px;min-height:18px;border:none;}
#bd .shop-basic .shop-intro .extend label{float:left;margin-left:-5em;font-family:'\5b8b\4f53';margin-top:1px;}
#bd .shop-basic .shop-intro .other{padding:8px 0;overflow:hidden;zoom:1;margin:0 auto;text-align:center;width:auto;}
#bd .shop-basic .shop-intro .other a{overflow:hidden;margin:0 10px;display:inline;border:none;background:none;}
#bd .shop-basic .shop-intro .other .enter{background-position:0 -79px;height:30px;width:127px;margin:0 auto 8px auto;text-indent:-99px;display:block;}
#bd .shop-basic .shop-intro .other a:link,#bd .shop-basic .shop-intro .other a:visited{color:#36c;}
#bd .shop-basic .shop-intro .other a:hover,#bd .shop-basic .shop-intro .other a:active{color:#f60;text-decoration:underline;}
#bd .shop-basic .shop-rate .compare{font-weight:normal;color:#808080;margin-left:5px;}
#bd .shop-basic .shop-rate li{color:#666;padding:3px 0;white-space:nowrap;}
#bd .shop-basic .shop-rate a{cursor:pointer;display:inline-block;}
#bd .shop-basic .shop-rate a:hover{text-decoration:none;}
#bd .shop-basic .shop-rate em.count{color:#2953A6;margin-right:2px;}
#bd .shop-basic .shop-rate em{color:#A1001A;font-size:12px;font-weight:700;vertical-align:middle;}
#bd .shop-rate .rateinfo b{background:none repeat scroll 0 0 #A1001A;border-radius:2px 2px 2px 2px;color:#FFF;display:inline-block;font-weight:normal;height:15px;line-height:15px;margin:0 2px 0 1px;padding:1px 2px 1px 3px;vertical-align:middle;}
#bd .shop-rate .rateinfo b.lower{background:none repeat scroll 0 0 #217311;}
#bd .shop-rate .rateinfo em{display:inline-block;text-align:right;width:50px;}
#bd .shop-rate .rateinfo em.lower{color:#217311;}
#bd .shop-basic .shop-search{padding:0 0 5px 0;margin:0 0 0 -8px;border-top:1px solid #e6e6e6;background-color:#f8f8f8;}
#bd .shop-basic .shop-search input{background-position:0 -152px!important;}
#bd .shop-basic .shop-search .keyword input{width:109px;}
#bd .shop-basic .shop-search .price input{width:40px;}
#bd .shop-basic .shop-search .submit button{background-position:-108px -171px!important;width:82px;height:25px;line-height:25px;font-size:12px;font-weight:700;color:#404040;margin-left:10px;border:0;}
#bd .shop-search input{padding:2px 0 1px 3px;border:1px solid #a7a6aa;}
#bd .shop-search .bd{padding:0;}
#bd .shop-search ul{padding:10px 10px 0;line-height:21px;zoom:1;}
#bd .shop-search ul:after,#bd .shop-search li:after{content:"\20";display:block;height:0;clear:both;}
#bd .shop-search li{height:25px;padding-left:50px;zoom:1;}
#bd .shop-search li label{float:left;margin-left:-50px;text-align:right;width:50px;}
#bd .shop-search .keyword input{width:109px;}
#bd .shop-search .price input{width:40px;}
#bd .shop-search .hotkeywords{height:auto;clear:left;width:70%;}
.col-sub #bd .shop-search li,.col-extra #bd .shop-search li{margin-bottom:7px;}
.main-wrap #bd .shop-search li{float:left;padding-bottom:5px;}
.main-wrap #bd .shop-search .submit{padding-left:10px;}
#content{z-index:10;}
#header{position:relative;z-index:1900;}
.shop-status .i,.shop-status .ww-large .ww-inline,.shop-grade a,.shop-grade .c-value-no,.extra-info .other a,.extra-info .opt b{background:url(http://img01.taobaocdn.com/tps/i1/T19mWaXgtjXXXXXXXX-148-83.png) no-repeat 999em;}
.extra-info .c-value-no{background:url("http://img05.taobaocdn.com/tps/i5/T1JLtRXhlAXXXXXXXX-128-83.png") -64px -12px repeat;}
#mall-shop{position:relative;z-index:990;}
#shop-info{float:left;position:absolute;top:5px;left:190px;_left:10px;padding:0 1px;width:237px;background-color:#7a170f;border:1px solid #7a170f;border-left-color:#d61800;border-right-color:#d61800;}
#shop-info .main-info{height:38px;width:228px;padding-left:8px;padding-top:3px;border:1px solid #d61800;border-left:none;background-color:#b21000;overflow:hidden;}
#shop-info .main-info .shop-title,#shop-info .main-info .shop-status{float:left;height:18px;overflow:hidden;margin-bottom:2px;margin-right:3px;}
#shop-info .main-info .shop-title a{color:#fff;font-weight:100;}
#shop-info .main-info .shop-status{width:82px;}
#shop-info .main-info .shop-status .i{background-position:0 -60px;width:60px;float:left;height:17px;margin-top:1px;line-height:18px;text-indent:-99em;margin-right:3px;overflow:hidden;}
#shop-info .main-info .shop-status .ww-large a.ww-inline{font:0/0 arial;background-position:-60px -59px;height:18px;width:18px;line-height:18px;overflow:hidden;_float:left;}
#shop-info .main-info .shop-status .ww-large a.ww-offline{background-position:-79px -59px;}
#shop-info .main-info .shop-status .ww-large a.ww-inline span{display:none;}
#shop-info .main-info .shop-grade{line-height:13px;float:left;width:120px;}
#shop-info .main-info .shop-grade a{color:#fddc00;font-size:11px;line-height:13px;height:13px;text-align:right;display:block;width:80px;background-position:-63px -46px;}
#shop-info .main-info .shop-grade .c-value-no{background-position:0 -46px;height:13px;float:left;}
#header .shop-grade .c-value-0{width:0;}
#header .shop-grade .c-value-0d1,#header .shop-grade .c-value-0d2,#header .shop-grade .c-value-0d3,#header .shop-grade .c-value-0d4,#header .shop-grade .c-value-0d5,#header .shop-grade .c-value-0d6,#header .shop-grade .c-value-0d7,#header .shop-grade .c-value-0d8,#header .shop-grade .c-value-0d9{width:5px;}
#header .shop-grade .c-value-1{width:12px;}
#header .shop-grade .c-value-1d1,#header .shop-grade .c-value-1d2,#header .shop-grade .c-value-1d3,#header .shop-grade .c-value-1d4,#header .shop-grade .c-value-1d5,#header .shop-grade .c-value-1d6,#header .shop-grade .c-value-1d7,#header .shop-grade .c-value-1d8,#header .shop-grade .c-value-1d9{width:17px;}
#header .shop-grade .c-value-2{width:24px;}
#header .shop-grade .c-value-2d1,#header .shop-grade .c-value-2d2,#header .shop-grade .c-value-2d3,#header .shop-grade .c-value-2d4,#header .shop-grade .c-value-2d5,#header .shop-grade .c-value-2d6,#header .shop-grade .c-value-2d7,#header .shop-grade .c-value-2d8,#header .shop-grade .c-value-2d9{width:29px;}
#header .shop-grade .c-value-3{width:36px;}
#header .shop-grade .c-value-3d1,#header .shop-grade .c-value-3d2,#header .shop-grade .c-value-3d3,#header .shop-grade .c-value-3d4,#header .shop-grade .c-value-3d5,#header .shop-grade .c-value-3d6,#header .shop-grade .c-value-3d7,#header .shop-grade .c-value-3d8,#header .shop-grade .c-value-3d9{width:41px;}
#header .shop-grade .c-value-4{width:48px;}
#header .shop-grade .c-value-4d1,#header .shop-grade .c-value-4d2,#header .shop-grade .c-value-4d3,#header .shop-grade .c-value-4d4,#header .shop-grade .c-value-4d5,#header .shop-grade .c-value-4d6,#header .shop-grade .c-value-4d7,#header .shop-grade .c-value-4d8,#header .shop-grade .c-value-4d9{width:53px;}
#shop-info .extra-info{width:237px;margin:0 0 0 -1px;position:absolute;z-index:999;}
#shop-info.expanded .extra-info{border:1px solid #970d01;background:#fff;}
#shop-info .extra-info .bd{display:none;}
#shop-info.expanded .extra-info .bd{display:block;}
#shop-info .extra-info .grade h4{display:none;}
#shop-info .extra-info .grade a{color:#777;text-decoration:none;}
#shop-info .extra-info .grade .c-value-no{margin-right:3px;}
#shop-info .extra-info .grade,#shop-info .extra-info .extend,#shop-info .extra-info .other{margin-left:13px;margin-right:10px;padding-top:5px;color:#777;}
#shop-info .extra-info .extend{border-top:1px solid #e1e1e1;margin-top:5px;}
#shop-info .extra-info .extend li{position:relative;padding-left:5em;}
#shop-info .extra-info .extend label{position:absolute;font-family:'宋体';left:0;_margin-left:-5em;}
#shop-info .extra-info .extend p{width:150px;}
#shop-info .extra-info .other{text-align:center;margin-bottom:10px;margin-top:5px;*padding:0 0 5px 0;}
#shop-info .extra-info .other a{display:inline-block;height:23px;font:0/0 arial;overflow:hidden;}
#shop-info .extra-info .other .collection{width:72px;background-position:-59px -23px;}
#shop-info .extra-info .other .rss{width:78px;background-position:-53px 0;}
#shop-info .opt{font:0/0 arial;height:0;_border-top:1px solid #970d01;}
#shop-info.expanded .opt{background-color:#bd1201;height:2px;border-top:1px solid #970d01;}
#shop-info .opt b{overflow:hidden;font:0/99em arial;background-position:-98px -59px;position:relative;display:block;width:50px;height:7px;margin:0 auto;top:-1px;_top:-2px;cursor:pointer;}
#shop-info.expanded .opt b{display:none;}
#hd{max-height:150px;overflow:hidden;position:relative;z-index:119;}
.head-expand #hd,.manage #hd{max-height:none;overflow:visible;position:static;z-index:1;}
#content.eshop #gd{display:none;margin:0;}
#content .design-page{margin:0 auto;position:relative;width:950px;z-index:999;}
#content .design-page a{background-color:#FFF;border:1px solid #CCC;color:#000;line-height:1.3;padding:5px;position:absolute;right:-35px;text-align:center;top:0;width:16px;}
#shop-info .shop-title{font-size:100%;}
#header .c-value-no,#content .c-value-no{background-position:-64px -12px;display:inline-block;height:12px!important;overflow:hidden;text-align:left;vertical-align:inherit!important;width:60px;}
#header .c-value-no i,#content .c-value-no i{background-position:-64px 0;overflow:hidden;width:0;}
#shop-info .shop-rate{margin-left:13px;margin-right:10px;padding-top:5px;}
#shop-info .shop-rate a:hover{text-decoration:none;*zoom:1;}
#shop-info .shop-rate a:hover em{text-decoration:underline;}
#shop-info .shop-rate .compare{margin-left:15px;font-weight:normal;color:#808080;}
#shop-info .shop-rate li{margin:5px 0 0;line-height:15px;color:#666;}
#shop-info .shop-rate em{font-size:12px;font-weight:700;color:#a1001a;}
#shop-info .shop-rate em.count{color:#2953a6;}
#shop-info .shop-rate em.lower{color:#217311;}
#shop-info .shop-rate .rateinfo{color:#a1001a;cursor:pointer;}
#shop-info .shop-rate .rateinfo em{display:inline-block;width:50px;text-align:right;}
#shop-info .shop-rate .rateinfo em{*display:inline;}
#shop-info .shop-rate b{display:inline-block;height:15px;margin:0 5px 0 13px;padding:1px 2px 1px 3px;vertical-align:middle;font-weight:normal;color:#fff;background:#a1001a;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;padding-top:2px\9;}
#shop-info .shop-rate b.lower{border-color:#217311;background:#217311;}
.tshop-pbsm-sfd10c .cms-detail .bd{overflow-x:hidden;padding:5px 0 0;}
.tshop-pbsm-sfd10c .cms-detail h1{font-size:20px;font-weight:700;text-align:center;}
.tshop-pbsm-sfd10c .cms-detail .post_date{color:#808080;padding-bottom:10px;text-align:center;}
.tshop-pbsm-sfb10c .shop-flashshow .bd{overflow:hidden;padding:0;border-width:0;}
.tshop-pbsm-sfs10c .shop-bbs .hd{position:relative;z-index:1;}
.tshop-pbsm-sfs10c .shop-bbs .handle{position:absolute;z-index:1;right:5px;top:3px;}
.tshop-pbsm-sfs10c .shop-bbs tbody tr .discuss-content{width:590px;}
.tshop-pbsm-sfs10c .shop-bbs table .date{margin-left:1em;color:#808080;}
.tshop-pbsm-sfs10c .shop-bbs table dl{overflow:hidden;*zoom:1;margin:0 10px 5px 0;padding:3px 3px 2px 5.5em;border:1px solid #ffe5a8;background-color:#ffffcf;}
.tshop-pbsm-sfs10c .shop-bbs dl dt{float:left;margin-left:-5em;color:#848484;_display:inline;}
.tshop-pbsm-sfs10c .shop-bbs dl dd{float:left;width:585px;}
.tshop-pbsm-sfs10c .shop-bbs .reply td{padding-top:0;}
.tshop-pbsm-sfs10c .shop-bbs .line td{border-bottom:1px solid #ddd;word-break:break-all;}
.tshop-pbsm-sfs10c .shop-bbs table{width:100%;}
.tshop-pbsm-sfs10c .shop-bbs table th,.tshop-pbsm-sfs10c .shop-bbs table td{padding:4px 10px 3px 4px;}
.tshop-pbsm-sfs10c .shop-bbs thead th{border-bottom:1px solid #cbcbcb;text-align:center;color:#808080;}
.tshop-pbsm-sfs10c .shop-bbs tbody .message{padding-right:5px;}
.tshop-pbsm-sfs10c .shop-bbs tbody .user{width:80px;}
.tshop-pbsm-sfs10c .shop-bbs tbody .detail{width:80px;text-align:right;}
.tshop-pbsm-sfs10c .shop-bbs tbody td{color:#000;padding:8px 0 7px;word-break:break-all;word-wrap:break-word;}
.tshop-pbsm-sfs10c .shop-bbs tbody .message a{padding-left:16px;line-height:16