@{
    Layout = null;
}
@using Friday.mvc.Models
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    <script src=@Url.Content("/apps/tmall/fp/2012/core.js")></script>
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/common.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/header.css") />
</head>
<body>
    @Html.Partial("_SiteNav")
    <div id="header">
        <!-- flash logo -->
        <div id="headerCon">
            <h1 id="mallLogo">
                <span class="mlogo"><a href="http://www.tmall.com/" title="天猫Tmall.com"><s></s>天猫Tmall.com</a></span>
            </h1>
            <div id="tmallSearch">
                <form name="searchTop" action="http://list.tmall.com/search_dispatcher.htm" class="mallSearch-form">
                <fieldset>
                    <legend>天猫搜索</legend>
                    <div class="mallSearch-input clearfix">
                        <label for="mq" style="visibility: visible;">
                            搜索 天猫 商品/店铺</label>
                        <input type="text" name="q" data-current="http://nike.tmall.com" accesskey="s" autocomplete="off"
                            x-webkit-speech="" x-webkit-grammar="builtin:translate" value="" id="mq">
                        <button id="J_CurrShopBtn" class="currShopBtn" type="button">
                            搜本店<s></s></button>
                        <button id="J_SearchBtn" type="submit">
                            搜天猫<s></s></button>
                        <input id="J_Type" type="hidden" name="type" value="p">
                        <input id="J_MallSearchStyle" type="hidden" name="style" value="">
                        <input id="J_Cat" type="hidden" name="cat" value="all">
                    </div>
                </fieldset>
                </form>
            </div>
        </div>
        <div class="headerNav">
            <div class="headerNav-con">
                <div class="headerCrumb" id="J_HeaderCrumb">
                </div>
                <ul class="headerPromise">
                    <li class="hPicon1"><a target="_blank" title="正品行货" href=" http://www.tmall.com/go/chn/mall2010/promise.php#ZPBZ">
                        正品行货</a></li>
                    <li class="hPicon2"><a target="_blank" title="提供发票" href=" http://www.tmall.com/go/chn/mall2010/promise.php#TGFP">
                        提供发票</a></li>
                    <li class="hPicon3"><a target="_blank" title="七天退换" href=" http://www.tmall.com/go/chn/mall2010/promise.php#QTTH">
                        七天退换</a></li>
                </ul>
                <!-- module-cache-info: module: shop.headerArchiveNoNav:1.1-b2c,moduleId=1240656693, key: user-890482188-prototype-57-20121105 cacheArea: 49 cachedTime: 2013-03-14 15:34:45 aliveTime: 28800 AppIP:172.24.173.88 -->
                <div id="mall-shop">
                    <div id="shop-info">
                        <div class="main-info">
                            <h3 class="shop-title">
                                <a target="_blank" href="http://nike.tmall.com/">NIKE官方旗舰店</a>
                            </h3>
                            <p class="shop-status">
                                <a class="i" target="_blank" href="http://www.tmall.com/go/chn/mall2010/promise.php#PPZX">
                                    品牌直销</a> <span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97"
                                        data-tnick="" data-encode="true" data-display="inline"><a href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaonike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=&amp;itemsId="
                                            target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
                                            <span>旺旺在线</span></a></span>
                            </p>
                            <p class="shop-grade">
                                <a target="_blank" href="http://rate.taobao.com/user-rate-54e6f94343b5d2d647fdde8a93634496.htm">
                                    <span title="4.7/5.0，共有40778人打分" class="c-value-no c-value-4d7"></span>4.7</a>
                            </p>
                        </div>
                        <div class="extra-info">
                            <div class="bd">
                                <div class="shop-rate">
                                    <h4>
                                        店铺动态评分 <span class="compare">与同行业相比</span>
                                    </h4>
                                    <ul>
                                        <li>描述相符：<a target="_blank" href="http://rate.taobao.com/user-rate-54e6f94343b5d2d647fdde8a93634496.htm"><em
                                            class="count" title="4.76132分">4.7</em> <span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
                                                <b>持平</b><em>--------</em> </span></a></li>
                                        <li>服务态度：<a target="_blank" href="http://rate.taobao.com/user-rate-54e6f94343b5d2d647fdde8a93634496.htm"><em
                                            class="count" title="4.74458分">4.7</em> <span class="rateinfo" title="计算规则:(同行业平均分-店铺得分)/(同行业平均分-同行业店铺最低得分)">
                                                <b class="lower">低于</b><em class="lower">1.35%</em> </span></a></li>
                                        <li>发货速度：<a target="_blank" href="http://rate.taobao.com/user-rate-54e6f94343b5d2d647fdde8a93634496.htm"><em
                                            class="count" title="4.7673分">4.7</em> <span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
                                                <b>持平</b><em>--------</em> </span></a></li>
                                    </ul>
                                </div>
                                <div class="extend">
                                    <ul>
                                        <li class="shopkeeper">
                                            <label>
                                                掌 柜：</label>
                                            <a href="http://rate.taobao.com/user-rate-54e6f94343b5d2d647fdde8a93634496.htm">nike官方旗舰店</a>
                                        </li>
                                        <li>
                                            <label>
                                                客 服：</label>
                                            <span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97"
                                                data-tnick="" data-encode="true" data-display="inline"><a href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaonike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=&amp;itemsId="
                                                    target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
                                                    <span>旺旺在线</span></a></span> </li>
                                        <li>
                                            <label>
                                                公 司 名：
                                            </label>
                                            上海宝尊电子商务有限公司 </li>
                                        <li class="locus">
                                            <label>
                                                所 在 地：
                                            </label>
                                            上海 </li>
                                    </ul>
                                </div>
                                <div class="other">
                                    <a id="xshop_collection_href" style="width: 84px;" href="http://favorite.taobao.com/popup/add_collection.htm?id=71955116&amp;itemid=71955116&amp;itemtype=0&amp;ownerid=54e6f94343b5d2d647fdde8a93634496&amp;scjjc=2&amp;_tb_token_=T6C62bS4Apux"
                                        mercury:params="id=71955116&amp;itemid=71955116&amp;itemtype=0&amp;ownerid=54e6f94343b5d2d647fdde8a93634496"
                                        class="J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-width="440"
                                        data-height="260" data-closebtn="true"><span>收藏本店铺 </span></a>
                                </div>
                            </div>
                            <div class="opt">
                                <b id="J_InfoTrigger">展开/收起</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>
</html>
