<h4 class="hd">服务质量</h4>
							<div class="serviceQuality">
								<h5>服务质量记录</h5>
								<ul class="clearfix">
									<li>
										<a title="退款速度：近30天商家处理退款平均时间">退款速度：</a>
										<span class="desc">
											<span class="orange">4.4天</span>
											（比行业平均水平
											<span class="orange">慢2.0天</span>
											）
										</span>
									</li>
									<li>
										<a title="纠纷退款：卖家未及时处理买家退款要求所产生的纠纷笔数">纠纷退款：</a>
										<span class="desc">
											<span class="orange">有</span>
											<em>30天</em>
											内有
											<em>11笔</em>
											纠纷退款
										</span>
									</li>
									<li>
										<a title="投诉纠纷：卖家未履行服务承诺所产生的纠纷">投诉纠纷：</a>
										<span class="desc">
											<span class="green">无</span>
											超过
											<em>300天</em>
											无投诉
										</span>
									</li>
									<li>
										<!--uri: /json/sellerInfo.vm type: pageNoCache -->
										<a title="处罚情况：邻居在线对违反《邻居在线用户行为管理规则》的用户进行的处罚。">处罚情况：</a>
										<span class="desc">该会员遵守邻居在线用户行为管理规则良好</span>
									</li>
									<li>
										<a title="违规行为：卖家对于邻居在线网规则遵守程度">违规行为：</a>
										<span class="desc">
											<span class="orange">有</span>
											<em>30天</em>
											内有
											<em>2笔</em>
											违规行为
										</span>
									</li>
								</ul>
							</div>
							<div class="dynamicRate">
								<h5>
									店铺动态评分：
									<em>(所属行业：运动/户外)</em>
								</h5>
								<div id="J_sellerRateInfo" class="seller-rate-info">
									<ul>
										<li class="J_RateInfoTrigger selected">
											<div class="item-scrib">
												<span class="title">商品与描述相符：</span>
												<em class="count" title="4.76132分">4.7</em>
												分
												<em title="计算规则:(同行业平均分-店铺得分)/(同行业平均分-同行业店铺最低得分)"><strong class="percent equal">0.34%</strong></em> 
											</div>
											<div class="rate-info-box">
												<span class="rc-tp">
													<span></span>
												</span>
												<div class="bd">
													<div class="total">
														<em class="h" title="4.76132分">4.7</em>
														分
														<span class=" c-value-no c-value-4d7 ">
															<em>4.7分</em>
														</span>
														共
														<span>40778</span>
														人
													</div>
													<div class="count count5">
														<span class="no5">5</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 84.19px;">&nbsp;</span>
														<em class="h">84.19%</em>
														<span class="people-no">(34332人)</span>
													</div>
													<div class="count count4">
														<span class="no4">4</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 10.95px;"></span>
														<em class="h">10.95%</em>
														<span class="people-no">(4464人)</span>
													</div>
													<div class="count count3">
														<span class="no3">3</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 2.99px;"></span>
														<em class="h">2.99%</em>
														<span class="people-no">(1218人)</span>
													</div>
													<div class="count count2">
														<span class="no2">2</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 0.55px;"></span>
														<em class="h">0.55%</em>
														<span class="people-no">(223人)</span>
													</div>
													<div class="count count1">
														<span class="no1">1</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 1.33px;"></span>
														<em class="h">1.33%</em>
														<span class="people-no">(541人)</span>
													</div>
												</div>
												<span class="rc-bt">
													<span></span>
												</span>
											</div>
										</li>
										<li class="J_RateInfoTrigger">
											<div class="item-scrib">
												<span class="title">商家的服务态度：</span>
												<em class="count" title="4.74458分">4.7</em>
												分
												<em title="计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分)"><strong class="percent lower">1.35%</strong></em> 
											</div>
											<div class="rate-info-box">
												<span class="rc-tp">
													<span></span>
												</span>
												<div class="bd">
													<div class="total">
														<em class="h" title="4.74458分">4.7</em>
														分
														<span class=" c-value-no c-value-4d7 ">
															<em>4.7 分</em>
														</span>
														<span class=" star-value-no star-value-4d7 "></span>
														共
														<span>41574</span>
														人
													</div>
													<div class="count count5">
														<span class="no5">5</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 83.89px;"></span>
														<em class="h">83.89%</em>
														<span class="people-no">(34875人)</span>
													</div>
													<div class="count count4">
														<span class="no4">4</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 10.36px;"></span>
														<em class="h">10.36%</em>
														<span class="people-no">(4305人)</span>
													</div>
													<div class="count count3">
														<span class="no3">3</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 3.52px;"></span>
														<em class="h">3.52%</em>
														<span class="people-no">(1462人)</span>
													</div>
													<div class="count count2">
														<span class="no2">2</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 0.81px;"></span>
														<em class="h">0.81%</em>
														<span class="people-no">(338人)</span>
													</div>
													<div class="count count1">
														<span class="no1">1</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 1.43px;"></span>
														<em class="h">1.43%</em>
														<span class="people-no">(594人)</span>
													</div>
												</div>
												<span class="rc-bt">
													<span></span>
												</span>
											</div>
										</li>
										<li class="J_RateInfoTrigger">
											<div class="item-scrib">
												<span class="title">商家发货的速度：</span>
												<em class="count" title="4.7673分">4.7</em>
												分
												<em title="计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分)">
													<strong class="percent equal">0.37%</strong>
												</em>
											</div>
											<div class="rate-info-box">
												<span class="rc-tp">
													<span></span>
												</span>
												<div class="bd">
													<div class="total">
														<em class="h" title="4.7673分">4.7</em>
														分
														<span class=" c-value-no c-value-4d7 ">
															<em>4.7 分</em>
														</span>
														<span class=" star-value-no star-value-4d7 "></span>
														共
														<span>41585</span>
														人
													</div>
													<div class="count count5">
														<span class="no5">5</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 85.44px;"></span>
														<em class="h">85.44%</em>
														<span class="people-no">(35529人)</span>
													</div>
													<div class="count count4">
														<span class="no4">4</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 9.60px;"></span>
														<em class="h">9.60%</em>
														<span class="people-no">(3992人)</span>
													</div>
													<div class="count count3">
														<span class="no3">3</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 2.71px;"></span>
														<em class="h">2.71%</em>
														<span class="people-no">(1129人)</span>
													</div>
													<div class="count count2">
														<span class="no2">2</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 0.75px;"></span>
														<em class="h">0.75%</em>
														<span class="people-no">(313人)</span>
													</div>
													<div class="count count1">
														<span class="no1">1</span>
														<span class="unit">分</span>
														<span class="rate-stat" style="width: 1.50px;"></span>
														<em class="h">1.50%</em>
														<span class="people-no">(622人)</span>
													</div>
												</div>
												<span class="rc-bt">
													<span></span>
												</span>
											</div>
										</li>
									</ul>
								</div>
							</div>