body{background-color:#fff;color:#404040;}
a{color:#36c;}
.H{color:#f50!important;}
.phide{height:0;overflow:hidden;}
#J_Detail .phide{width:750px;}
#header,#header .headerLayout,#bd,#content .layout,.eshop #hd .box,#footer,#ft-dcb,.crumbs-mod{width:950px;margin:0 auto;}
.col-main{float:left;width:100%;min-height:1px;}
.col-sub,.col-extra{float:left;}
.layout:after,.main-wrap:after,.col-sub:after,.col-extra:after,.box:after{content:'\20';display:block;height:0;clear:both;}
.layout,.main-wrap,.col-sub,.col-extra,.box{*zoom:1;}
#wangpu-copyright{padding:10px 0;text-align:center;}
#bd{background:#FFF;margin-top:10px;}
.ks-overlay{position:absolute;left:-9999px;top:-9999px;}
.ks-imagezoom-lens{background:url("http://img04.taobaocdn.com/tps/i4/T12pdtXaldXXXXXXXX-2-2.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;position:absolute;overflow:hidden;}
.ks-imagezoom-viewer{border:1px solid #CCC;overflow:hidden;text-align:center;z-index:999;}
.ks-imagezoom-viewer img{position:absolute;left:0;top:0;}
.ks-imagezoom-loading{background:url(http://img03.taobaocdn.com/tps/i3/T11ihLXhJoXXXXXXXX-16-16.gif) no-repeat scroll center center #FFF;}
.ks-imagezoom-icon{height:20px;width:20px;border-width:0 1px 1px 0;border-style:solid;border-color:#efefef #CDCDCD #CDCDCD #efefef;background-position:3px -230px;background-color:#efefef;z-index:2;display:block;position:absolute;right:0;bottom:0;overflow:hidden;}
.clear,.tb-clear,.tb-clearfix,.clearfix,.tm-clear{*zoom:1;}
.clear:after,.tb-clear:after,.tb-clearfix:after,.clearfix:after,.tm-clear:after{content:'\20';display:block;height:0;clear:both;}
#detail{width:100%;}
#detail .hidden,#detail .tb-hidden{display:none;}
.tb-cf60{color:#f60;}
.grid-s5m0 .main-wrap{margin-left:200px;}
.grid-s5m0 .col-sub{width:190px;margin-left:-100%;}
.grid-m0s5 .main-wrap{margin-right:200px;}
.grid-m0s5 .col-sub{width:190px;margin-left:-190px;}
.grid-s5m0e5 .main-wrap{margin:0 200px 0 200px;}
.grid-s5m0e5 .col-sub{width:190px;margin-left:-100%;}
.grid-s5m0e5 .col-extra{width:190px;margin-left:-190px;}
.grid-e5m0s5 .main-wrap{margin:0 200px 0 200px;}
.grid-e5m0s5 .col-sub{width:190px;margin-left:-190px;}
.grid-e5m0s5 .col-extra{width:190px;margin-left:-100%;}
.grid-m0s5e5 .main-wrap{margin-right:400px;}
.grid-m0s5e5 .col-sub{width:190px;margin-left:-390px;}
.grid-m0s5e5 .col-extra{width:190px;margin-left:-190px;}
.grid-m0e5s5 .main-wrap{margin-right:400px;}
.grid-m0e5s5 .col-sub{width:190px;margin-left:-190px;}
.grid-m0e5s5 .col-extra{width:190px;margin-left:-390px;}
.grid-s5e5m0 .main-wrap{margin-left:400px;}
.grid-s5e5m0 .col-sub{width:190px;margin-left:-100%;}
.grid-s5e5m0 .col-extra{width:190px;margin-left:-750px;}
.grid-e5s5m0 .main-wrap{margin-left:400px;}
.grid-e5s5m0 .col-sub{width:190px;margin-left:-750px;}
.grid-e5s5m0 .col-extra{width:190px;margin-left:-100%;}
.tb-pic a{display:table-cell;vertical-align:middle;text-align:center;}
.tb-pic a img{vertical-align:middle;}
.tb-s30,.tb-s30 a{width:30px;height:30px;}
.tb-s40,.tb-s40 a{width:40px;height:40px;}
.tb-s50,.tb-s50 a{width:50px;height:50px;}
.tb-s60,.tb-s60 a{width:60px;height:60px;}
.tb-s70,.tb-s70 a{width:70px;height:70px;}
.tb-s80,.tb-s80 a{width:80px;height:80px;}
.tb-s110x90,.tb-s110x90 a{width:110px;height:90px;}
.tb-s120,.tb-s120 a{width:120px;height:120px;}
.tb-s160,.tb-s160 a{width:160px;height:160px;}
.tb-s220,.tb-s220 a{width:220px;height:220px;}
.tb-s310,.tb-s310 a{width:310px;height:310px;}
.tb-s460,.tb-s460 a{width:460px;height:460px;}
.tb-s30 img{max-width:30px;max-height:30px;}
.tb-s40 img{max-width:40px;max-height:40px;}
.tb-s50 img{max-width:50px;max-height:50px;}
.tb-s60 img{max-width:60px;max-height:60px;}
.tb-s70 img{max-width:70px;max-height:70px;}
.tb-s80 img{max-width:80px;max-height:80px;}
.tb-s110x90 img{max-width:110px;max-height:90px;}
.tb-s120 img{max-width:120px;max-height:120px;}
.tb-s160 img{max-width:160px;max-height:160px;}
.tb-s220 img{max-width:220px;max-height:220px;}
.tb-s310 img{max-width:310px;max-height:310px;}
.tb-s460 img{max-width:460px;max-height:460px;}
.tb-pic{*overflow:hidden;}
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
.tb-s30 a{*font-size:26px;}
.tb-s40 a{*font-size:35px;}
.tb-s50 a{*font-size:44px;}
.tb-s60 a{*font-size:52px;}
.tb-s70 a{*font-size:61px;}
.tb-s80 a{*font-size:70px;}
.tb-s110x90 a{*font-size:79px;}
.tb-s120 a{*font-size:105px;}
.tb-s160 a{*font-size:140px;}
.tb-s220 a{*font-size:192px;}
.tb-s310 a{*font-size:271px;}
.tb-s460 a{*font-size:402px;}
.msg .error,.msg .stop,.msg .alert,.msg .attention,.msg .tips,.msg .ok,.msg .notice,.msg .question,.msg .help,.msg .small-help,.tb-msg .tb-error,.tb-msg .tb-stop,.tb-msg .tb-alert,.tb-msg .tb-attention,.tb-msg .tb-tips,.tb-msg .tb-ok,.tb-msg .tb-notice,.tb-msg .tb-question,.tb-msg .tb-help,.tb-msg .tb-small-help{color:#404040;border:1px solid #ddd;float:left;padding:2px 10px 2px 23px;line-height:18px;}
.msg .error,.tb-msg .tb-error{background-position:3px 3px;border-color:#ff8080;background-color:#fff2f2;}
.msg .stop,.tb-msg .tb-stop{background-position:3px -47px;border-color:#ff8080;background-color:#fff2f2;}
.msg .alert,.tb-msg .tb-alert{background-position:3px -97px;border-color:#ff8c40;background-color:#fff5f6;}
.msg .attention,.tb-msg .tb-attention{background-position:3px -147px;border-color:#40b3ff;background-color:#e5f5ff;}
.msg .tips,.tb-msg .tb-tips{background-position:3px -197px;border-color:#ffcc7f;background-color:#ffffe5;}
.msg .ok,.tb-msg .tb-ok{background-position:3px -247px;border-color:#4dbf00;background-color:#f0ffe5;}
.msg .notice,.tb-msg .tb-notice{background-position:5px -295px;border-color:#40b3ff;background-color:#e6f5ff;}
.msg .question,.tb-msg .tb-question{background-position:3px -347px;border-color:#bfbfbf;background-color:#f2f2f2;}
.msg .small-help,.tb-msg .tb-small-help{background-position:5px -1095px;border-color:#fff;background-color:#fff;}
.msg .help,.tb-msg .tb-help{background-position:3px -1197px;border-color:#fff;background-color:#fff;}
.msg24 .error,.msg24 .attention,.msg24 .tips,.msg24 .ok,.msg24 .question,.tb-msg24 .tb-error,.tb-msg24 .tb-attention,.tb-msg24 .tb-tips,.tb-msg24 .tb-ok,.tb-msg24 .tb-question{font-size:14px;font-weight:bold;color:#404040;border:1px solid #ddd;padding:17px 10px 17px 56px;line-height:22px;}
.msg24 .error,.tb-msg24 .tb-error{background-position:12px -388px;border-color:#ff8080;background-color:#fff2f2;}
.msg24 .attention,.tb-msg24 .tb-attention{background-position:12px -488px;border-color:#40b3ff;background-color:#e5f5ff;}
.msg24 .tips,.tb-msg24 .tb-tips{background-position:15px -888px;border-color:#ffcc7f;background-color:#ffffe5;}
.msg24 .ok,.tb-msg24 .tb-ok{background-position:12px -988px;border-color:#4dbf00;background-color:#f0ffe5;}
.msg24 .question,.tb-msg24 .tb-question{background-position:12px -788px;border-color:#bfbfbf;background-color:#f2f2f2;}
.msg .naked,.msg24 .naked,.tb-msg .tb-naked,.tb-msg24 .tb-naked{border:none;background-color:transparent;}
.msg24 .naked-tips,.tb-msg24 .tb-naked-tips{background-position:15px -688px;}
.msg24 .naked-ok,.tb-msg24 .tb-naked-ok{background-position:12px -588px;}
.msg:after,.msg24:after,.tb-msg:after,.tb-msg24:after{content:'\0020';display:block;height:0;clear:both;}
.page-feedback-msg,.tb-page-feedback-msg{border:1px solid #ff8080;background:#fff2f2;}
.page-feedback-msg .msg-list,.tb-page-feedback-msg .tb-msg-list{margin:0 0 0 130px;background:#fff;}
.tb-page-feedback-msg h3,.page-feedback-msg h3{margin:0;padding:20px 10px 15px;}
.page-feedback-msg ol,.tb-page-feedback-msg ol{margin-top:-5px;padding:0 10px 15px;}
.page-feedback-msg ol li,.tb-page-feedback-msg ol li{list-style:inside decimal;}
.page-feedback-msg h2,.tb-page-feedback-msg h2{float:left;display:inline;width:80px;background-position:12px -400px;line-height:35px;padding:2px 10px 2px 50px;margin:10px 0;color:#f50;font-size:17px;}
#popupPanel .ks-stdmod-header{display:none;}
#content{background:#fff;}
.event2012 #content{background:#fff url(http://img03.taobaocdn.com/tps/i3/T1DfcJXgXdXXcErhwQ-1298-369.png) no-repeat center 150px;}
#hd{overflow:hidden;margin-bottom:20px;}
#hd .layout{width:auto;}
#content .shop-header .shop-summary{width:950px;margin:auto;}
#content .c-value-no{display:inline-block;height:12px;vertical-align:inherit;overflow:hidden;width:60px;text-align:left;background-position:0 -27px;}
#content .c-value-no i,#content .c-value-no em{display:inline-block;height:12px;overflow:hidden;vertical-align:top;background-position:0 -15px;text-indent:-99em;}
#content .c-value-no em,#content .c-value-no i{float:left;visibility:inherit;}
#content .c-value-5 em{width:60px;}
#content .c-value-4d9 em{width:58px;}
#content .c-value-4d8 em{width:57px;}
#content .c-value-4d7 em{width:56px;}
#content .c-value-4d6 em{width:55px;}
#content .c-value-4d5 em{width:54px;}
#content .c-value-4d4 em{width:53px;}
#content .c-value-4d3 em{width:52px;}
#content .c-value-4d2 em{width:51px;}
#content .c-value-4d1 em{width:50px;}
#content .c-value-4 em{width:49px;}
#content .c-value-3d9 em{width:46px;}
#content .c-value-3d8 em{width:45px;}
#content .c-value-3d7 em{width:44px;}
#content .c-value-3d6 em{width:43px;}
#content .c-value-3d5 em{width:42px;}
#content .c-value-3d4 em{width:41px;}
#content .c-value-3d3 em{width:40px;}
#content .c-value-3d2 em{width:39px;}
#content .c-value-3d1 em{width:38px;}
#content .c-value-3 em{width:37px;}
#content .c-value-2d9 em{width:34px;}
#content .c-value-2d8 em{width:33px;}
#content .c-value-2d7 em{width:32px;}
#content .c-value-2d6 em{width:31px;}
#content .c-value-2d5 em{width:30px;}
#content .c-value-2d4 em{width:29px;}
#content .c-value-2d3 em{width:28px;}
#content .c-value-2d2 em{width:27px;}
#content .c-value-2d1 em{width:26px;}
#content .c-value-2 em{width:25px;}
#content .c-value-1d9 em{width:22px;}
#content .c-value-1d8 em{width:21px;}
#content .c-value-1d7 em{width:20px;}
#content .c-value-1d6 em{width:19px;}
#content .c-value-1d5 em{width:18px;}
#content .c-value-1d4 em{width:17px;}
#content .c-value-1d3 em{width:16px;}
#content .c-value-1d2 em{width:15px;}
#content .c-value-1d1 em{width:14px;}
#content .c-value-1 em{width:13px;}
#content .c-value-0d9 em{width:10px;}
#content .c-value-0d8 em{width:9px;}
#content .c-value-0d7 em{width:8px;}
#content .c-value-0d6 em{width:7px;}
#content .c-value-0d5 em{width:6px;}
#content .c-value-0d4 em{width:5px;}
#content .c-value-0d3 em{width:4px;}
#content .c-value-0d2 em{width:3px;}
#content .c-value-0d1 em{width:2px;}
#content .c-value-0 em{width:1px;}
#content .shop-promise li,#content .shop-intro li,#content .shop-search li{color:#404040;}
table img,#description img,.col-sub img,.shop-banner img{vertical-align:top;}
#content .pagination{color:#999;font-size:14px;font-weight:bold;float:right;background:url(http://120.192.31.164:7525/Images/mall_head-70-20.png) no-repeat right 0;padding-top:19px;height:auto;}
#content .pagination a,#content .page-prev,#content .page-cur,#content .page-start,#content .page-end,#content .page-break,#content .page-skip{float:left;}
#content .pagination a,#content .page-prev,#content .page-start,#content .page-cur,#content .page-end,#content .page-skip,#content .page-break{height:28px;padding:10px 14px 0;margin:0;width:auto;}
#content .page-cur,#content .pagination a,#content .page-end{border:1px solid #e5e5e5;border-left-width:0;}
#content .pagination a:hover{color:#2953a6;font-size:14px;background-color:#efefef;}
#content .pagination .page-start,#content .pagination .page-prev{border:1px solid #e5e5e5;}
#content .page-start,#content .page-prev,#content .page-next,#content .page-end{background:none;}
#content .page-cur{background-color:#efefef;}
#content .page-break{border-right:1px solid #e5e5e5;padding-left:4px;padding-right:4px;}
#content .page-prev span,#content .page-start span{display:inline!important;}
#content .page-skip{padding-right:0;font-weight:normal;}
#content .pagination a{color:#2953A6;}
#ft-dcb{margin-top:10px;height:16px;line-height:16px;}
#ft-dcb .fback{float:left;padding-left:20px;background-position:0 -215px;}
#hd-sub{background:#8E0000 url(data:image/gif;base64,R0lGODlhAQAeAIAAAI4AAI8BACH5BAAAAAAALAAAAAABAB4AAAIHRGChy+2KCgA7) repeat-x;height:30px;position:relative;z-index:1899;}
#hd-sub .headerLayout{padding-top:0;width:950px;}
.crumbs-patch{margin:0 0 0 5px;line-height:20px;height:20px;}
.crumbs-patch li,.headerCrumb li{float:left;margin:0 8px 0 0;}
.crumbs-patch a{padding:0 8px 0 0;background-position:right 4px;background-repeat:no-repeat;}
#hd-sub .crumbs-patch{float:left;padding-top:4px;color:#fff;}
#hd-sub .crumbs-patch a,.headerCrumb a{background-position:right -8px;color:#f2f2f2;padding-right:12px;height:20px;float:left;}
#hd-sub .crumbs-patch .last a,.headerCrumb .last a{background:none;}
.headerCrumb ul{line-height:18px;height:18px;float:left;padding-top:5px;}
.headerCrumb a{height:18px;}
.headerCrumb ul{width:240px;overflow:hidden;}
#hd-sub .hdPromise{float:right;padding-top:3px;background:url(http://img03.taobaocdn.com/tps/i3/T1fnLRXdXpXXccsOLA-278-25.png) 18px 3px no-repeat;}
#hd-sub .hdPromise li{float:left;width:89px;height:25px;margin-left:10px;}
#hd-sub .hdPromise a{display:block;height:25px;width:89px;}
#hd-sub .hdPromise a img{display:none;}
#popupPanel{position:absolute;display:none;z-index:999999;border:1px solid #b2d1ff;padding:1px;background:#F1F9FB;overflow:hidden;-moz-box-shadow:rgba(0,0,0,0.2) 3px 3px 3px;-webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=3,OffY=3,Color=#16000000,Positive=true);}
.tb-item-rates,#J_spuShopList .bts-grade,#J_shopList .good_com_num{display:none;}
#J_lsoSaver{height:0;overflow:hidden;}
body .tb-shop .layout{font-size:12px;}