.ui-slide-arrow-s,.ui-slide-arrow-mini:hover{background:url(http://l.tbcdn.cn/apps/tmall/mui/slide/img/slide.png) no-repeat\9;_background:none;}
.ui-slide-arrow-s{display:inline-block;position:relative;height:18px;width:18px;_overflow:hidden;background-color:#b8b2b1;background-color:transparent\9;background-color:#b8b2b1\9\0;_background-color:#b8b2b1;background-position:0 -142px;color:#fff;text-align:center;font:bold 12px \5b8b\4f53,Hei;line-height:18px;border-radius:8px;-ms-border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;-o-border-radius:9px;-khtml-border-radius:9px;cursor:pointer;}
.ui-slide-arrow-s:hover{text-decoration:none;background-color:#B91919;background-color:transparent\9;background-color:#B91919\9\0;_background-color:#B91919;background-position:-19px -142px;-moz-transition:background .2s ease-in,color .2s ease-out;-webkit-transition:background .2s ease-in,color .2s ease-out;-o-transition:background .2s ease-in,color .2s ease-out;transition:background .2s ease-in,color .2s ease-out;}
.ui-slide-arrow-mini{display:inline-block;position:relative;height:18px;width:18px;_overflow:hidden;color:#716564;text-align:center;font:bold 12px \5b8b\4f53,Hei;line-height:18px;border-radius:8px;-ms-border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;-o-border-radius:9px;-khtml-border-radius:9px;}
.ui-slide-arrow-mini:hover{text-decoration:none;color:#fff;background-color:#B91919;background-color:transparent\9;background-color:#B91919\9\0;_background-color:#B91919;background-position:-19px -142px;-moz-transition:background .2s ease-in,color .2s ease-out;-webkit-transition:background .2s ease-in,color .2s ease-out;-o-transition:background .2s ease-in,color .2s ease-out;transition:background .2s ease-in,color .2s ease-out;}
.ui-slide-nav-mini{height:24px;line-height:18px;}
.ui-slide-nav-mini li{float:left;width:12px;font-family:Tahoma,Helvetica;font-size:28px;_font-size:40px;margin-right:5px;color:#716564;cursor:pointer;}
.ui-slide-nav-mini .active{color:#b91919;}
.ui-btn-s-primary,.ui-btn-m-primary,.ui-btn-l-primary,.ui-btn-s,.ui-btn-m,.ui-btn-l{padding:0 10px;display:inline-block;height:20px;background:url(http://l.tbcdn.cn/apps/tmall/mui/btn/img/btn.png) repeat-x;color:#fff;font-size:12px;border:0 none;border-left:1px solid #950b00;border-right:1px solid #950b00;cursor:pointer;outline:none;overflow:visible;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;*zoom:1;}
.ui-btn-s-primary,.ui-btn-m-primary,.ui-btn-l-primary{background-color:#950b00;border-color:#950b00;color:#fff;}
.ui-btn-s,.ui-btn-m,.ui-btn-l{background-color:#ccc;border-color:#ccc;color:#333;}
button.ui-btn-s-primary,button.ui-btn-m-primary,button.ui-btn-l-primary,button.ui-btn-s,button.ui-btn-m,button.ui-btn-l{*border-color:black;*filter:chroma(color=black);}
.ui-btn-s-primary,.ui-btn-s{height:20px;line-height:20px;font-size:12px;font-weight:normal;}
.ui-btn-m-primary,.ui-btn-m{height:25px;line-height:24px;font-size:12px;font-weight:bold;}
.ui-btn-l-primary,.ui-btn-l{height:30px;line-height:30px;font-size:14px;font-weight:bold;}
button.ui-btn-s-primary,button.ui-btn-s{height:20px;*height:22px;line-height:17px;}
button.ui-btn-m-primary,button.ui-btn-m{height:25px;*height:27px;line-height:22px;}
button.ui-btn-l-primary,button.ui-btn-l{height:30px;*height:32px;line-height:27px;}
.ui-btn-s-primary{background-position:0 0;}
.ui-btn-s-primary-hover,.ui-btn-s-primary:hover{background-position:0 -20px;}
.ui-btn-s-primary-active,.ui-btn-s-primary:active{background-position:0 -40px;}
.ui-btn-s-primary-selected{background-position:0 -60px;}
.ui-btn-m-primary{background-position:0 -80px;}
.ui-btn-m-primary-hover,.ui-btn-m-primary:hover{background-position:0 -105px;}
.ui-btn-m-primary-active,.ui-btn-m-primary:active{background-position:0 -130px;}
.ui-btn-m-primary-selected{background-position:0 -155px;}
.ui-btn-l-primary{background-position:0 -180px;}
.ui-btn-l-primary-hover,.ui-btn-l-primary:hover{background-position:0 -210px;}
.ui-btn-l-primary-active,.ui-btn-l-primary:active{background-position:0 -240px;}
.ui-btn-l-primary-selected{background-position:0 -270px;}
.ui-btn-s{background-position:0 -300px;}
.ui-btn-s-hover,.ui-btn-s:hover{background-position:0 -320px;}
.ui-btn-s-active,.ui-btn-s:active{background-position:0 -340px;}
.ui-btn-s-selected{background-position:0 -360px;}
.ui-btn-m{background-position:0 -380px;}
.ui-btn-m-hover,.ui-btn-m:hover{background-position:0 -405px;}
.ui-btn-m-active,.ui-btn-m:active{background-position:0 -430px;}
.ui-btn-m-selected{background-position:0 -455px;}
.ui-btn-l{background-position:0 -480px;}
.ui-btn-l-hover,.ui-btn-l:hover{background-position:0 -510px;}
.ui-btn-l-active,.ui-btn-l:active{background-position:0 -540px;}
.ui-btn-l-selected{background-position:0 -570px;}
.ui-btn-s-primary:hover,.ui-btn-m-primary:hover,.ui-btn-l-primary:hover,.ui-btn-s:hover,.ui-btn-m:hover,.ui-btn-l:hover{text-decoration:none;}
.ui-btn-disable{border:1px solid #ccc;background:#f2f2f2;color:#c5c5c5;cursor:default;}
.ui-step-bar li,.ui-step-bar .ui-step-cur .ui-step-status,.ui-step-bar .ui-step-start-cur .ui-step-status,.ui-step-bar .ui-step-end-cur,.ui-step .ui-step-start-done .ui-step-status{background:url(http://img03.taobaocdn.com/tps/i3/T1iHjeXgXqXXc4Pjnu-26-166.png) 0 0 no-repeat;}
.ui-step,.ui-step-2,.ui-step-3,.ui-step-4,.ui-step-5{padding:32px 10px 35px 10px;}
.ui-step-bar{height:10px;background-color:#dcdcdc;_overflow:hidden;}
.ui-step-bar li{color:#888;float:left;position:relative;height:26px;margin-top:-8px;width:100%;}
.ui-step-bar .ui-step-start,.ui-step-bar .ui-step-start-cur,.ui-step-bar .ui-step-start-done{margin-left:0;}
.ui-step-bar .ui-step-cur,.ui-step-bar .ui-step-start-cur,.ui-step-bar .ui-step-end-cur,.ui-step-bar .ui-step-done,.ui-step-bar .ui-step-start-done,.ui-step-bar .ui-step-end-done{font-weight:700;color:#b10000;}
.ui-step-bar .ui-step-name{position:relative;float:left;top:-23px;margin-top:-22px;white-space:nowrap;}
.ui-step-bar .ui-step-no{display:block;width:26px;height:26px;line-height:26px;text-align:center;color:#fff;font-size:16px;*position:relative;*z-index:2;}
.ui-step-bar .ui-step-done,.ui-step-bar .ui-step-cur{background-position:0 -27px;}
.ui-step-bar .ui-step-start{background-position:0 -54px;}
.ui-step-bar .ui-step-start-done,.ui-step-bar .ui-step-start-cur{background-position:0 -81px;}
.ui-step-bar .ui-step-end{background-position:0 -107px;}
.ui-step-bar .ui-step-end-done,.ui-step-bar .ui-step-end-cur{background-position:0 -135px;}
.ui-step-bar .ui-step-status{display:block;height:4px;margin-top:-15px;font-size:0;overflow:hidden;}
.ui-step-bar .ui-step-done .ui-step-status,.ui-step-bar .ui-step-start-done .ui-step-status,.ui-step-bar .ui-step-end-done .ui-step-status,.ui-step-bar .ui-step-cur .ui-step-status,.ui-step-bar .ui-step-start-cur .ui-step-status,.ui-step-bar .ui-step-end-cur .ui-step-status{background-color:#009047;}
.ui-step-bar .ui-step-cur .ui-step-status,.ui-step-bar .ui-step-start-cur .ui-step-status,.ui-step-bar .ui-step-end-cur .ui-step-status,.ui-step .ui-step-start-done .ui-step-status{width:50%;padding-right:17px;background-position:right -210px;}
.ui-step-bar .ui-step-done .ui-step-status,.ui-step-bar .ui-step-start-done .ui-step-status,.ui-step-bar .ui-step-end-done .ui-step-status{width:auto;padding:0;}
.ui-step-bar .ui-step-start .ui-step-status,.ui-step-bar .ui-step-start-cur .ui-step-status,.ui-step-bar .ui-step-start-done .ui-step-status{margin-left:5px;padding-right:12px;}
.ui-step-bar .ui-step-end .ui-step-status,.ui-step-bar .ui-step-end-cur .ui-step-status,.ui-step-bar .ui-step-end-done .ui-step-status{margin-right:5px;padding:0;}
.ui-step-2 .ui-step-start .ui-step-status,.ui-step-2 .ui-step-start-cur .ui-step-status,.ui-step-2 .ui-step-start-done .ui-step-status{padding:0;}
.ui-step-2 li{width:100%;margin-right:-26px;}
.ui-step-3 li{width:49.99%;margin-left:-17px;}
.ui-step-4 li{width:33.33%;margin-left:-12px;}
.ui-step-5 li{width:25%;margin-left:-9px;}
.ui-step-4 .ui-step-start,.ui-step-4 .ui-step-start-cur,.ui-step-4 .ui-step-start-done,.ui-step-5 .ui-step-start,.ui-step-5 .ui-step-start-cur,.ui-step-5 .ui-step-start-done{padding-left:1px;}
.ui-step-bar .ui-step-end,.ui-step-bar .ui-step-end-cur,.ui-step-bar .ui-step-end-done{width:26px;margin-left:-26px;margin-right:0;float:right;}
.ui-step-bar .ui-step-end .ui-step-name,.ui-step-bar .ui-step-end-cur .ui-step-name,.ui-step-bar .ui-step-end-done .ui-step-name{_position:absolute;_margin:0;}
.ui-step-bar .ui-step-end .ui-step-status,.ui-step-bar .ui-step-end-cur .ui-step-status,.ui-step-bar .ui-step-end-done .ui-step-status{_position:absolute;padding-left:5px;}
.ui-msg-icon,.ui-msg-close,.ui-msg-arrow{background-image:url(http://localhost:7525/Images/msg.png);background-repeat:no-repeat;}
.ui-msg{position:relative;display:inline-block;*display:inline;*zoom:1;border:1px solid #e1e1e1;border-radius:2px;background:#f5f5f5;padding-left:24px;box-shadow:1px 1px 1px #f5f5f5;}
.ui-msg-block{display:block;}
.ui-msg-con{line-height:16px;color:#666;background:#fbfbfb;padding:3px 10px 3px 5px;border:1px solid #efefef;border-left:1px solid #e7e7e7;margin:-1px;}
.ui-msg-orange .ui-msg-con{color:#f19000;}
.ui-msg-red .ui-msg-con{color:#b10000;}
.ui-msg-arrow,.ui-msg-close,.ui-msg-icon{position:absolute;}
.ui-msg-close{width:18px;height:18px;top:0;right:0;background-position:-21px 2px;cursor:pointer;}
.ui-msg-close:hover{background-position:-40px 1px;}
.ui-msg-arrow{width:5px;height:8px;left:-5px;top:7px;}
.ui-msg-arrow-right{background-position:0 -8px!important;left:auto!important;right:-5px!important;}
.ui-msg-arrow-top,.ui-msg-arrow-down{width:8px;height:5px;background-position:-5px 0;top:-5px;left:7px;}
.ui-msg-arrow-down{background-position:-13px 0;top:auto;bottom:-5px;}
.ui-msg-icon{width:23px;height:22px;top:0;left:0;}
.ui-msg-error .ui-msg-icon{background-position:-61px -26px;}
.ui-msg-stop .ui-msg-icon{background-position:-61px -1px;}
.ui-msg-ok .ui-msg-icon{background-position:-61px -51px;}
.ui-msg-tip .ui-msg-icon{background-position:-61px -103px;}
.ui-msg-attention .ui-msg-icon{background-position:-61px -79px;}
.ui-msg-question .ui-msg-icon{background-position:-61px -126px;}
.ui-msg-alert .ui-msg-icon{background-position:-61px -153px;}
.ui-msg-notice .ui-msg-icon{background-position:-61px -177px;}
.ui-msg-clean,.ui-msg-clean .ui-msg-clean{border:none;background:none;box-shadow:none;}
.ui-msg-clean .ui-msg-con{padding-left:0;border:none;}
.ui-page-tip{background:#fbfbfb;border-color:#efefef;}
.ui-page-tip .ui-msg-con{border-left:1px solid #fbfbfb;padding-left:0;}
.ui-top-tip{padding-left:58px;}
.ui-top-tip .ui-msg-con{line-height:20px;padding:18px 28px 18px 12px;font-weight:bold;font-size:14px;}
.ui-top-tip .ui-msg-icon{width:57px;height:56px;}
.ui-top-tip .ui-msg-error .ui-msg-icon{background-position:11px -20px;}
.ui-top-tip .ui-msg-stop .ui-msg-icon{background-position:11px -1px;}
.ui-top-tip .ui-msg-ok .ui-msg-icon{background-position:11px -66px;}
.ui-top-tip .ui-msg-tip .ui-msg-icon{background-position:11px -114px;}
.ui-top-tip .ui-msg-attention .ui-msg-icon{background-position:11px -165px;}
.ui-top-tip .ui-msg-question .ui-msg-icon{background-position:11px -215px;}
.ui-top-tip .ui-msg-alert .ui-msg-icon{background-position:11px -265px;}
.ui-top-tip .ui-msg-notice .ui-msg-icon{background-position:13px -315px;}
.ui-top-tip .ui-msg-stop .ui-msg-icon{background-position:12px -362px;}
.ui-msg-empty,.ui-msg-empty .ui-msg-con{background:none;border:none;padding:1px;box-shadow:none;}
.ui-msg-empty .ui-msg-icon{position:static;display:inline-block;}
.ui-input-text{color:#666;font-size:12px;margin:0;padding:3px 2px 0 3px;height:16px;border:1px solid #a7a6aa;background-image:url(http://localhost:7525/Images/T1pH_nXjRaXXcfpCgr-637-153.png);background-position:-406px -41px;background-repeat:repeat-x;}
.ui-price-icon{font-family:'arial','verdana',sans-serif!important;font-weight:bold;font-size:14px;}
.ui-price{font-family:'arial','verdana',sans-serif!important;color:#C00;font-weight:bold;font-size:14px;}
.ui-price-original{font-family:'arial','verdana',sans-serif!important;color:#999;font-size:12px;}
.ui-price-plain{font-family:'arial','verdana',sans-serif!important;color:#666;font-size:12px;}
.ui-price-reverse{font-family:'arial','verdana',sans-serif!important;background-color:#C00;color:#fff;font-weight:bold;font-size:14px;}
.ui-loading{background:url(http://l.tbcdn.cn/apps/tmall/mui/loading/img/loading.gif) no-repeat scroll 50% 50%;}
.ui-more-bg{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 28px 0 10px;color:#333;background:#e5e5e5;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;}
.ui-more-bg-arrow{position:absolute;display:inline-block;top:6px;right:10px;height:13px;line-height:13px;width:13px;background:url(http://l.tbcdn.cn/apps/tmall/mui/more/img/more.png) no-repeat;}
.ui-more-bg:hover{text-decoration:none;background-color:#b10000;color:#fff;}
.ui-more-bg:hover .ui-more-bg-arrow{background-position:0 -13px;}
.ui-more-nbg{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 28px 0 10px;color:#333;}
.ui-more-nbg-arrow{position:absolute;display:inline-block;top:6px;right:10px;height:13px;line-height:13px;width:13px;background:url(http://l.tbcdn.cn/apps/tmall/mui/more/img/more.png) 0 -26px no-repeat;overflow:hidden;}
.ui-more-nbg:hover{text-decoration:underline;color:#b10000;}
.ui-more-nbg:hover .ui-more-nbg-arrow{background-position:0 -39px;}
.ui-more-wb{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 28px 0 10px;background:#333;color:#fff;}
.ui-more-wb-arrow{position:absolute;display:inline-block;top:6px;right:10px;height:13px;line-height:13px;width:13px;background:url(http://l.tbcdn.cn/apps/tmall/mui/more/img/more.png) 0 -52px no-repeat;}
.ui-more-wb:hover{text-decoration:underline;}
.ui-more-drop-l,.ui-more-expand-l{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 24px 0 0;color:#333;}
#detail .ui-more-drop-l-arrow,#detail .ui-more-expand-l-arrow{position:absolute;display:inline-block;top:10px;right:10px;height:5px;line-height:5px;width:9px;background:url(http://l.tbcdn.cn/apps/tmall/mui/more/img/more.png) -2px -66px no-repeat;font-weight:normal;overflow:hidden;}
#detail .ui-more-expand-l-arrow{background-position:-2px -72px;}
#detail .ui-more-drop-l:hover,#detail .ui-more-expand-l:hover{color:#b10000;text-decoration:none;}
.ui-more-drop-s,.ui-more-expand-s{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 20px 0 0;color:#333;}
.ui-more-drop-s-arrow,.ui-more-expand-s-arrow{position:absolute;display:inline-block;top:12px;right:10px;height:3px;line-height:3px;width:5px;background:url(http://l.tbcdn.cn/apps/tmall/mui/more/img/more.png) -0px -90px no-repeat;}
.ui-more-expand-s-arrow{background-position:-6px -90px;}
.ui-more-drop-s:hover,.ui-more-expand-s:hover{color:#b10000;text-decoration:none;}
.ui-more-drop-s:hover .ui-more-drop-s-arrow{background-position:-0px -94px;}
.ui-more-expand-s:hover .ui-more-expand-s-arrow{background-position:-6px -94px;}