<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IpAddressSearchWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="IpAddressSearchWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="IpAddressSearchWebServiceSoap"
                contract="ServiceReference1.IpAddressSearchWebServiceSoap"
                name="IpAddressSearchWebServiceSoap" />
            <endpoint address="http://www.webxml.com.cn/WebServices/IpAddressSearchWebService.asmx"
                binding="customBinding" bindingConfiguration="IpAddressSearchWebServiceSoap12"
                contract="ServiceReference1.IpAddressSearchWebServiceSoap"
                name="IpAddressSearchWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>