@{
    ViewBag.Title = "MyCart";
}
<html>
<head>

    <link rel="stylesheet" href=@Url.Content("/apps/cart/130411/cart/cart-min.css") />
    <link rel="stylesheet" href=@Url.Content("/p/global/1.0/global-min.css") />
    <link rel="stylesheet" href=@Url.Content("/p/c2c/header-top-min.css") />
    <link rel="stylesheet" href=@Url.Content("/tbsp/tbsp.css") />
    <link rel="stylesheet" href=@Url.Content("/sys/p4p/css/p4pthemes.css") />

    <script src="http://a.tbcdn.cn/s/kissy/1.2.0/kissy.js"></script>
    <script src=@Url.Content("/p/recentview/index.js")></script>
@*    <script src=@Url.Content("/p/header/adapter-min.js")></script>*@
    <script src=@Url.Content("/p/tlabs/1.0.0/tlabs-min.js")></script>
@*    <script src=@Url.Content("/p/header/webww-min.js")></script>*@
    <script src=@Url.Content("/apps/cart/mini/minicart-min.js")></script>
    <script src=@Url.Content("/s/aplus_v2.js")></script>

    <meta name="data-spm" content="a1z0d">
    <title>邻居在线网 - 我的购物车</title>
    <script>        window.g_config = { appId: 19, toolbar: false, startTime: new Date() };</script>
    <meta charset="gb2312">
    <meta name="description" content="中国最大、最安全的网上交易社区，尽享邻居在线乐趣！">
    <meta name="keywords" content="邻居在线,邻居在线,网上购物,购物,论坛,联盟,买,卖,1元,一元,电脑,视听,MP3,MD,CD,VCD,DV,耗材,化妆,相机,数码,配件,珠宝,手表,艺术,宠物,求购,出租,出售,二手,汽车,音响,保健,讨价换价,一口价,拍卖,auction,sell,buy,price,bid">
    <meta name="format-detection" content="telephone=no">
    @*<link href="http://localhost:7525/Images/favicon.ico" rel="shortcut icon" type="image/x-icon">*@
    <!-- start vmc css 3.1-->
    <style>.hidden {dispaly:none}.m-cart-popup{width:400px;}.ks-overlay {position:absolute;left:-9999px;top:-9999px;}.ks-ext-mask {background-color: #000;opacity: 0.3; filter: alpha(opacity = 15);}.m-cart{width:400px;padding:0;background:#fff;}:root .m-cart{filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#00000000", EndColorStr="#00000000");}.m-cart .m-cart-content{background:#fff;}.m-cart h3{ display:none;font-size:14px;height:45px;line-height:45px;padding-left:18px;background-color:#f2f2f2;border-bottom:1px solid #b7b7b7;}.m-cart .m-btn{width:76px;height: 30px;margin-bottom: 25px; margin-left: 150px;background-color:#FF6800;color:#fff;font-weight:bold;border:none; border-radius: 2px;box-shadow: 1px 1px 2px #ddd;}.m-cart-popup .ks-ext-close{height: 18px;width: 19px;border: 1px solid transparent;right: 15px;top: 15px;vertical-align: middle;position: absolute;text-decoration: none;outline: none;_border-color: tomato;_filter: chroma(color = tomato);overflow: hidden;cursor: pointer;}.m-cart-popup .ks-ext-close .ks-ext-close-x {background: transparent url(http://img02.neighboronlinecdn.com/tps/i2/T18yhsXuFbXXc_eAHa-19-18.png) no-repeat;height: 18px;width: 19px;display: block;text-indent: -9999px;margin:0;}.m-cart .m-create{margin-top: 15px;height: 65px;}::-webkit-input-placeholder { color:#aaa; }input:-moz-placeholder { color:#aaa; }.m-cart .create-link strong{font-weight:bolder}.m-cart .cart-name{width:306px;height:26px;line-height: 26px;box-shadow: 1px 1px 3px #DDD inset;}.m-cart .count-info{color: #999;margin-left: 10px;}.m-cart .count-info .count-alert{color: #FD6800;}.m-cart .name-alert{display: none;clear:both;color: #FD6800;padding-left: 20px;padding-top: 3px;background: url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat 0px 5px;}.m-cart .m-add-box{height:  110px;margin-top: 15px;background-color: #fff;padding-left:18px;}.m-cart .m-add-box .cart-sel{width:310px;height:30px;line-height: 30px;box-shadow: 1px 1px 3px #DDD inset;*height:auto;}body:not(:-moz-handler-blocked) .m-cart .m-add-box .cart-sel {padding: 5px 0;}.m-cart .m-add-box .create-link{color: #16A3E6;text-decoration: none;margin-left:7px;cursor:pointer;}.m-cart .m-add-box .pic-list{width:312px;height: 40px;margin-top: 7px;overflow: hidden;float: left;clear: both;}.m-cart .m-add-box .pic-list .pic{float: left;margin-right: 12px;}.m-cart .m-add-box .pic-list .pic img{width:40px;height:40px;}.m-cart .m-add-box .pic-list .last{margin-right: 0;}.m-cart .m-add-box .pic-num{float: left;width:38px;text-align:center;height: 38px;line-height: 38px;margin-top: 7px;margin-left: 5px;color: #fff;background-color: #ccc;}.m-cart .m-add-box .num-alert{display: none;color: #999;padding-left: 20px;padding-top: 5px;background: url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat 0px -143px;clear: both;}.m-cart .m-add-box .num-alert a{padding-bottom: 2px;border-bottom: 1px dashed #999;text-decoration: none;color: #999;}.m-cart .success{width:400px;text-align: center;}.m-cart .success .info{width:80px;height: 32px;line-height: 32px;padding-left: 40px;margin: 35px auto 0 auto;font-size:14px;font-weight:bold;background: url(http://a.tbcdn.cn/sys/common/img/msg_bg.png) no-repeat 0 -600px;}.m-cart .success .btn-go{display:inline-block;width:98px;height: 30px;line-height:30px;text-decoration: none;background-color:#FF6800;color: #fff; border: none;cursor:pointer;margin-top: 40px;margin-bottom: 40px; border-radius: 2px;box-shadow: 1px 1px 2px #ddd;}.m-cart{padding:7px;background-color: rgba(0, 0, 0, 0.3);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr="#4c000000", EndColorStr="#4c000000");}.m-cart h3{display:block;}</style>
    <style>
        #immediate-help-trigger
        {
            position: fixed;
            right: 0;
            bottom: 70%;
            cursor: pointer;
            z-index: 10001;
        }
        #immediate-help-trigger a
        {
            display: block;
            width: 46px;
            height: 120px;
            background: url(http://img04.neighboronlinecdn.com/tps/i4/T1jrqcXcxrXXXXXXXX-46-120.gif) no-repeat 0 0;
        }
        body #immediate-help-trigger a
        {
            _background: none;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://img04.neighboronlinecdn.com/tps/i4/T1jrqcXcxrXXXXXXXX-46-120.gif",sizingMethod="image");
        }
        #immediate-help-trigger a:hover
        {
            cursor: pointer;
            background: url(http://img01.neighboronlinecdn.com/tps/i1/T1kbqcXcJrXXXXXXXX-46-120.gif) no-repeat 0 0;
            border: none;
        }
        body #immediate-help-trigger a:hover
        {
            _background: none;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://img01.neighboronlinecdn.com/tps/i1/T1kbqcXcJrXXXXXXXX-46-120.gif",sizingMethod="image");
        }
        #immediate-help-trigger a:focus
        {
            outline: none;
        }
        #immediate-help-trigger
        {
            _position: absolute;
            _zoom: expression(function(el) {el.style.zoom = 1;window.onscroll = function() {el.className = el.className;};}(this));
        }
    </style>

    <script src=@Url.Content("/s/fdc/spm.js")></script>
    <script src=@Url.Content("/s/fdc/spmact.js")></script>

    <style>
        .ww-light
        {
            overflow: hidden;
        }
        .ww-block
        {
            display: block;
            margin-top: 3px;
        }
        .ww-inline
        {
            display: inline-block;
            vertical-align: text-bottom;
        }
        .ww-light a
        {
            background: url(http://localhost:7525/Images/wangwang-130-60.gif) no-repeat 0 0;
            text-decoration: none !important;
            width: 20px;
            height: 20px;
            zoom: 1;
        }
        .ww-large a
        {
            width: 67px;
        }
        a.ww-offline
        {
            background-position: 0 -20px;
        }
        a.ww-mobile
        {
            background-position: 0 -40px;
        }
        .ww-small .ww-online
        {
            background-position: -80px 0;
        }
        .ww-small .ww-offline
        {
            background-position: -80px -20px;
        }
        .ww-small .ww-mobile
        {
            background-position: -80px -40px;
        }
        .ww-static .ww-online
        {
            background-position: -110px 0;
        }
        .ww-static .ww-offline
        {
            background-position: -110px -20px;
        }
        .ww-static .ww-mobile
        {
            background-position: -110px -40px;
        }
        .ww-light a span
        {
            display: none;
        }
    </style>
    <style>
        .feedback
        {
            background-repeat: repeat-y;
            background-color: #fff;
            width: 25px;
            overflow: hidden;
            position: fixed;
            right: 0;
            top: 50%;
            z-index: 90000;
            border: 1px solid #e8e8e8;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            _position: absolute;
        }
        .feedback:hover
        {
            right: 2px;
        }
        .feedback span
        {
            display: block;
        }
        .feedback span a
        {
            display: block;
            word-wrap: break-word;
            word-break: normal;
            width: 13px;
            text-align: center;
            color: #666;
            padding: 8px 6px 10px;
            line-height: 1.1em;
        }
        .feedback span a:hover
        {
            color: #f50;
            text-decoration: none;
        }
        .feedback span s
        {
            width: 0;
            height: 0;
            border: 3px solid #19377f;
            display: block;
            position: relative;
            top: -1px;
            right: -1px;
            border-color: #fff #19377f #19377f #fff;
            margin: -6px 0 0 19px;
            overflow: hidden;
            _margin-left: 17px;
            zoom: 1;
        }
    </style>

</head>
<body data-spm="1">
    <div id="8c1-container" style="height: 1px; width: 1px; position: absolute; left: 0px;
        top: 0px;">
        <embed src="http://a.tbcdn.cn/app/tbskip/lsoSaver.swf?t=_1.swf" width="1" height="1"
            id="8c1" type="application/x-shockwave-flash" allowscriptaccess="always">
    </div>
    <input type="hidden" id="isMemberCart" value="true">
    <input type="hidden" id="J_BuyerLevel" value="oldBuyer">
    <script type="text/javascript">
        (function (d) {
            var t = d.createElement("script"); t.type = "text/javascript"; t.async = true; t.id = "tb-beacon-aplus";
            t.setAttribute("exparams", "category=&userid=123072695&aplus");
            t.src = ("https:" == d.location.protocol ? "https://s" : "http://a") + ".tbcdn.cn/s/aplus_v2.js";
            d.getElementsByTagName("head")[0].appendChild(t);
        })(document);
    </script>
    <div id="page">
        <!-- from c2c vmcommon -->
        <!-- start vmc 3.1 -->
        <div id="site-nav" role="navigation">
            <div id="site-nav-bd">
                <div class="sitenav-mobile">
                    <a href=" ">手机版</a></div>
                <p class="login-info">
                    <script>                        TB.Global.writeLoginInfo({ "memberServer": "http://member1.neighboronline.com", "outmemServer": "", "loginServer": "", redirectUrl: "", logoutUrl: "" });</script>
                    <span class="vip-areas user" id="J_Vip_Areas"><span class="vip-head"><a class="user-nick"
                        href=""
                        target="_top">haichuan3000</a><a class="vip-icon1" id="J_VipIcon" rel="nofollow"
                            target="_top" href="http://vip.neighboronline.com/"></a><b></b></span><span class="vip-content"
                                id="J_VipContent"><a href="http://ju.mmstat.com/?url=http://i.neighboronline.com/my_neighboronline.htm?ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=1501036000a02c5c3739"
                                    class="avatar"><img src="http://localhost:7525/Images/avatar-120.png"
                                        width="80" height="80"></a><span class="vip-operate"><a href="http://member1.neighboronline.com/member/fresh/account_security.htm"
                                            target="_top">帐号管理</a><a target="_top" href="http://login.neighboronline.com/member/logout.jhtml?f=top&amp;out=true&amp;redirectURL=http%3A%2F%2Fcart.neighboronline.com%2Fmy_cart.htm%3Fspm%3Da1z0k.1000775.0.279.sZVjQz"
                                                id="J_Logout">退出</a></span><span class="vip-my-level"><a class="vip-my-level1" target="_top"
                                                    href="http://vip.neighboronline.com/growth_info.htm" rel="nofollow"></a></span><a class="vip-my-power"
                                                        href="http://vip.neighboronline.com/growth_info.htm" rel="nofollow" target="_top">查看我的会员特权</a><a
                                                            class="vip-my-service" href="http://vip.neighboronline.com/growth_info.htm" rel="nofollow"
                                                            target="_top">我的成长</a><span class="vip-medal vip-loading" id="J_VipMedal"><span class="vip-medalgroup"><span
                                                                class="vip-medal-content" id="J_VipMedalContent"></span></span><span class="vip-step"><a
                                                                    href="javascript:;" target="_self" class="vip-stepleft"><s class="arrow arrow-lthin"><s></s></s></a><a
                                                                        href="javascript:;" target="_self" class="vip-stepright"><s class="arrow arrow-rthin"><s></s></s></a></span></span></span></span>
                </p>
                <ul class="quick-menu">
                    <li class="home"><a href="http://localhost:7525/index.html" target="_top">邻居在线网首页</a></li>
                    <style>
  #site-nav .quick-menu li.sale1212 {
    margin-top: 3px;
    *margin-top: 1px;
    background: none;
    position:absolute;
    left:-70px;
    
  }
</style>
                    <li class="menu-item">
                        <div class="menu">
                            <a class="menu-hd" style="width: 36px;" href="http://love.neighboronline.com/?neighboronline_from=1"
                                target="_top" rel="nofollow" tabindex="0" aria-haspopup="menu-3" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">
                                我要买<b></b></a>
                            <div class="menu-bd" style="width: 68px; height: 94px; line-height: 1.7;" role="menu"
                                aria-hidden="true" id="menu-3">
                                <div class="menu-bd-panel" style="padding: 8px 10px;">
                                    <div>
                                        <a href="http://love.neighboronline.com/guang/index.htm?neighboronline_from=3" target="_top" rel="nofollow">
                                            逛宝贝</a> <a href="http://love.neighboronline.com/album/index.htm?neighboronline_from=4" target="_top"
                                                rel="nofollow">翻专辑</a><br>
                                        <a href="http://love.neighboronline.com/assemble/index.htm?&amp;neighboronline_from=5" target="_top"
                                            rel="nofollow">生活私搭</a> <a href="http://list.neighboronline.com/browse/cat-0.htm?neighboronline_from=6"
                                                target="_top" rel="nofollow">商品分类</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="myneighboronline menu-item">
                        <div class="menu">
                            <a class="menu-hd" href="http://i.neighboronline.com/my_neighboronline.htm" target="_top" rel="nofollow"
                                tabindex="0" aria-haspopup="menu-4" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">我的邻居在线<b></b></a>
                            <div class="menu-bd" style="height: 94px; width: 100px" role="menu" aria-hidden="true"
                                id="menu-4">
                                <div class="menu-bd-panel" id="myTaobaoPanel">
                                    <div>
                                        <a href="http://trade.neighboronline.com/trade/itemlist/list_bought_items.htm" target="_top"
                                            rel="nofollow">已买到的宝贝</a>
                                    </div>
                                    <div>
                                        <a href="http://dongtai.neighboronline.com/square.htm?nav=2&amp;tracelog=dtgc_tbsycd" target="_top"
                                            rel="nofollow">店铺动态<span style="color: #f50;"> 13</span></a>
                                    </div>
                                    <div>
                                        <a href="http://i.neighboronline.com/my_neighboronline.htm?tracelog=neighboronlineindexrsidenewfeed" target="_top"
                                            rel="nofollow">好友动态</a>
                                    </div>
                                    <div>
                                        <a href="http://yingyong.neighboronline.com?scm=1012.8.8.4" target="_top" rel="nofollow">买家应用中心</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <style>
                        #site-nav .seller-center .menu-hd
                        {
                            width: 48px;
                        }
                        #site-nav .seller-center .menu-bd
                        {
                            width: 94px;
                            line-height: 1.7;
                        }
                        #site-nav .seller-center .menu-bd-panel
                        {
                            padding: 8px 10px;
                        }
                    </style>
                    <li class="seller-center menu-item">
                        <div class="menu">
                            <a class="menu-hd" href="http://mai.neighboronline.com/seller_admin.htm" target="_top" rel="nofollow"
                                tabindex="0" aria-haspopup="menu-5" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">卖家中心<b></b></a>
                            <div class="menu-bd" role="menu" aria-hidden="true" id="menu-5">
                                <div class="menu-bd-panel">
                                    <div>
                                        <a href="http://trade.neighboronline.com/trade/itemlist/list_sold_items.htm" target="_top"
                                            rel="nofollow">已卖出的宝贝</a> <a href="http://sell.neighboronline.com/auction/goods/goods_on_sale.htm"
                                                target="_top" rel="nofollow">出售中的宝贝</a> <a href="http://fuwu.neighboronline.com/?tracelog=tbdd"
                                                    target="_top" rel="nofollow">卖家服务市场</a> <a href="http://learn.neighboronline.com/user/xueyuanRedirect.htm?target=http://www.alibado.com"
                                                        target="_top" rel="nofollow">卖家培训中心</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="service"><a href="http://service.neighboronline.com/support/main/service_center.htm"
                        target="_top" rel="nofollow">联系客服</a> </li>
                    <li class="cart mini-cart mini-cart-no-layer menu"><a href="http://ju.mmstat.com/?url=http://cart.neighboronline.com/my_cart.htm?from=mini&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=1501036000a02c5c3739"
                        target="_top" rel="nofollow" class="menu-hd" id="mc-menu-hd"><span class="mini-cart-line">
                        </span><s></s>购物车<span class="mc-count mc-pt3">1</span>件</a> <b class="leftline">
                        </b><b class="rightline"></b>
                        <div class="mini-cart-content menu-bd">
                        </div>
                        <div class="mini-cart-content menu-bd">
                        </div>
                    </li>
                    <li class="favorite menu-item">
                        <div class="menu">
                            <a class="menu-hd" style="width: 36px;" href="http://ju.mmstat.com/?url=http://favorite.neighboronline.com/collect_list-1-.htm?ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=1501036000a02c5c3739&amp;scjjc=c1"
                                target="_top" rel="nofollow" tabindex="0" aria-haspopup="menu-6" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">
                                收藏夹<b></b></a>
                            <div class="menu-bd" style="width: 82px; height: 73px; line-height: 1.7;" role="menu"
                                aria-hidden="true" id="menu-6">
                                <div class="menu-bd-panel" style="padding: 8px 10px;">
                                    <div>
                                        <a href="http://favorite.neighboronline.com/collect_list.htm?itemtype=1" target="_top" rel="nofollow">
                                            收藏的宝贝</a> <a href="http://favorite.neighboronline.com/collect_list.htm?itemtype=0" target="_top"
                                                rel="nofollow">收藏的店铺</a> <a href="http://favorite.neighboronline.com/hot_collect_list.htm?entrance=home"
                                                    target="_top" rel="nofollow">热门收藏</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="services menu-item last">
                        <div id="J_Service" class="menu">
                            <a class="menu-hd" href="http://www.neighboronline.com/sitemap.php?id=sitemap2" target="_top"
                                tabindex="0" aria-haspopup="J_ServicesContainer" aria-label="右键弹出菜单，tab键导航，esc关闭当前菜单">
                                网站导航<b></b></a>
                            <div id="J_ServicesContainer" class="menu-bd" style="width: 202px; width: 210px\9;
                                _width: 202px; height: 337px;" role="menu" aria-hidden="true">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- system-announce -->
        <!-- end vmc 3.1 -->
        <script>
            TB.Global.init();
        </script>
        <div id="header">
            <div id="comm-header">
                <div id="comm-header-inner">
                    <h1 id="logo">
                        <a href="http://www.neighboronline.com" class="logo" target="_top" title="邻居在线网">邻居在线网<span class="i"></span></a>
                    </h1>
                    <div class="wrap-box">
                        <div id="J_TSearch" class="tsearch tsearch-lite">
                            <div id="J_TSearchTabs" class="tsearch-tabs">
                                <ul>
                                    <li class="tsearch-tabs-active"><a target="_self" href="http://list.neighboronline.com/browse/cat-0.htm?spm=a1z0d.1.0.36.64JYwG"
                                        data-spm-anchor-id="a1z0d.1.0.36">宝贝</a><s class="rc-tp-l"></s><s class="rc-tp-r"></s></li>
                                    <li class=""><a target="_self" href="http://search1.neighboronline.com/browse/browse_shop.htm?spm=a1z0d.1.0.37.64JYwG"
                                        data-spm-anchor-id="a1z0d.1.0.37">店铺</a><s class="rc-tp-l"></s><s class="rc-tp-r"></s></li>
                                </ul>
                            </div>
                            <div class="tsearch-panel">
                                <form id="J_TSearchForm" action="http://s.neighboronline.com/search" name="search" target="_top">
                                <div class="tsearch-panel-fields ">
                                    <label for="q" class="">
                                        输入您想要的宝贝</label>
                                    <input name="q" id="q" autocomplete="off" accesskey="s">
                                    <s class="rc-tp-l"></s><s class="rc-bt-l"></s><s class="tsearch-panel-fields-shadow">
                                    </s>
                                </div>
                                <button type="submit">
                                    搜索</button>
                                <input type="hidden" name="commend" value="all">
                                <input type="hidden" name="ssid" value="s5-e">
                                <input type="hidden" name="search_type" value="item">
                                <input type="hidden" name="atype" value="">
                                <input type="hidden" name="filterFineness" value="">
                                <input type="hidden" name="initiative_id" value="cartz_20130503"></form>
                                <s class="rc-tp-l"></s><s class="rc-tp-r"></s><s class="rc-bt-l"></s><s class="rc-bt-r">
                                </s>
                            </div>
                        </div>
                        <style>
                            #logo
                            {
                                padding-top: 26px;
                                padding-bottom: 12px;
                            }
                            #header .wrap-box
                            {
                                margin-top: -67px;
                            }
                        </style>
                        <!--tsearch end from vmcommon-->
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="grid-c">
            <div class="flow-steps">
                <ol class="num5">
                    <li class="current"><span class="first">1. 查看购物车</span></li><li><span>2. 确认订单信息</span></li><li>
                        <span>3. 付款到支付宝</span></li><li><span>4. 确认收货</span></li><li class="last"><span>5. 评价</span></li>
                </ol>
            </div>
            <div id="J_UserBanner" style="width: 990px; height: 60px; overflow: hidden; display: none">
            </div>
            <script type="text/javascript">
                (function (S) {
                    var buyerLevel = S.one('#J_BuyerLevel') ? S.one('#J_BuyerLevel').val() : '';
                    S.all('#J_UserBanner a').each(function (el) {
                        if (S.one(el).attr('data-grade') == buyerLevel) {
                            S.one(el).show();
                            S.one('#J_UserBanner').show();
                        }
                    });
                })(KISSY);
            </script>
            <div id="cart">
                <div class="status-wrapper">
                    <div id="J_StatusBarTips" class="status-bar-tips" style="display: none;">
                        <div class="content">
                            <span class="icon-warn"></span><span class="text J_MostText" style="display: none;">
                                您的购物车快满了，您可以购买、删除购物车内的宝贝，或将暂时不购买的宝贝移入收藏夹！</span> <span class="text J_FullText" style="display: none;">
                                    您的购物车已满，您可以购买、删除购物车内的宝贝，或将暂时不购买的宝贝移入收藏夹！</span> <span class="extra-op J_StatusTipsExtraOp">
                                        您还可以将一个月前的商品<a href="javascript:void(0);" class="J_DelItemsOneMonthAgo J_MakePoint"
                                            data-point-url="http://log.mmstat.com/tbcart.1.53?cache=9946658">全部删除</a>或<a href="javascript:void(0);"
                                                data-point-url="http://log.mmstat.com/tbcart.1.54?cache=7563412" class="J_FavItemsOneMonthAgo J_MakePoint">全部移入收藏夹</a>！</span>
                        </div>
                        <a href="javascript:void(0);" class="close J_CloseStatusTips">关闭</a> <span class="arrow">
                            <span class="arrow-inner"></span></span>
                    </div>
                    <div class="status-bar" id="status-bar" data-total="50" data-limit="45">
                        <div class="J_StatusContent">
                            <div class="box">
                                <div class="box-status" id="J_StatusInStatusBox">
                                    购物车状态：
                                    <div class="bar clearfix">
                                        <div class="normal" title="正常宝贝" style="width: 3px;">
                                        </div>
                                        <div class="disable" title="临时失效宝贝" style="display: none;">
                                        </div>
                                        <div class="invalid" title="永久失效宝贝" style="display: none;">
                                        </div>
                                    </div>
                                    <span class="num"><span class="J_TotalNum">1</span>/50</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="J_Choose" class="choose">
                        <a href="#" id="J_UndoDel" class="undo-del hidden" data-api="/undelete_cart_items.htm?shop_id=0">
                            撤销删除</a>
                        <div class="total-fee">
                            <div id="J_SmallGo" data-spm="1000632" class="box-shadow btn-small-go">
                                结 算</div>
                            <span class="total-fee-info g_price">商品总价(不含运费)：<span>¥</span><em id="J_Total2" class="total2">769.00</em></span>
                        </div>
                    </div>
                </div>
                <span class="text undo-text J_UndoText">撤销删除失败，您的购物车已经满了，请点击"收藏"将其中部分宝贝移至收藏夹，然后再进行撤销删除。</span>
                <table cellspacing="0" cellpadding="0" class="order-table" id="J_CartEnable" data-spm="1000638"
                    data-spm-max-idx="11">
                    <colgroup valign="middle">
                        <col width="62">
                        <col>
                        <col width="70">
                        <col width="70">
                        <col width="100">
                        <col width="105">
                        <col width="116">
                        <col width="56">
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="s-chk">
                                <label for="J_SelectAll">
                                    <input type="checkbox" id="J_SelectAll" checked="">全选</label>
                            </th>
                            <th class="s-title">
                                店铺宝贝
                            </th>
                            <th class="s-point">
                                商城积分
                            </th>
                            <th class="s-price">
                                单价(元)
                            </th>
                            <th class="s-amount">
                                数量
                            </th>
                            <th class="s-agio">
                                优惠
                            </th>
                            <th class="s-total">
                                小计(元)
                            </th>
                            <th class="s-del">
                            </th>
                        </tr>
                    </thead>
                    <tbody data-shopid="890482188" class="J_Order">
                        <tr class="J_ItemHead shop">
                            <td colspan="4">
                                <input type="checkbox" checked="" name="" class="J_forShop">
                                &nbsp;店铺：<a href="http://store.neighboronline.com/shop/view_shop.htm?spm=a1z0d.1.1000638.1.64JYwG&amp;shop_id=71955116"
                                    target="_blank" title="NIKE官方旗舰店" data-spm-anchor-id="a1z0d.1.1000638.1">NIKE官方旗舰店</a>
                                <em class="icon" style="background: none">
                                    <img src="http://img02.neighboronlinecdn.com/tps/i2/T1F9jSXlXjXXb.cabb-23-18.png"></em>
                                <span class="seller">卖家：<a href="http://member1.neighboronline.com/member/user_profile.jhtml?spm=a1z0d.1.1000638.2.64JYwG&amp;user_id=54e6f94343b5d2d647fdde8a93634496"
                                    target="_blank" data-spm-anchor-id="a1z0d.1.1000638.2">nike官方旗舰店</a> </span>
                                <span class="ww-light ww-large" data-items="17579720278" data-nick="nike官方旗舰店" data-display="inline">
                                    <a href="http://www.neighboronline.com/webww/?spm=a1z0d.1.1000638.3.64JYwG&amp;ver=1&amp;&amp;touid=cnneighboronlinenike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97&amp;siteid=cnneighboronline&amp;status=2&amp;portalId=&amp;gid=&amp;itemsId="
                                        target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。"
                                        data-spm-anchor-id="a1z0d.1.1000638.3"><span>旺旺在线</span></a></span>
                            </td>
                            <td colspan="4" class="promo-info">
                            </td>
                        </tr>
                        <tr data-cartid="27740303030" data-itemid="17579720278" data-skuid="22016895152"
                            class="J_ItemBody uncod xcard selected ">
                            <td class="s-chk">
                                <input type="checkbox" class="J_CheckBoxItem " name="cartIds" value="27740303030"
                                    checked="checked">
                            </td>
                            <td class="s-title">
                                <a href="http://item.neighboronline.com/item.htm?spm=a1z0d.1.1000638.4.64JYwG&amp;id=17579720278"
                                    target="_blank" data-spm-anchor-id="a1z0d.1.1000638.4"><span class="small2big-text">
                                        查看大图</span>
                                    <img src="http://img01.neighboronlinecdn.com/bao/uploaded/i1/890482188/T2IcdqXgxNXXXXXXXX_!!890482188.png_60x60.jpg"
                                        class="itempic">
                                    Nike 耐克官方 AIR FORCE 1 '07 LE 空军一号男子运动鞋 315122 </a><span title="支持信用卡支付" class="xcard-icon">
                                    </span>
                                <div class="props">
                                    <span>颜色分类: 白/白 </span><span>鞋尺码: 39/6.5 </span>
                                </div>
                                <div class="extra-props clearfix">
                                    <div class="xb">
                                        <span>保障: </span><a class="xb-return" href="http://www.neighboronline.com/go/act/315/xbqt090304.php?spm=a1z0d.1.1000638.5.64JYwG&amp;ad_id=&amp;am_id=130011831021c2f3caab&amp;cm_id=&amp;pm_id="
                                            title="消费者保障服务，卖家承诺7天退换" target="_blank" data-spm-anchor-id="a1z0d.1.1000638.5">
                                            7天退换</a> <a class="xb-truth" href="http://www.neighboronline.com/go/act/315/xfzbz_rsms.php?spm=a1z0d.1.1000638.6.64JYwG&amp;ad_id=&amp;am_id=130011830696bce9eda3&amp;cm_id=&amp;pm_id="
                                                title="消费者保障服务，卖家承诺如实描述" target="_blank" data-spm-anchor-id="a1z0d.1.1000638.6">
                                            </a><a class="xb-auth" title="消费者保障服务，卖家承诺假一赔三" target="_blank" href="http://www.neighboronline.com/go/act/315/xfzbz_jyps.php?spm=a1z0d.1.1000638.7.64JYwG&amp;ad_id=&amp;am_id=1300118304240d56fca9&amp;cm_id=&amp;pm_id="
                                                data-spm-anchor-id="a1z0d.1.1000638.7">假一赔三</a>
                                    </div>
                                </div>
                            </td>
                            <td class="s-point">
                                <em tabindex="0">384</em>
                            </td>
                            <td class="s-price  ">
                                <em class="J_Price" tabindex="0">769.00</em>
                            </td>
                            <td class="s-amount ">
                                <input type="text" value="2" class="text text-amount" data-max="6" data-stock="6" data-now="1" autocomplete="off">
                            </td>
                            <td class="s-agio">
                                -
                            </td>
                            <td class="s-total">
                                <em tabindex="0">769.00</em>
                            </td>
                            <td class="s-del">
                                <a title="移至收藏夹" class="fav" href="#" data-spm-anchor-id="a1z0d.1.1000638.10">移入收藏夹</a>
                                <a href="javascript:;" class="J_Del" data-spm-anchor-id="a1z0d.1.1000638.11">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="position: relative;">
                    <div id="float-bar" class="float-bar default clearfix" style="position: static;">
                        <span class="select-all mg-left">
                            <input type="checkbox" id="floatBarSelectAll" data-point-url="http://log.mmstat.com/tbcart.1.3"
                                checked="checked">
                            <label for="floatBarSelectAll">
                                全选</label></span> <span tabindex="0" data-spm="1000639" class="del-items mg-left"
                                    title="批量删除" id="J_DelSelect">批量删除</span> <span tabindex="0" data-spm="1000640" class="del-invalid mg-left"
                                        title="清除失效宝贝" id="J_DelInvaid" style="display: none;">清除失效宝贝</span>
                        <span tabindex="0" class="fav-selected mg-left" title="批量移入收藏夹" id="J_FavSelected">批量移入收藏夹</span>
                        <div id="J_FavSelectTips" style="display: none;" class="msg mg-left">
                        </div>
                        <div id="J_CleanInvlid" class="msg" style="display: none; position: absolute; left: 180px;
                            top: 5px;">
                        </div>
                        <div id="J_UncodNumMessage" class="kd-popup uncod-msg hidden">
                            <div class="box">
                                <div class="bd">
                                    有<span class="J_UncodNum uncod-num"></span>种宝贝因不支持货到付款从结果中移除。
                                </div>
                                <a href="" title="" class="close"><span>关闭</span></a>
                            </div>
                            <i class="bottom"></i>
                        </div>
                        <button class="btn" data-spm="1000641" type="button" id="J_Go" data-addfastbuy="true">
                            结 算
                        </button>
                        <span class="total-price g_price">商品总价(不含运费)：<span>¥</span><em class="total" id="J_Total"
                            tabindex="0">769.00</em></span> <i class="goto" data-spm="1000643" title="返回顶部" style="display: none;">
                            </i>
                    </div>
                </div>
            </div>
            <div id="empty" class="hidden">
                <div class="status-bar" id="status-bar" data-total="50" data-limit="45">
                    <div class="hd">
                        <a href="#" id="J_UndoDel" class="undo-del hidden" data-api="/undelete_cart_items.htm?shop_id=0">
                            撤销删除</a>
                    </div>
                    <div class="J_StatusContent" style="float: left;">
                        <div class="box" style="float: left;">
                            <div class="box-status" id="J_StatusInStatusBox">
                                购物车状态：
                                <div class="bar clearfix">
                                    <div class="normal" title="正常宝贝">
                                    </div>
                                    <div class="disable" title="临时失效宝贝">
                                    </div>
                                    <div class="invalid" title="永久失效宝贝">
                                    </div>
                                </div>
                                <span class="num"><span class="J_TotalNum"></span>0/50</span> <span class="text J_MostText">
                                    请及时清理、收藏宝贝，以免影响购物体验。</span> <span class="text J_FullText">请及时清理、收藏宝贝，以免影响购物体验。</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h2>
                    您的购物车还是空的，赶紧行动吧！您可以：</h2>
                <ul>
                    <li>马上去 <a href="http://ju.atpanel.com/?url=http://love.neighboronline.com/guang/index.htm?&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15010035269f8e393dca"
                        target="_blank">看黄钻买家正在买什么</a> </li>
                    <li>看看 <a href="http://trade.neighboronline.com/trade/itemlist/list_bought_items.htm" target="_blank">
                        已买到的宝贝</a></li>
                </ul>
            </div>
            <div id="interested">
                <h3>
                    您可能感兴趣的宝贝…</h3>
                <a href="#" class="J_ClearBrowse clear" style="display: none;">清空</a>
                <div class="con" id="J_Auctions">
                    <ul class="tabs" role="tablist">
                        <li id="J_FavTab" class="J_Triggers" role="tab" tabindex="-1"><a href="#" oritabindex="0"
                            tabindex="-1"><span>最近收藏的</span></a></li>
                        <li class="J_Triggers current" role="tab" tabindex="0" id="ks-switchable36"><a href="#"
                            oritabindex="0" tabindex="0"><span>最近浏览过的</span></a></li>
                        <li class="J_Triggers" role="tab" tabindex="-1" id="ks-switchable37"><a href="#"
                            oritabindex="0" tabindex="-1"><span>猜你喜欢的</span></a></li>
                    </ul>
                    <div data-spm="1000646" class="pannel J_Panel" id="J_FavPannel" role="tabpanel" aria-hidden="true"
                        aria-labelledby="J_FavTab" style="display: none;">
                        <ul>
                            <li><a href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=17579720278&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                target="_blank" class="pic">
                                <img src="http://img02.neighboronlinecdn.com/bao/uploaded/i2/T1QF2hXcXhXXc3oHo6_061002.jpg_160x160.jpg"></a><a
                                    href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=17579720278&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                    target="_blank" class="desc">Nike 耐克官方 AIR FORCE 1 \'07 LE 空军一号男子运动鞋 315122</a><span
                                        class="price g_price"><span>¥</span>769</span></li><li><a href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=2644174924&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                            target="_blank" class="pic">
                                            <img src="http://img01.neighboronlinecdn.com/bao/uploaded/i1/T1gjtyXhRoXXaeH.Z9_105128.jpg_160x160.jpg"></a><a
                                                href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=2644174924&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                                target="_blank" class="desc">外贸woofbags 手提单肩包斜挎包 男 12-14寸笔记本电脑包【小号】</a><span class="price g_price"><span>¥</span>388</span></li><li>
                                                    <a href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=3348289956&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                                        target="_blank" class="pic">
                                                        <img src="http://img06.neighboronlinecdn.com/bao/uploaded/i6/T1fCVnXkplXXX8VLs4_052634.jpg_160x160.jpg"></a><a
                                                            href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=3348289956&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                                            target="_blank" class="desc">Kappa/背靠背*官方正品*LOGO系列*双肩包|K8092BS049-833</a><span class="price g_price"><span>¥</span>118</span></li><li>
                                                                <a href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=3207142613&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                                                    target="_blank" class="pic">
                                                                    <img src="http://img05.neighboronlinecdn.com/bao/uploaded/i5/T13bXlXiamFdOZjS3S_010200.jpg_160x160.jpg"></a><a
                                                                        href="http://ju.atpanel.com/?url=http://item.neighboronline.com/item.htm?id=3207142613&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15001250084ca92e6beb"
                                                                        target="_blank" class="desc">货币战争1+2全集 宋鸿兵 著</a><span class="price g_price"><span>¥</span>8</span></li></ul>
                        <a class="gotomyfav" href="http://favorite.neighboronline.com/collect_list.htm?scjjc=d2">去我的收藏夹
                            &gt;&gt;</a></div>
                    <div data-spm="1000647" class="pannel J_Panel" style="display: block;" role="tabpanel"
                        aria-hidden="false" aria-labelledby="ks-switchable36">
                        <p class="tip-nodata tip">
                            暂无最近浏览过的宝贝</p>
                    </div>
                    <div data-spm="1000648" class="J_Panel" style="display: none;" role="tabpanel" aria-hidden="true"
                        aria-labelledby="ks-switchable37">
                        <div id="p4p-block" class="p4p-box box p4p-default-theme" style="display: block;">
                            <ul style="" class="p4p-list imgsize4">
                                <li class="first" style="width: 19.96%">
                                    <div class="image" style="width: 160px;">
                                        <a style="width: 160px; height: 160px;" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=268&amp;e=zkkAX7BQ6vAhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHLeHbM7nksF%2FTdUqv3cdjpAe2ZdWQHpgI4j5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk79tDKer6sQ8eIJ%2BVJVyFqOeIiYytsxuQuPLunN9teLTorZNXwD%2FBmCvEkMk0eu9xp6GqMG0F%2F42OUBmbXh32n%2B1VRdw5z74A7g9VLD6TT2uM%3D"
                                            title="买3送1女童装儿童打底衫中大童短袖T恤" target="_blank"><b></b><span>
                                                <img src="http://img03.neighboronlinecdn.com/bao/uploaded/i3/96677799/T20ofTXbVaXXXXXXXX_!!96677799.jpg_160x160.jpg"
                                                    alt="买3送1女童装儿童打底衫中大童短袖T恤"></span></a></div>
                                    <a title="买3送1女童装儿童打底衫中大童短袖T恤" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=268&amp;e=zkkAX7BQ6vAhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHLeHbM7nksF%2FTdUqv3cdjpAe2ZdWQHpgI4j5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk79tDKer6sQ8eIJ%2BVJVyFqOeIiYytsxuQuPLunN9teLTorZNXwD%2FBmCvEkMk0eu9xp6GqMG0F%2F42OUBmbXh32n%2B1VRdw5z74A7g9VLD6TT2uM%3D"
                                        target="_blank" style="width: 160px"><span class="title">买3送1女童装儿童打底衫中大童短袖T恤</span></a><span
                                            class="price"><strong>68.00</strong></span></li><li style="width: 19.96%">
                                                <div class="image" style="width: 160px;">
                                                    <a style="width: 160px; height: 160px;" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=280&amp;e=dCNAm0L5VBshug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHK4YMUepmAVKL4MmdYHDqrlOcH1fhvUzO8j5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk7imCG7zPDqJTEyXTQH%2FZsRnBZ3CSmt2gjJQ6EK66UadwsrcHprTNEMl4skiHBC0G6wESBztRtlmp5qejv5GhKx68SrSVuYDxM71eSADYi0NxMt%2FST%2BFzCjA%3D%3D"
                                                        title="包邮 数字万用表正品 带表笔自动量程" target="_blank"><b></b><span>
                                                            <img src="http://img01.neighboronlinecdn.com/bao/uploaded/i1/47163387/T2qGDfXoxaXXXXXXXX_!!47163387.jpg_160x160.jpg"
                                                                alt="包邮 数字万用表正品 带表笔自动量程"></span></a></div>
                                                <a title="包邮 数字万用表正品 带表笔自动量程" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=280&amp;e=dCNAm0L5VBshug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHK4YMUepmAVKL4MmdYHDqrlOcH1fhvUzO8j5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk7imCG7zPDqJTEyXTQH%2FZsRnBZ3CSmt2gjJQ6EK66UadwsrcHprTNEMl4skiHBC0G6wESBztRtlmp5qejv5GhKx68SrSVuYDxM71eSADYi0NxMt%2FST%2BFzCjA%3D%3D"
                                                    target="_blank" style="width: 160px"><span class="title">包邮 数字万用表正品 带表笔自动量程</span></a><span
                                                        class="price"><strong>38.00</strong></span></li><li style="width: 19.96%">
                                                            <div class="image" style="width: 160px;">
                                                                <a style="width: 160px; height: 160px;" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=268&amp;e=rIY7BT1HOvQhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHK8%2BSdZMDvbTO11XzBFOt5ksi4tZkXxSVUj5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk79tDKer6sQ8eIJ%2BVJVyFqOd8WXpBBV1LqMSsXvxMPaunSW2AKmyk9ux6WO4UoEt8%2BawX9KNWKMUtkwYzWdR3ewmHpfD6zBksAllG4c00iKvM%3D"
                                                                    title="仅限今日 夏装女童儿童夏季碎花T恤" target="_blank"><b></b><span>
                                                                        <img src="http://img01.neighboronlinecdn.com/bao/uploaded/i1/16499022487405241/T19LOsXBRbXXXXXXXX_!!0-item_pic.jpg_160x160.jpg"
                                                                            alt="仅限今日 夏装女童儿童夏季碎花T恤"></span></a></div>
                                                            <a title="仅限今日 夏装女童儿童夏季碎花T恤" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=268&amp;e=rIY7BT1HOvQhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHK8%2BSdZMDvbTO11XzBFOt5ksi4tZkXxSVUj5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk79tDKer6sQ8eIJ%2BVJVyFqOd8WXpBBV1LqMSsXvxMPaunSW2AKmyk9ux6WO4UoEt8%2BawX9KNWKMUtkwYzWdR3ewmHpfD6zBksAllG4c00iKvM%3D"
                                                                target="_blank" style="width: 160px"><span class="title">仅限今日 夏装女童儿童夏季碎花T恤</span></a><span
                                                                    class="price"><strong>49.00</strong></span></li><li style="width: 19.96%">
                                                                        <div class="image" style="width: 160px;">
                                                                            <a style="width: 160px; height: 160px;" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=280&amp;e=G0yng%2BhJyOAhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHLv6ZfYAmI9lvoLl7W6FvgQ50txbn29OrAj5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk7B5dGezwIvKvfBiePSIbjLIUs2%2BSFa7qqcF%2Bk98pzk8YYDNKQX1ojLFSqYeJrnPxcGDshPIw0ovwujM1mO9XV%2FVz%2Bg3F%2FDMdMrl22eyqdUQ8tGymJPp0d5g%3D%3D"
                                                                                title="正品保障  耐克纯棉夏季男水洗七分裤" target="_blank"><b></b><span>
                                                                                    <img src="http://img03.neighboronlinecdn.com/bao/uploaded/i3/11659020376594877/T1iHhrXqliXXXXXXXX_!!0-item_pic.jpg_160x160.jpg"
                                                                                        alt="正品保障  耐克纯棉夏季男水洗七分裤"></span></a></div>
                                                                        <a title="正品保障  耐克纯棉夏季男水洗七分裤" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=280&amp;e=G0yng%2BhJyOAhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHLv6ZfYAmI9lvoLl7W6FvgQ50txbn29OrAj5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk7B5dGezwIvKvfBiePSIbjLIUs2%2BSFa7qqcF%2Bk98pzk8YYDNKQX1ojLFSqYeJrnPxcGDshPIw0ovwujM1mO9XV%2FVz%2Bg3F%2FDMdMrl22eyqdUQ8tGymJPp0d5g%3D%3D"
                                                                            target="_blank" style="width: 160px"><span class="title">正品保障 耐克纯棉夏季男水洗七分裤</span></a><span
                                                                                class="price"><strong>238.00</strong></span></li><li style="width: 19.96%">
                                                                                    <div class="image" style="width: 160px;">
                                                                                        <a style="width: 160px; height: 160px;" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=280&amp;e=bSdRxC%2FSFlIhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHI%2BJDIArJNn3RxyPedL478ZQ3SzHLCTulQj5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk7imCG7zPDqJTEyXTQH%2FZsRnBZ3CSmt2gjnvwT5R5ORK%2BRDd5ZC98A539gASyqQyYRIKmanHupozf49EtTLQYeMtEXkSfFppFBgKkGYidYKdvSrjLUcELWTg%3D%3D"
                                                                                            title="数字全防烧万用表 电烙铁套装/万用表套装9" target="_blank"><b></b><span>
                                                                                                <img src="http://img01.neighboronlinecdn.com/bao/uploaded/i1/T1gvziXk0bXXcKi0MY_025804.jpg_160x160.jpg"
                                                                                                    alt="数字全防烧万用表 电烙铁套装/万用表套装9"></span></a></div>
                                                                                    <a title="数字全防烧万用表 电烙铁套装/万用表套装9" href="http://click.simba.neighboronline.com/cc_im?p=&amp;s=125983009&amp;k=280&amp;e=bSdRxC%2FSFlIhug9BzL0BDnsSYrJWVnItnWneD4LrzwqbGizTJh%2FiGiA17ngOppTFGN7XUDJ0bHI%2BJDIArJNn3RxyPedL478ZQ3SzHLCTulQj5RHU54cDUE1lrBgivjIJcrVHUEl1RgFpmsqEVfQkDznvPbRtqRk7imCG7zPDqJTEyXTQH%2FZsRnBZ3CSmt2gjnvwT5R5ORK%2BRDd5ZC98A539gASyqQyYRIKmanHupozf49EtTLQYeMtEXkSfFppFBgKkGYidYKdvSrjLUcELWTg%3D%3D"
                                                                                        target="_blank" style="width: 160px"><span class="title">数字全防烧万用表 电烙铁套装/万用表套装9</span></a><span
                                                                                            class="price"><strong>55.00</strong></span></li></ul>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var p4AsyncTrigger = function () {
                    var doc = document,
                head = doc.head || doc.getElementsByTagName("head")[0],
                node = doc.createElement('script');

                    node.src = 'http://a.tbcdn.cn/p/c2c/ks-express_engine_v2.js';
                    var args = '_container=p4p-block&_pmid=&count=5&catcount=10&pid=420870_1007&refpid=&ip=60.216.17.123&creativeid=&_cols=5&_rows=1&_sclrows=1&_delay=3&_speed=10&_lazyload=&name=tcmad&_theme=&_imageSize=4';
                    node.setAttribute('data-args', args);
                    head.insertBefore(node, head.firstChild);
                }
            </script>
            <input id="_tb_token_" type="hidden" value="1xZ15kalp8m" name="_tb_token_">
            <div id="J_cookieDomain" data-value=".neighboronline.com">
            </div>
            <div id="J_detailServerPath" data-value="http://item.neighboronline.com">
            </div>
            <div id="J_picServerPath" data-value="http://img.neighboronline.com/bao/uploaded">
            </div>
            <script src="http://a.tbcdn.cn/apps/cart/130411/core/core.js"></script>
            <script src="http://a.tbcdn.cn/apps/cartshare/shareplugin/sharePlugin.js"></script>
            <script src="http://a.tbcdn.cn/apps/cart/130411/cart/cart-min.js?t=20130228"></script>
            <script src="http://a.tbcdn.cn/p/snsdk/core.js"></script>
            <script src="http://a.tbcdn.cn/p/et/et.js"></script>
            <script>
                (function (S) {
                    S.Cart.setTimeStamp('130411', 'http://a.tbcdn.cn/', '120821');

                    S.use('cart/cart, dom, event', function (S, Cart, DOM, E) {
                        new Cart({
                            api: {
                                loginAPI: '',
                                goAPI: 'http://buy.neighboronline.com/auction/order/confirm_order.htm',
                                fastbuyAPI: 'http://buy.neighboronline.com/auction/fastbuy/fast_buy.htm',
                                save: 'http://cart.neighboronline.com/update_cart_quantity.htm',
                                serviceAPI: 'http://cart.neighboronline.com/async_get_service.htm?division_code=0',
                                tmallGoAPI: 'http://buy.tmall.com/order/confirm_order.htm',
                                favoriteAPI: 'http://favorite.neighboronline.com/json/add_collection_for_cart.htm',
                                favoriteListAPI: 'http://favorite.neighboronline.com/collect_list_for_im_json.htm?size=5',
                                likeAPI: 'http://tui.neighboronline.com/api/item?ext=17579720278&p=u&csk=scart_guesslike&from=shopcart_guesslike&count=5&pid=&f=jp',
                                delTmallSpecialAPI: 'http://cart.neighboronline.com/delete_tmall_special_item.htm',
                                shareAPI: 'http://cart.neighboronline.com/share/createShareList.htm?from=cart&_tb_token_=1xZ15kalp8m'
                            },
                            status: {
                                normalNum: 1,
                                disableNum: 0
                            },
                            shopId: '0',
                            feedbackId: 75,
                            userId: '',
                            serviceData: {
                            }
                        });

                        //hide sidebar
                        E.on(window, 'resize', function () {
                            if (DOM.viewportWidth() <= 1060) {
                                S.one('#immediate-help-trigger') && S.one('#immediate-help-trigger').hide();
                                S.one('#J_Feedback') && S.one('#J_Feedback').hide();
                            }
                        });
                    });
                })(KISSY);
            </script>
        </div>
        <!-- from vmcommon -->
        <div id="footer">
            <!-- c2c_column start -->
            <div class="c2c_column clearfix">
                <a href="http://www.neighboronline.com/go/act/315/xb_20100707.php?spm=1.41461.135395.1&amp;ad_id=&amp;am_id=1300268931aef04f0cdc&amp;cm_id=&amp;pm_id=#rushi"
                    target="_blank" class="cp_logo">
                    <img src="http://img04.neighboronlinecdn.com/tps/i4/T1FqRVXo4JXXXXXXXX.png" alt="消费者保障"></a>
                <dl class="ensure">
                    <dt><em>消费者保障</em></dt>
                    <dd>
                        <ul>
                            <li><a href="http://www.neighboronline.com/go/act/315/xb_20100707.php?spm=1.41461.135395.2&amp;ad_id=&amp;am_id=1300268931aef04f0cdc&amp;cm_id=&amp;pm_id=#rushi"
                                target="_blank">保障范围</a></li>
                            <li><a href="http://service.neighboronline.com/support/knowledge-1119776.htm?spm=1.41461.135395.3"
                                target="_blank">退货退款流程</a></li>
                            <li><a href="http://315.neighboronline.com/?spm=1.41461.135395.4" target="_blank">消费警示</a></li>
                            <li><a href="http://support.neighboronline.com/myservice/rights/right_main.htm?spm=1.41461.135395.5"
                                target="_blank">我要发起维权</a></li>
                            <li><a href="http://www.neighboronline.com/go/act/315/xb_20100707.php?spm=1.41461.135395.6&amp;ad_id=&amp;am_id=1300268931aef04f0cdc&amp;cm_id=&amp;pm_id=#rushi"
                                target="_blank">更多特色服务</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="newbie">
                    <dt><em>新手上路</em></dt>
                    <dd>
                        <ul>
                            <li><a href="http://www.neighboronline.com/help/buy_step1_01.html?spm=1.41461.135395.7" target="_blank">
                                新手学堂</a></li>
                            <li><a href="http://member1.neighboronline.com/member/new_register.jhtml?spm=1.41461.135395.8&amp;from=&amp;ex_info=&amp;ex_sign="
                                target="_blank">新手注册</a></li>
                            <li><a href="http://www.neighboronline.com/go/chn/rookie/index.php?spm=1.41461.135395.9"
                                target="_blank">新手体验专区</a></li>
                            <li><a href="http://trust.neighboronline.com/?spm=1.41461.135395.10" target="_blank">交易安全</a></li>
                            <li><a href="http://service.neighboronline.com/support/minerva/robot_main.htm?spm=1.41461.135395.11&amp;sourceId=113&amp;businessId=100&amp;moduleGroupId=neighboronlinecrm"
                                target="_blank">24小时在线帮助</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="payment">
                    <dt><em>付款方式</em></dt>
                    <dd>
                        <ul>
                            <li><a href="http://home.alipay.com/bank/paymentKJ.htm" target="_blank">支付宝快捷支付</a></li>
                            <li><a href="http://home.alipay.com/bank/paymentAccount.htm" target="_blank">支付宝余额付款</a></li>
                            <li><a href="http://home.alipay.com/bank/paymentAlipayCard.htm" target="_blank">支付宝卡付款</a></li>
                            <li><a href="http://cod.neighboronline.com/?spm=1.41461.135395.15" target="_blank">货到付款</a></li>
                            <li><a href="http://abc.alipay.com/cool/fastPayment.htm" target="_blank">新人支付</a></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="recommend">
                    <dt><em>特色市场推荐</em></dt>
                    <dd>
                        <ul>
                            <li><a target="_blank" href="http://love.neighboronline.com/?spm=1.41461.135395.17">我要买</a><span>发现
                                分享 购物</span></li>
                            <li><a target="_blank" href="http://jie.neighboronline.com/?spm=1.41461.135395.18">店铺街</a><span>轻轻松松找好店</span></li>
                            <li><a target="_blank" href="http://global.neighboronline.com/?spm=1.41461.135395.19">全球购</a><span>100%海外精品</span></li>
                            <li><a target="_blank" href="http://nvzhuang.neighboronline.com/market/nvzhuang/indextest.php?spm=1.41461.135395.20">
                                女装市场</a><span>各色女装集散地</span></li>
                            <li><a target="_blank" href="http://ju.atpanel.com/?url=http://list.neighboronline.com/browse/cat-0.htm?spm=1.41461.135395.21&amp;id=woyaomai&amp;ad_id=&amp;am_id=&amp;cm_id=&amp;pm_id=15004366061cf57b9b72">
                                更多特色市场</a><span></span></li>
                        </ul>
                    </dd>
                </dl>
            </div>
            <!-- c2c_column end -->
            <div class="g_foot">
                <div class="g_foot-ali">
                    <a href=" ">邻居在线集团</a>
                    <b>|</b> <a href="javascript:void(0)" target="_self" class="g_foot-nohover">邻居在线网络：</a>
                    <a href="http://localhost:7525/index.html ">国际站</a> <a href="http://localhost:7525/index.html">中文站</a>
                    <a href="http://mai.aliexpress.com/">全球速卖通</a> <b>|</b> <a href="http://localhost:7525/index.html">
                        邻居在线网</a> <b>|</b> <a href="http://localhost:7525/index.html">邻居在线</a> <b>|</b> <a href="http://www.etao.com/">
                            一淘</a> <b>|</b> <a href="http://localhost:7525/index.html">邻居在线</a> <b>|</b> <a href="http://www.yahoo.com.cn/">
                                中国雅虎</a> <b>|</b> <a href="http://www.alipay.com/">支付宝</a> <b>|</b>
                    <a href="邻居在线">邻居通</a> <b>|</b> <span class="footer-more" id="J_FooterMore">
                        <span class="footer-more-panel"><a href="http://localhost:7525/index.html">邻居研究</a><br>
                            <a href="http://localhost:7525/index.html">邻居会展</a><br>
                            <a href="http://localhost:7525/index.html">邻居网</a><br>
                        </span><a href="javascript:void(0);" target="_self" class="footer-more-trigger">更多 <s
                            class="arrow arrow-d"></s></a></span>
                </div>
                <div class="g_foot-nav">
                    <a href=" ">关于邻居在线</a> <a href=" ">
                        合作伙伴</a> <a href=" ">营销中心</a> <a href=" ">
                            联系客服</a> <a href=" ">开放平台</a> <a href=" ">
                                诚征英才</a> <a href=" ">联系我们</a>
                    <a href=" ">网站地图</a> <a href="">
                        法律声明</a> <span>© 2013 Taobao.com 版权所有</span>
                </div>
                <span class="g_foot-toy"></span><span class="g_foot-line"></span>
            </div>
            <script>
                // hover effect for ie6
                (function () {

                    if (-[1, ]) return;

                    var ie6FootHover = document.getElementById("J_FooterMore");

                    ie6FootHover.onmouseenter = function () {
                        this.className += " footer-more-hover";
                    }
                    ie6FootHover.onmouseleave = function () {
                        this.className = this.className.replace(new RegExp(" footer-more-hover\\b"), "");
                    }
                })();


            </script>
            <div id="server-num">
                cart187114.cm4</div>
        </div>
        <!-- end vmcommon -->
    </div>
    <script type="text/javascript">
        /*
        * param page 埋点所需的该页面标记
        * param formId 该input插入的表单id
        */
        (function (page, formId) {
            var input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "initiative_id");
            function retDate() {
                var now = new Date();
                var month = now.getMonth() + 1;
                if (month < 10) month = "0" + month;
                var date = now.getDate();
                if (date < 10) date = "0" + date;
                return [now.getFullYear(), month, date].join("");
            }
            input.value = page + "_" + retDate();
            var form = document.getElementById(formId);
            if (form) form.appendChild(input);
        })("cartz", "J_TSearchForm"); //这里传参,可接受两个参数
    </script>
    <style type="text/css">
        body .feedback
        {
            right: 5px;
        }
    </style>
    <script src="http://a.tbcdn.cn/apps/support/robot/js/minerva_ask_V2.js?t=1353462243257"></script>
    <script>
        MINERVA_POPUP_URL = 'http://service.neighboronline.com/support/minerva/beta_robot_main.htm?sourceId=12120005';
    </script>
    <div id="immediate-help-trigger">
        <a target="_blank" href="http://service.neighboronline.com/support/minerva/beta_robot_main.htm?sourceId=12120005&amp;sURL=http%3A%2F%2Fcart.neighboronline.com%2Fmy_cart.htm%3Fspm%3Da1z0k.1000775.0.279.sZVjQz"
            title="即时帮助"></a>
    </div>
@*    <div id="J_Feedback" class="feedback J_Feedback" style="margin-top: -42px;">
        <span><a href="http://ur.neighboronline.com/survey/view.htm?id=75" target="_blank">给购物车提建议</a><s></s></span></div>*@
</body>
</html>
