.ui-page{height:60px;margin:10px 0 50px 0;color:#999;font-size:14px;font-weight:bold;font-family:\5B8B\4F53,Helvetica,sans-serif;}
.ui-page-wrap{float:right;}
.ui-page b{font-weight:normal;}
.ui-page a{color:#2953A6;cursor:pointer;text-decoration:none;}
.ui-page a:hover{background-color:#EFEFEF;text-decoration:underline;}
.ui-page a,.ui-page b{float:left;}
.ui-page-prev,.ui-page-next,.ui-page a,.ui-page-cur,.ui-page-info,.ui-page-skip{height:26px;width:auto;padding:12px 14px 0;}
.ui-page-prev,.ui-page-next,a.ui-page-prev,a.ui-page-next{padding:12px 10px 0;}
.ui-page-prev,.ui-page-next,.ui-page a,.ui-page-cur{border:1px solid #E5E5E5;border-left:0;}
.ui-page-prev{border-left:1px solid #E5E5E5!important;}
.ui-page-cur,b.ui-page-next,b.ui-page-prev{background-color:#EFEFEF;}
.ui-page-break{border-right:1px solid #E5E5E5;padding:0 4px;line-height:40px;font-weight:bold;}
.ui-page-num{padding-top:19px;background:url("http://a.tbcdn.cn/apps/tmall/mui/page/img/page.png") no-repeat right 0;}
.ui-page-skip{margin-top:19px;padding:10px 0 0 10px;}
.ui-page-skipTo{width:32px;height:18px;margin:-2px 2px 0;line-height:20px;font-size:16px;color:#999;text-align:center;vertical-align:middle;border:1px solid #ccc;}
.ui-page-skipBtn{margin:-2px 0 0 2px;}
.ui-page-s{float:right;height:21px;overflow:hidden;color:#999;font-family:\5B8B\4F53,Helvetica,sans-serif;font-size:12px;}
.ui-page-s-len,.ui-page-s-prev,.ui-page-s-next{float:left;display:inline;margin-left:3px;}
.ui-page-s-prev,.ui-page-s-next{width:19px;padding:4px 0 2px;line-height:1;font-weight:bold;font-size:12px;text-align:center;background-color:#fff;border:1px solid #E5E5E5;}
.ui-page-s a{text-decoration:none;color:#2953A6;}
.ui-page-s a:hover{background-color:#efefef;}
.ui-page-s b{background-color:#EFEFEF;}
b.ui-page-s-len{background:none;line-height:20px;font-weight:normal;}
.ui-more-drop-l,.ui-more-expand-l{vertical-align:middle;position:relative;display:inline-block;height:25px;line-height:25px;padding:0 24px 0 0;color:#806f66;}
.ui-more-drop-l-arrow,.ui-more-expand-l-arrow{position:absolute;display:inline-block;top:11px;right:10px;height:5px;line-height:5px;width:9px;overflow:hidden;background:url(http://a.tbcdn.cn/apps/tmall/mui/more/img/more.png) -2px -66px no-repeat;}
.ui-more-expand-l-arrow{background-position:-2px -72px;}
.ui-more-drop-l:hover,.ui-more-expand-l:hover{color:#b10000;text-decoration:none;}
.ui-more-drop-l:hover .ui-more-drop-l-arrow{background-position:-2px -78px;}
.ui-more-expand-l:hover .ui-more-expand-l-arrow{background-position:-2px -84px;}
.ui-btn-search-l{width:97px;height:26px;line-height:26px;text-align:center;display:inline-block;overflow:hidden;border:none;outline:none;color:#fff;cursor:pointer;background:#684e41 url(http://a.tbcdn.cn/apps/tmall/mui/btn/img/btn-search-l.png) no-repeat;}
.ui-btn-search-l:hover,.ui-btn-search-l-hover{text-decoration:none;background-color:#835a35;background-position:0 -26px;}
.ui-btn-search-l:active,.ui-btn-search-l-active{background-color:#7a433b;background-position:0 -52px;}
.ui-btn-search-l:visited,.ui-btn-search-l-selected{background-color:#784239;background-position:0 -78px;}
.ui-btn-s-primary,.ui-btn-m-primary,.ui-btn-l-primary,.ui-btn-s,.ui-btn-m,.ui-btn-l{padding:0 10px;display:inline-block;height:20px;background:url(http://localhost:7525/Images/btn.png) repeat-x;color:#fff;font-size:12px;border:0 none;border-left:1px solid #950b00;border-right:1px solid #950b00;cursor:pointer;outline:none;overflow:visible;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;*zoom:1;}
.ui-btn-s-primary,.ui-btn-m-primary,.ui-btn-l-primary{background-color:#950b00;border-color:#950b00;color:#fff;}
.ui-btn-s,.ui-btn-m,.ui-btn-l{background-color:#ccc;border-color:#ccc;color:#333;}
button.ui-btn-s-primary,button.ui-btn-m-primary,button.ui-btn-l-primary,button.ui-btn-s,button.ui-btn-m,button.ui-btn-l{*border-color:black;*filter:chroma(color=black);}
.ui-btn-s-primary,.ui-btn-s{height:20px;line-height:20px;font-size:12px;font-weight:normal;font-family:\5b8b\4f53;}
.ui-btn-m-primary,.ui-btn-m{height:25px;line-height:25px;font-size:12px;font-weight:bold;}
.ui-btn-l-primary,.ui-btn-l{height:30px;line-height:30px;font-size:14px;font-weight:bold;}
button.ui-btn-s-primary,button.ui-btn-s{height:20px;*height:22px;line-height:17px;}
button.ui-btn-m-primary,button.ui-btn-m{height:25px;*height:27px;line-height:22px;}
button.ui-btn-l-primary,button.ui-btn-l{height:30px;*height:32px;line-height:27px;}
.ui-btn-s-primary{background-position:0 0;}
.ui-btn-s-primary-hover,.ui-btn-s-primary:hover{background-position:0 -20px;}
.ui-btn-s-primary-active,.ui-btn-s-primary:active{background-position:0 -40px;}
.ui-btn-s-primary-selected{background-position:0 -60px;}
.ui-btn-m-primary{background-position:0 -80px;}
.ui-btn-m-primary-hover,.ui-btn-m-primary:hover{background-position:0 -105px;}
.ui-btn-m-primary-active,.ui-btn-m-primary:active{background-position:0 -130px;}
.ui-btn-m-primary-selected{background-position:0 -155px;}
.ui-btn-l-primary{background-position:0 -180px;}
.ui-btn-l-primary-hover,.ui-btn-l-primary:hover{background-position:0 -210px;}
.ui-btn-l-primary-active,.ui-btn-l-primary:active{background-position:0 -240px;}
.ui-btn-l-primary-selected{background-position:0 -270px;}
.ui-btn-s{background-position:0 -300px;}
.ui-btn-s-hover,.ui-btn-s:hover{background-position:0 -320px;}
.ui-btn-s-active,.ui-btn-s:active{background-position:0 -340px;}
.ui-btn-s-selected{background-position:0 -360px;}
.ui-btn-m{background-position:0 -380px;}
.ui-btn-m-hover,.ui-btn-m:hover{background-position:0 -405px;}
.ui-btn-m-active,.ui-btn-m:active{background-position:0 -430px;}
.ui-btn-m-selected{background-position:0 -455px;}
.ui-btn-l{background-position:0 -480px;}
.ui-btn-l-hover,.ui-btn-l:hover{background-position:0 -510px;}
.ui-btn-l-active,.ui-btn-l:active{background-position:0 -540px;}
.ui-btn-l-selected{background-position:0 -570px;}
.ui-btn-s-primary:hover,.ui-btn-m-primary:hover,.ui-btn-l-primary:hover,.ui-btn-s:hover,.ui-btn-m:hover,.ui-btn-l:hover{text-decoration:none;}
.ui-btn-disable{border:1px solid #ccc;background:#f2f2f2;color:#c5c5c5;cursor:default;}
.ui-slide-arrow-l,.ui-slide-arrow-m,.ui-slide-arrow-s,.ui-slide-arrow-mini:hover,.ui-slide-nav-c-l li,.ui-slide-nav-c-l .active,.ui-slide-nav-c-m li,.ui-slide-nav-c-m .active{background:url(http://a.tbcdn.cn/apps/tmall/mui/slide/img/slide.png) no-repeat\9;_background:none;}
.ui-slide-arrow-s{display:inline-block;position:relative;height:14px;width:14px;_overflow:hidden;background-color:#b8b2b1;background-color:transparent\9;background-color:#b8b2b1\9\0;_background-color:#b8b2b1;background-position:-37px -142px;color:#fff;text-align:center;font:bold 11px/15px \5b8b\4f53,Hei;border-radius:8px;-ms-border-radius:9px;-moz-border-radius:9px;-webkit-border-radius:9px;-o-border-radius:9px;-khtml-border-radius:9px;}
.ui-slide-arrow-s:hover{text-decoration:none;background-color:#B91919;background-color:transparent\9;background-color:#B91919\9\0;_background-color:#B91919;background-position:-50px -142px;-moz-transition:background .2s ease-in,color .2s ease-out;-webkit-transition:background .2s ease-in,color .2s ease-out;-o-transition:background .2s ease-in,color .2s ease-out;transition:background .2s ease-in,color .2s ease-out;}
.ui-tab-os-l,.ui-tab-os-s,.ui-tab-ob-l,.ui-tab-ob-s,.ui-tab-cs-l,.ui-tab-cs-s,.ui-tab-cb-l,.ui-tab-cb-s,.ui-tab-cc-s{*zoom:1;padding-left:1px;_padding-left:2px;}
.ui-tab-os-l:after,.ui-tab-os-s:after,.ui-tab-ob-l:after,.ui-tab-ob-s:after,.ui-tab-cs-l:after,.ui-tab-cs-s:after,.ui-tab-cb-l:after,.ui-tab-cb-s:after,.ui-tab-cc-s:after{display:block;height:0;clear:both;content:'';}
.ui-tab-option{float:left;font-size:12px;margin-left:-1px;}
.ui-tab-cur{font-weight:700;margin-bottom:-1px;position:relative;}
.ui-tab-name{display:block;_float:left;color:#333;text-decoration:none;border:1px solid #ccc;background-color:#fff;border-bottom:none;height:23px;line-height:23px;padding:0 15px;cursor:pointer;}
.ui-tab-name:hover{color:#a60000;text-decoration:none;}
.ui-tab-cur .ui-tab-name{border-top-width:2px;}
.ui-tab-os-l{border-bottom:1px solid #a60000;}
.ui-tab-os-l .ui-tab-cur{font-size:14px;}
.ui-tab-os-l .ui-tab-name{height:28px;line-height:28px;padding:0 20px;}
.ui-tab-os-l .ui-tab-cur .ui-tab-name{border-color:#a60000;}
.ui-tab-os-s{border-bottom:1px solid #a60000;}
.ui-tab-os-s .ui-tab-cur .ui-tab-name{border-color:#a60000;}
.ui-tab-ob-l{border-bottom:2px solid #817066;padding-left:0;}
.ui-tab-ob-l .ui-tab-option{margin-right:1px;margin-left:0;}
.ui-tab-ob-l .ui-tab-cur{font-size:14px;}
.ui-tab-ob-l .ui-tab-name{color:#595959;background-color:#eae5e1;border-color:#eae5e1;height:28px;line-height:28px;padding:0 20px;}
.ui-tab-ob-l .ui-tab-name:hover{background-color:#817066;border-color:#817066;color:#fff;}
.ui-tab-ob-l .ui-tab-cur .ui-tab-name{background-color:#817066;border-color:#817066;color:#fff;}
.ui-price-icon{font-family:'arial','verdana',sans-serif!important;font-weight:bold;font-size:14px;}
.ui-price{font-family:'arial','verdana',sans-serif!important;color:#C00;font-weight:bold;font-size:14px;}
.ui-price-original{font-family:'arial','verdana',sans-serif!important;color:#999;font-size:12px;}
.ui-price-plain{font-family:'arial','verdana',sans-serif!important;color:#666;font-size:12px;}
.ui-price-reverse{font-family:'arial','verdana',sans-serif!important;background-color:#C00;color:#fff;font-weight:bold;font-size:14px;}
.ui-loading{background:url(http://a.tbcdn.cn/apps/tmall/mui/loading/img/loading.gif) no-repeat scroll 50% 50%;}
.ui-more-bg{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 28px 0 10px;color:#333;background:#e5e5e5;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-khtml-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;}
.ui-more-bg-arrow{position:absolute;display:inline-block;top:6px;right:10px;height:13px;line-height:13px;width:13px;background:url(http://a.tbcdn.cn/apps/tmall/mui/more/img/more.png) no-repeat;overflow:hidden;}
.ui-more-bg:hover{text-decoration:none;background-color:#b10000;color:#fff;}
.ui-more-bg:hover .ui-more-bg-arrow{background-position:0 -13px;}
.ui-more-nbg{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 28px 0 10px;color:#333;}
.ui-more-nbg-arrow{position:absolute;display:inline-block;top:6px;right:10px;height:13px;line-height:13px;width:13px;background:url(http://a.tbcdn.cn/apps/tmall/mui/more/img/more.png) 0 -26px no-repeat;}
.ui-more-nbg:hover{text-decoration:underline;color:#b10000;}
.ui-more-nbg:hover .ui-more-nbg-arrow{background-position:0 -39px;}
.ui-more-wb{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 28px 0 10px;background:#333;color:#fff;}
.ui-more-wb-arrow{position:absolute;display:inline-block;top:6px;right:10px;height:13px;line-height:13px;width:13px;background:url(http://a.tbcdn.cn/apps/tmall/mui/more/img/more.png) 0 -52px no-repeat;}
.ui-more-wb:hover{text-decoration:underline;}
.ui-more-drop-l,.ui-more-expand-l{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 24px 0 0;color:#806F66;}
.ui-more-drop-l-arrow,.ui-more-expand-l-arrow{position:absolute;display:inline-block;top:10px;right:10px;height:5px;line-height:5px;width:9px;background:url(http://a.tbcdn.cn/apps/tmall/mui/more/img/more.png) -2px -66px no-repeat;}
.ui-more-expand-l-arrow{background-position:-2px -72px;}
.ui-more-drop-l:hover,.ui-more-expand-l:hover{color:#b10000;text-decoration:none;}
.ui-more-drop-l:hover .ui-more-drop-l-arrow{background-position:-2px -78px;}
.ui-more-expand-l:hover .ui-more-expand-l-arrow{background-position:-2px -84px;}
.ui-more-drop-s,.ui-more-expand-s{position:relative;display:inline-block;height:25px;line-height:25px;padding:0 20px 0 0;color:#333;}
.ui-more-drop-s-arrow,.ui-more-expand-s-arrow{position:absolute;display:inline-block;top:12px;right:10px;height:3px;line-height:3px;width:5px;background:url(http://a.tbcdn.cn/apps/tmall/mui/more/img/more.png) -0px -90px no-repeat;}
.ui-more-expand-s-arrow{background-position:-6px -90px;}
.ui-more-drop-s:hover,.ui-more-expand-s:hover{color:#b10000;text-decoration:none;}
.ui-more-drop-s:hover .ui-more-drop-s-arrow{background-position:-0px -94px;}
.ui-more-expand-s:hover .ui-more-expand-s-arrow{background-position:-6px -94px;}
.ui-feed{background:url(http://a.tbcdn.cn/apps/tmall/mui/feed/img/feed.png) no-repeat;bottom:263px;display:block;height:52px;outline-style:none;overflow:hidden;position:fixed;_position:absolute;right:11px;text-indent:-999px;width:58px;z-index:110;opacity:.5;filter:alpha(opacity=50);-moz-transition:opacity .3s ease-in,opacity .3s ease-out;-webkit-transition:opacity .3s ease-in,opacity .3s ease-out;-o-transition:opacity .3s ease-in,opacity .3s ease-out;transition:opacity .3s ease-in,opacity .3s ease-out;}
.ui-feed:hover{opacity:1;filter:alpha(opacity=100);}
