.tshop-psm-lzs10c .shop-view-num .bd{padding:8px 6px;height:93px;}
.tshop-psm-lzs10c .shop-view-num .bd li{height:21px;line-height:21px;padding:5px 0;}
.tshop-psm-lzs10c .shop-view-num .bd .time{float:left;width:44px;line-height:21px;background:url(http://img03.taobaocdn.com/tps/i3/T1tHOXXmXkXXXXXXXX-44-21.gif);color:#363636;font-weight:bold;text-align:center;font-size:13px;}
.tshop-psm-lzs10c .shop-view-num .bd .num{float:right;width:126px;font-weight:bold;font-size:14px;background:url(http://img04.taobaocdn.com/tps/i4/T1tYOXXmXkXXXXXXXX-126-21.gif);color:#4a4a4a;text-align:center;}
.tshop-psm-lzs10c .shop-view-num .ft{height:27px;line-height:27px;padding:0 8px;background:#FFF;text-align:right;border-top:1px dashed #b8b8b8;}
.tshop-psm-lzs10c .shop-view-num .ft a{color:#36c;text-decoration:underline;}
.main-wrap .tshop-psm-lzs10c .shop-view-num .bd{height:31px;}
.main-wrap .tshop-psm-lzs10c .shop-view-num .bd li{float:left;width:30%;margin-right:3%;}
.tshop-pbsm-wq10c .shop-2w{width:190px;margin:0 auto;}
.tshop-pbsm-wq10c .shop-2w .bd h4{height:14px;line-height:14px;color:#333;padding-left:24px;margin:5px 0;background:url(http://img04.taobaocdn.com/tps/i4/T1t5GGXjtoXXXXXXXX-145-74.png) no-repeat;}
.tshop-pbsm-wq10c .shop-2w .bd .item{padding-bottom:10px;}
.tshop-pbsm-wq10c .shop-2w .bd .item .cont{word-wrap:break-word;}
.tshop-pbsm-wq10c .shop-2w .bd .item1,.tshop-pbsm-wq10c .shop-2w .bd .item2{background:url(http://img02.taobaocdn.com/tps/i2/T1jOyGXjJoXXXXXXXX-166-1.jpg) left bottom no-repeat;}
.tshop-pbsm-wq10c .shop-2w .bd .item1 h4{background-position:0 0;}
.tshop-pbsm-wq10c .shop-2w .bd .item2 h4{background-position:0 -14px;}
.tshop-pbsm-wq10c .shop-2w .bd .item3 h4{background-position:0 -28px;}
.tshop-pbsm-wq10c .shop-2w .bd .item2 .shoplink{font-size:14px;color:#e84709;}
.tshop-pbsm-wq10c .shop-2w .bd .item2 .img2wbg{width:140px;height:188px;margin:12px auto 5px;background:url(http://img03.taobaocdn.com/tps/i3/T1IyGGXiNoXXXXXXXX-140-188.jpg) no-repeat;}
.tshop-pbsm-wq10c .shop-2w .bd .item2 .img2wbg .img2w{padding-top:8px;}
.tshop-pbsm-wq10c .shop-2w .bd .item2 .img2wbg .img2w a{display:block;width:124px;margin:0 auto;}
.tshop-pbsm-wq10c .shop-2w .bd .down{width:145px;height:32px;margin:10px auto 0;background:url(http://img04.taobaocdn.com/tps/i4/T1t5GGXjtoXXXXXXXX-145-74.png) no-repeat left bottom;}
.tshop-pbsm-wq10c .shop-2w .bd .down a{display:block;height:32px;line-height:32px;text-align:center;text-decoration:none;color:#fff;font-size:14px;font-weight:700;}
