/*pub-1|2013-05-08 09:50:40*/.tb-quanzi-widget-popup{right:0;bottom:30px}
.tstart-quanzi-panel{border:1px solid #d9d9d9;width:315px;overflow:hidden}
.tstart-quanzi-panel iframe{display:block}
.tstart-quanzi-panel .tstart-quanzi-hd{height:35px;line-height:35px;font-size:14px;color:#555;border-bottom:1px solid #d9d9d9;background-color:#f2f2f2}
.tstart-quanzi-panel .tstart-quanzi-hd h3{padding-left:14px;padding-right:14px}
.tstart-quanzi-panel .tstart-quanzi-hd .tstart-quanzi-close{float:right;font-size:16px;font-weight:bold;color:#aaa;cursor:pointer;padding-right:14px}
.tstart-quanzi-panel .tstart-quanzi-hd .tstart-quanzi-hd-name{padding-right:5px;padding-left:5px}
.tstart-quanzi-panel .tstart-quanzi-ft{background-color:#f8f8f8;height:30px;line-height:30px;padding-left:14px}
.tstart-quanzi-panel .tstart-quanzi-ft .tstart-quanzi-ignore{color:#CCC;text-decoration:underline}
.tstart-quanzi-panel .tstart-quanzi-ft .tstart-quanzi-ignore:hover{color:#777}
